[2021-06-03 11:45] muxuelan opened #6 "Case "HTTPS GateWay": use "curl -k" is enough without key file"
**What happened**:
Using “curl -k https://ip:port” without certificate file is enough to access the service.
![image](https://user-images.githubusercontent.com/71764707/120638601-eaebcc80-c4a2-11eb-9aaf-19897de069a0.png)

**What you expected to happen**:
When gateway is mode " https", accessing the service must carrying certificate files

**How to reproduce it (as minimally and precisely as possib

[2021-06-03 12:09] muxuelan opened #7 "'Gateway' doesn't work once EdgeMesh-Ingress-Gateway is deployley firstly"
**What happened**:
Gateway works:
1) Create new 'Gateway' and 'VirtualService'
2) Deploy edgemesh-gateway
![image](https://user-images.githubusercontent.com/71764707/120641488-3bb0f480-c4a6-11eb-89c7-27beebd63050.png)

Gateway  fails:
1) Deploy edgemesh-gateway
2) Create new 'Gateway' and 'VirtualService'
![image](https://user-images.githubusercontent.com/71764707/120641930-d3164780-c4a6-11eb-82a2

[2021-06-03 12:22] muxuelan opened #8 "'VirtualService' is deleted while 'Gateway' exists , EdgeMesh-Ingress-Gateway still works"
**What happened**:
1) 'Gateway' and 'VirtualService' all exist, EdgeMesh-Ingress-Gateway work ，it's ok
![image](https://user-images.githubusercontent.com/71764707/120642984-263cca00-c4a8-11eb-900f-b35327ef3c64.png)

2）only 'Gateway' exists，EdgeMesh-Ingress-Gateway fails，it shouldn't be
![image](https://user-images.githubusercontent.com/71764707/120643552-e4605380-c4a8-11eb-99b6-1eaca74b6d0f.png)

[2021-06-07 08:05] Poorunga commented on #6
Thanks for raising this issue. This problem may be a bug, we are locating now.

[2021-06-08 06:51] muxuelan commented on #8
The issus is similar to https://github.com/kubeedge/kubeedge/issues/2769
The solution can refers to https://github.com/kubeedge/kubeedge/pull/2811

[2021-06-08 06:51] muxuelan commented on #7
The issus is similar to kubeedge/kubeedge#2769
The solution can refers to kubeedge/kubeedge#2811

[2021-06-08 06:54] muxuelan commented on #7
The issus is similar to kubeedge/kubeedge#2769
The solution can refers to kubeedge/kubeedge#2811

[2021-06-08 06:54] muxuelan commented on #8
The issus is similar to kubeedge/kubeedge#2769
The solution can refers to kubeedge/kubeedge#2811

[2021-06-08 06:54] #8 closed

[2021-06-08 07:32] Poorunga commented on #7
@fisherxu Please consider merge this pr: https://github.com/kubeedge/kubeedge/pull/2811

[2021-06-09 02:43] blackdobb opened #9 "Deploying edgemesh failed"
**What happened**:

I deployed edgeMesh following the readme, but it doesn’t seem to work
I prepared two nodes, a master node and an edge node.
I run a Pod on the edge node, and the yaml files of the pod and service are as follows:
---
apiVersion: v1
kind: Pod
metadata:
  name: pod-b
  labels:
    app: edge-nginx
spec:
  containers:
    - image: nginx
      name: hello
      ports:
        - conta

[2021-06-09 03:20] blackdobb commented on #9
This is my logs:
6月 05 14:16:43 nano-desktop systemd[1]: Started edgecore.service.
6月 05 14:16:47 nano-desktop edgecore[3987]: INFO: Install client plugin, protocol: rest
6月 05 14:16:47 nano-desktop edgecore[3987]: INFO: Installed service discovery plugin: edge
6月 05 14:16:47 nano-desktop edgecore[3987]: I0605 14:16:47.390284    3987 server.go:72] Version: v1.6.1
6月 05 14:16:47 nano-desktop edgeco

[2021-06-09 03:33] Poorunga commented on #9
EdgeMesh needs a cluster ip for each service, you can try to remove `cluserIP: None` and try again. :)

[2021-06-09 06:30] blackdobb commented on #9
I removed it, but on the edge side, the response just like the same:

[code]

if I curl the Ip+port, it will be like:

[code]

the svc as follows:
[root@master-7-1 tmp]# kubectl get svc
NAME         TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)          AGE
edge-nginx   ClusterIP   10.107.71.152    <none>        18080/TCP        4m32s

[2021-06-09 08:31] Poorunga commented on #9
Can you provide edgemesh log information? You can use the following command:
[code]

[2021-06-09 09:28] blackdobb commented on #9
I just checked the containers running on the edge side. there is no edgemesh, I thought there must be something wrong on the deploy part. How could i deploy the edgeMesh. So far, i just following the steps on the readMe, but I blocked in the Test Case. Other steps went well.

These are containers on the edge node:

[code]
Only the first container has logs, showing like:

[code]

These are the cont

[2021-06-09 11:30] Poorunga commented on #9
EdgeMesh is created using `DaemonSet`, and each edge node is deployed one. Try it with the following command:
[code]
You can use the `kubectl get all -n kubeedge` to check whether edgemesh is deployed successfully. **If the deployment fails, please tell me what went wrong.**

[2021-06-10 02:44] blackdobb commented on #9
Yeap, Of cause I have do it on the master node, and it show me `configmap/edgemesh-cfg created` `daemonset.apps/edgemesh created`.
when i do `kubectl get all -n kubeedge` , there is a daemonset:

[code]

I don't know what's going on

[2021-06-10 07:10] khalid-davis commented on #9
The "DESIRED" is zero in the damonset.apps/edgemesh, which indicates that no proper node can be used to deploy the pod. You need to check the node label and daemonset selector or affinity.

[2021-06-10 07:28] yz271544 opened #10 "Problems with accessing external services through edgemesh at the edge"
**What happened**:
## Prerequisites
make a ubuntu-test image from ubuntu:21.04, and install with `telnet`, `net-tools`, `dnsutils`, `mosquitto`, `mosquitto-clients`, `inetutils-ping` etc.

run it to a container from yaml:
[code]

## Success case
在边缘端pod层面创建一个mosquitto容器，供边缘端edge-ubuntu-test访问。
Create a mosquitto container at the edge pod for access by edge-ubuntu-test.
### service -> endpoints

1.

[2021-06-10 08:46] Poorunga commented on #10
@yz271544 Good issue!
In your successful case, edgemesh works normally, but some error logs are still printed, as you said:
[code]
This is because we did not gracefully close the tcp connection, which does not affect edgemesh use (but we will optimize it later).

In your failed case, because edgemesh did not associate the `Endpoints`  when selecting the backend instance, but instead looked for the

[2021-06-10 10:01] blackdobb commented on #9
Thank you so much, but I just fix it,  it still not work. There are two damonset pod running on the edge nodes are Error

[code]
This is the log of these two pod:
[code]

The daemonset details as follow:

[code]

[code]

I'm sry for lots of doubts, I'm a fresh man on kubeedge

[2021-06-10 10:40] Poorunga commented on #9
Are the two machines not of amd64 architecture?

By the way, you can do what you want on a machine where edgemesh is already running. :)

[2021-06-11 01:45] blackdobb commented on #9
no it's arm64,Ubuntu 18.04.5 LTS, but the other nodes are not the edge nodes I need, they are all CentOS

[2021-06-11 02:19] Poorunga commented on #9
Maybe you need to check daemonset selector or affinity, ensure that edgemesh only runs on edge nodes.

[2021-06-11 07:35] blackdobb commented on #9
The machine on my edge side is arm64. I just checked the images "poorunga/edgemesh" , it looks like only support Linux/Amd64 but arm64. Is there other way to deploy edgemesh

[2021-06-11 07:37] blackdobb commented on #9
The machine on my edge side is arm64. I just checked the images "poorunga/edgemesh" , it looks like only support Linux/Amd64 but arm64. Is there other way to deploy edgemesh

[2021-06-11 07:44] Poorunga commented on #9
Sorry, this is a shortcoming in our work. We will provide you with a image of kubeedge/edgemesh_arm64:v1.7.0 soon. :)

[2021-06-11 07:44] Poorunga commented on #9
/cc @fisherxu

[2021-06-11 08:53] blackdobb commented on #9
Thanks for your patience ! Well Done

[2021-06-11 08:53] #9 closed

[2021-06-16 10:14] yz271544 commented on #10
I did not find a file similar to hack/local-up-xxx.sh in the code. I tried to use go-delve with edgemesh code to debug in the k8s virtual machine environment, but the container crashed and exited. Can you describe your development environment below? Can you communicate via email if it's convenient? lyndon.hu9@gmail.com

[2021-06-17 01:35] Poorunga commented on #10
hack/local-up-xxx.sh file will be added in the future. When debugging, you can deploy edgemesh as a binary file instead of a container. Remember to create the edgemesh.yaml file in the `/etc/kubeedge/config` directory.

[2021-06-18 14:30] Icedroid opened #17 "After add a new edge node, the edge node can't access the service"
I have two edge node,  one node to curl  service is normal, But after I add another edge node it can't access service:
[code]

After I restart cloudcore and edgecore, It is ok.

**Environment**:
- EdgeMesh version: v1.7.0
- Kubernetes version (use `kubectl version`): v1.16.1
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): v1.7.0

[2021-06-21 06:48] Poorunga commented on #17
Can you provide us with more information through `docker logs -f <edgemesh_container_id>`?

[2021-06-22 03:38] Icedroid commented on #17
@Poorunga I have restrat cloudcore edgemesh, now the logs is gone. Next time I add new edge node may be it happen, you can reproduce for add a new  vm edge node.

[2021-06-22 08:59] khalid-davis commented on #17
/assign @khalid-davis

[2021-07-12 02:36] #10 closed

[2021-07-12 09:01] stingshen opened #20 "03-configmap.yaml and 04-deployment.yaml are missing"
**What happened**:

I am following README.md to test HTTP Gateway, but 03-configmap.yaml and 04-deployment.yaml are not found.

**What you expected to happen**:

03-configmap.yaml and 04-deployment.yaml are in code base.

**How to reproduce it (as minimally and precisely as possible)**:

Follow README.md to deploy edgemesh-gateway

**Anything else we need to know?**:

**Environment**:
- EdgeMesh v

[2021-07-12 09:06] Poorunga commented on #20
The file is here: https://github.com/kubeedge/edgemesh/tree/main/build/kubernetes/edgemesh-gateway

[2021-07-12 09:08] stingshen commented on #20
thank you!

[2021-07-12 09:08] #20 closed

[2021-07-13 06:16] Poorunga commented on #6
/assgin @Poorunga

[2021-07-13 06:24] khalid-davis commented on #17
/assign @Poorunga

[2021-07-13 06:25] Poorunga commented on #6
/assgin @Poorunga

[2021-07-13 06:25] Poorunga commented on #7
/assgin @Poorunga

[2021-07-13 06:27] Poorunga commented on #6
/assgin @khalid-davis

[2021-07-13 06:28] khalid-davis commented on #7
/assgin @Poorunga

[2021-07-13 06:28] khalid-davis commented on #7
/assgin @khalid-davis

[2021-07-13 06:29] khalid-davis opened #21 "Just test"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

    - Hardware configuration (

[2021-07-13 06:30] khalid-davis commented on #21
/assgin @Poorunga

[2021-07-13 06:31] #21 closed

[2021-07-31 02:42] RobinsChens opened #24 "1.7.1 metaServer doesn't work well"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version: release-1.7
- Kubernetes version (use `kubectl version`): 1.18.20
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`): 1.7.1
- <details><summary>Cloud nodes Environment:</summary>

[2021-07-31 03:03] ZBoIsHere commented on #24
@RobinsChens if you curl 127.0.0.1:10550/api/v1/services get a success response, it looks like metaServer work well. when you curl hostname-svc46.edgemesh-test:12345 get a unknown error, can you paste the edgemesh log when you launch a request.

[2021-07-31 03:08] ZBoIsHere commented on #24
/assign

[2021-08-02 01:04] lclxg opened #25 "Edgemesh support cni"
**What would you like to be added/modified**:

**Why is this needed**:

[2021-08-02 01:05] #25 closed

[2021-08-02 01:20] ZBoIsHere commented on #25
@lclxg Hello, lclxg, can you describe EdgeMesh support CNI in a little more detail, not just pr, idea is also welcome.

[2021-08-06 06:36] RobinsChens commented on #24
E0806 06:26:15.273033       1 dns.go:287] [EdgeMesh] service hostname-svc.edgemesh-test is not found in this cluster
W0806 06:26:15.273069       1 dns.go:122] [EdgeMesh] failed to resolve dns: get from real dns
W0806 06:26:15.273087       1 dns.go:122] [EdgeMesh] failed to resolve dns: get from real dns
E0806 06:26:17.292035       1 dns.go:287] [EdgeMesh] service hostname-svc.edgemesh-test is not

[2021-08-06 07:16] ZBoIsHere commented on #24
[root@chenwei78 ~]# kubectl -n edgemesh-test get svc -owide
NAME             TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)     AGE   SELECTOR
hostname-svc     ClusterIP   None         <none>        12345/TCP   24h   app=hostname-edge
hostname-svc46   ClusterIP   None         <none>        12345/TCP   34h   app=hostname-edge46

@RobinsChens which service type of hostname-svc, in this i saw the Clu

[2021-08-09 06:56] RobinsChens commented on #24
➜  keadm git:(v1.7.0offline) ✗ kubectl -n edgemesh-test delete svc hostname-svc45
service "hostname-svc45" deleted
➜  keadm git:(v1.7.0offline) ✗ kubectl -n edgemesh-test get pod,ep,svc -o wide
NAME                READY   STATUS    RESTARTS   AGE     IP           NODE     NOMINATED NODE   READINESS GATES
pod/hostname-edge   1/1     Running   1          3d20h   172.17.0.2   edge46   <none>

[2021-08-09 08:09] RobinsChens commented on #24
edgemesh daemonset always  concreating

edgemesh-ww6j8   0/1     ContainerCreating   0          13m    192.168.1.10    edge01   <none>           <none>

[2021-08-09 08:11] RobinsChens commented on #24
i change the service type to none for testing,now i set it back

[2021-08-09 11:01] ZBoIsHere commented on #24
@RobinsChens do <curl hostname-svc.edgemesh-test:12345 -v> on your host, and paste the result to me;
In addition, If the service name can't be resolve, then an error may occur in the edgemesh DNS module;
If the backend is healthy, but the request failed, then an error may occur in edgemesh proxy module;

[2021-08-10 00:45] RobinsChens commented on #24
[root@edge46 ~]# curl hostname-svc.edgemesh-test:12345 -v
* About to connect() to hostname-svc.edgemesh-test port 12345 (#0)
*   Trying 10.102.52.176...

[2021-08-10 00:53] RobinsChens commented on #24
[root@edge46 ~]# curl hostname-svc.edgemesh-test:12345 -v
* About to connect() to hostname-svc.edgemesh-test port 12345 (#0)
*   Trying 10.102.52.176...

* Connection timed out
* Failed connect to hostname-svc.edgemesh-test:12345; Connection timed out
* Closing connection 0
curl: (7) Failed connect to hostname-svc.edgemesh-test:12345; Connection timed out

[2021-08-10 00:54] RobinsChens commented on #24
[root@edge46 ~]# curl localhost:9376
hostname-edge
[root@edge46 ~]# iptables -L
Chain INPUT (policy ACCEPT)
target     prot opt source               destination

Chain FORWARD (policy ACCEPT)
target     prot opt source               destination
DOCKER-USER  all  --  anywhere             anywhere
DOCKER-ISOLATION-STAGE-1  all  --  anywhere             anywhere
ACCEPT     all  --  anywhere

[2021-08-10 01:34] ZBoIsHere commented on #24
From the info above, the service name can resolve into clusterIP, and the backend is healthy. Probably the edge proxy module does't work well.
do the cmd <iptables -L -t nat> in you host, and check EDGE_MESH chain exist or not
and open the log by <docker logs -f $edgemeshid> when you launch a request to see the detail

[2021-08-10 02:50] RobinsChens commented on #24
[root@edge46 ~]# iptables -L -t nat
Chain PREROUTING (policy ACCEPT)
target     prot opt source               destination
EDGE-MESH  tcp  --  anywhere             9.251.0.0/16
DOCKER     all  --  anywhere             anywhere             ADDRTYPE match dst-type LOCAL
EDGE-MESH  tcp  --  anywhere             10.10.0.0/16
EDGE-MESH  tcp  --  anywhere             10.96.0.0/12

Chain INPUT (policy ACC

[2021-08-10 02:53] RobinsChens commented on #24
i find some special issue

[root@master01 edgemesh]# kubectl get svc -A
NAMESPACE       NAME                 TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)                  AGE
default         kubernetes           ClusterIP   10.96.0.1        <none>        443/TCP                  4d18h
edgemesh-test   hostname-svc         ClusterIP   10.96.176.71     <none>        12345/TCP                39m

[2021-08-12 09:00] Poorunga opened #30 "Cannot see the iptables EDGE-MESH chain on centos8"
**What happened**:

When edgemesh-agent is running on the centos8 system, we cannot see the EDGE-MESH chain through the command:
[code]
However, we can see the EDGE-MESH chain on the ubuntu 18.04 system.

PS:
what kind iptables centos8 use: iptables v1.8.2 (nf_tables)
what kind iptables ubuntu18.04 use: iptables v1.6.1 (legacy)

**What you expected to happen**:

No matter which system the edgemesh

[2021-08-12 09:00] Poorunga commented on #30
/assgin

[2021-08-12 09:03] Poorunga commented on #30
/assgin @Poorunga #

[2021-08-12 09:03] Poorunga commented on #30
/assgin @Poorunga

[2021-08-13 05:04] EnfangCui commented on #24
Have you solved this problem? I also encountered this problem.
[code]

[2021-08-13 05:18] EnfangCui opened #31 "Could not resolve host: hostname-svc.default (Failed to watch *v1alpha3.DestinationRule:)"
OS: ubuntu 18.04.4 LTS
KubeEdge version: v1.7.1
EdgeMesh version: v1.7.0
K8S version:1.9.0

Problem:
[code]
When I do this: docker logs -f  "edgemesh agent container id"
It returns an error "Failed to watch *v1alpha3.DestinationRule" like follows:
[code]

My yaml : kubectl apply -f examples/hostname.yaml
[code]

curl 127.0.0.1:10550/api/v1/services on edgenode
[code]

[2021-08-13 06:38] Poorunga commented on #31
I guess the crd of destinationRule is not installed. Check it like this:
[code]

If you can't see anything, you can try this command:
[code]

Finally, you can redeploy edgemesh-agent and tell me if the problem is solved :)

[2021-08-13 06:38] Poorunga commented on #31
/assgin

[2021-08-13 07:17] EnfangCui commented on #31
@Poorunga Thank you very much. This problem has been solved, but a new problem has arisen

[code]

[2021-08-13 07:22] Poorunga commented on #31
Are you using the code from the main branch?

[2021-08-13 08:35] vcozzolino commented on #31
I have the same problem. I'm using the image kubeedge/edgemesh:v1.7.0 and I also installed the destinarionrules crd. However, the problem is still there as I can see in my gateway logs the following:

[code]

If you carefully read the log, you can see that it's looking for a kind named "DestinationrulList". Isn't there a typo? Shouldn't it be "Destinationrul**e**List"?

[2021-08-13 08:36] EnfangCui commented on #31
Thank you very much. I switched to the release-1.7.0, and the problem was solved. I used main branch before.

[2021-08-13 08:39] EnfangCui commented on #31
1

[2021-08-13 08:50] Poorunga commented on #31
I don't think it is a typo problem.

Perhaps you should first check if the list-watch capability of edgecore is working properly, try it:

[2021-08-13 08:52] Poorunga commented on #31
@vcozzolino  I don't think it is a typo problem.

Perhaps you should first check if the list-watch capability of edgecore is working properly, try it:
[code]

[2021-08-13 08:54] vcozzolino commented on #31
@Poorunga I can run the command without problems:

[code]

[2021-08-13 09:06] Poorunga commented on #31
@vcozzolino You mean that edgemesh can work normally, but it will continuously print these error logs?

[2021-08-13 09:14] EnfangCui commented on #31
Yes, the URL can be resloved to IP address, but is also has these error logs.
[code]
What's more, I have another problem:
[code]
I'll try to re-install edgemesh to see if this problem will happen again.

[2021-08-13 09:22] Poorunga commented on #31
@EnfangCui  Please copy more edgemesh log for me, after you execute `curl -v hostname-svc.default:12345`

[2021-08-13 09:48] RobinsChens commented on #24
yes , i

some new problem appears now ,

Aug 13 17:39:02 edge01 edgecore: E0813 17:39:02.779293    9489 secret.go:195] Couldn't get secret default/default-token-jrlsw: get secret from metaManager failed, err: timed out waiting for the condition
Aug 13 17:39:02 edge01 edgecore: I0813 17:39:02.779376    9489 record.go:24] Warning FailedMount MountVolume.SetUp failed for volume "default-token-jrlsw"

[2021-08-13 09:51] RobinsChens commented on #24
yes, you can attention

部署 edgemesh 组件-- need to change service-cluster-ip-range

[code]

[2021-08-13 11:25] EnfangCui commented on #31
@Poorunga Thank you very much. I solved this problem. I configure the **subnet** in 03-configmap.yaml to the service cluster IP range value of Kube apiserver. The range value can be found in **/etc/kubernetes/manifests/kube-apiserver.yaml**.

[2021-08-13 13:35] EnfangCui commented on #24
Thank you very much. I successfully solved the problem according to this solution.

[2021-08-13 13:42] EnfangCui commented on #24
Thank you very much. I successfully solved the problem according to this solution.

[2021-08-13 15:21] Poorunga commented on #31
@vcozzolino You can also check whether it is a **subNet** setting problem. Refer to release-1.7 **readme**:
[code]
You also can try `kubectl cluster-info dump | grep "service-cluster-ip-range"` to obtain subNet.
Then update the **subNet** field of the configmap/edgemesh-cfg and redeploy edgemesh.

If edgemesh still does not work, please tell me what happened :)

[2021-08-16 03:19] ZBoIsHere opened #32 "EdgeMesh-Gateway exit due to port conflict"
**What happened**:
I create a gateway listening on port 12345, and on this machine, this port already on use
Then the process gateway exit due to the port conflict
**What you expected to happen**:
even the port conflict, the gateway log should print error but not exit
**How to reproduce it (as minimally and precisely as possible)**:
create a app listen on 12345
create a gateway crd listen on 12345

[2021-08-16 03:24] ZBoIsHere commented on #32
![image](https://user-images.githubusercontent.com/44860970/129507496-439facae-26ff-440c-82f1-447b8180bd88.png)
/assign

[2021-08-16 07:26] vcozzolino commented on #31
After changing the subnet field in the YAML file, I can see that some DNS entries are appearing in the edgemesh agent logs:
[code]

However, the DNS resolution still doesn't work but I think that it might not be related to edgemesh. I'm running some sanity checks on the cluster to see if there is something broken with kube-dns.

[2021-08-16 08:41] Poorunga commented on #31
@vcozzolino What is your KubeEdge version and K8s version? Maybe it would be better for us to discuss your trouble in a new ISSUE topic :)

[2021-08-16 10:23] vcozzolino commented on #31
Yes, I will create a new issue. Things are looking better now because the `dig` command returns an answer when I try to resolve hostname-svc.kubeedge but I still see too many errors in the edgemesh agent logs.

[2021-08-16 14:00] Poorunga commented on #31
@vcozzolino The lower version of KubeEdge (<1.7.0) may have some bug, you can refer to: https://github.com/kubeedge/kubeedge/issues/2769

[2021-08-17 02:47] khalid-jobs opened #34 "CI e2e test support"
**What would you like to be added/modified**:
I would like to add a e2e test framework for edgemesh and support  ci e2e.

**Why is this needed**:
Through this, we can have a means to know whether it will affect existing functions when making changes or new features, and at the same time standardize the development process

[2021-08-17 02:47] khalid-davis commented on #34
/assign

[2021-08-17 07:32] ZBoIsHere commented on #32
solved in https://github.com/kubeedge/edgemesh/pull/37

[2021-08-17 07:46] ZBoIsHere opened #38 "Session Persistence can't use when transport http data through tcp"
**What happened**:
Session Persistence can not work after transport http data through tcp
**What you expected to happen**:
Session Persistence can work well
**How to reproduce it (as minimally and precisely as possible)**:
create a deployment contains three http server
create a service associate with this three pods
create a destination rule associate with this service and the load balance policy

[2021-08-17 07:49] ZBoIsHere commented on #38
/assign

[2021-08-17 07:54] ZBoIsHere opened #39 "virtual service can not use when transport http data through tcp"
**What happened**:
virtual service can not use when transport http data through tcp
if virtual service associate one more service, the traffic only redirect to the first service
**What you expected to happen**:
virtual service can work well
**How to reproduce it (as minimally and precisely as possible)**:
create deploymentA contains 3 http serverA
create deploymentB contains 3 http serverB
create

[2021-08-17 07:58] ZBoIsHere opened #40 "support http protocol in cross lan communication"
**What would you like to be added/modified**:
In the feature of session persistent and virtualService, the http data should be understand by edgemesh-agent, not transport by tcp transparently
**Why is this needed**:
session persistent and virtualService is the key feature of edgemesh, so it can not be abort after the feature of cross lan communication

[2021-08-17 08:10] ZBoIsHere commented on #38
/assign

[2021-08-17 08:10] ZBoIsHere commented on #39
/assign

[2021-08-17 08:10] ZBoIsHere commented on #40
/assign

[2021-08-17 14:32] vcozzolino opened #42 "ERROR: Lb err: [pod list is empty] when accessing a service hosted on a different edge node"
OS: ubuntu 20.04.4 LTS
KubeEdge version: v1.7.1
EdgeMesh version: v1.7.0
K8S version:1.9.0

I have an infrastructure composed of two edge nodes as shown in the picture below:

![image](https://user-images.githubusercontent.com/86008108/129745814-7ccc216d-23c8-409d-849a-2f64fd28b1e5.png)

All nodes are healthy:
[code]

For both services, I can resolve the IP using `dig` from both VMs. This means th

[2021-08-17 14:44] vcozzolino commented on #31
The problem is now solved also on my side. I had to stop cloudcore and edgecore, remove my edgemesh-gateway deployments and, especially, delete all the kubeedge objectsync entries in my cluster ( I had more than 1k). After that, everything started working normally.

[2021-08-18 01:22] ZBoIsHere commented on #42
@vcozzolino paste the service manifest here and the edgemesh version you use; do you deploy the edgemesh-server and edgemesh-agent or you just deploy edgemesh-agent?

[2021-08-18 01:23] khalid-davis commented on #42
Do you mean that it is only work when you curl from VM1 to Service L1 or from VM2 to Service L2? By the way, could you provide the log of `kubectl get pod -o wide`, so we can see the status of the pods.

[2021-08-18 01:26] khalid-davis commented on #42
It is better to provide the status of pods in default namespaces using `kubectl get pod -o wide`. The `pod list is empty` means that there is not any ready pod for the service.

[2021-08-18 07:05] vcozzolino commented on #42
@ZBoIsHere I'm using version 1.7 and I deployed edgemesh following these instructions:
[code]

The service YAML is generated programmatically by my custom controller. After the generation, it looks like this (it's the same for service L2):
[code]

@khalid-davis The pods are ready and running, they work normally. This is the output:
[code]

[2021-08-18 08:35] ZBoIsHere commented on #42
1. VM1->Service1 and VM2->Service2 are successful, VM1->Service2 and VM2 ->Service1 are failed, so the manifest of deployment and service is correct, but the edgemesh looks like loss the manifest. there maybe two reasons, one, the metaServer of edgecore can not get the manifest, two, edgemesh can not get the manifest from metaServer
2. on VM1, curl 127.0.0.1:10550/api/v1/namespaces/default/endpoin

[2021-08-18 08:49] vcozzolino commented on #42
This is the output of `$ curl 127.0.0.1:10550/api/v1/namespaces/default/endpoints/pedestrian-tracking-l2-edge-svc | json_pp` from VM1:

[code]

Maybe another question, is `kubeedge/edgemesh:v1.7.0` the right image to use for version 1.7? I'm a little bit confused, the error `pod list is empty` come from a section of the code that is not in release-1.7? [link](https://github.com/kubeedge/edgemesh/b

[2021-08-18 09:55] ZBoIsHere commented on #42
this error is in release-1.7, in this section, it only return an error

[2021-08-18 12:23] ZBoIsHere commented on #42
![image](https://user-images.githubusercontent.com/44860970/129897360-89aabc2c-c4b4-40ab-aac8-0b9241c04ded.png)

[2021-08-18 12:33] ZBoIsHere opened #43 "remove hostPort restriction"
**What would you like to be added/modified**:
remove the restriction of hostport when create deployment or daemonset and pod
**Why is this needed**:
when you create a pod template on kubernetes, you can add hostPort depending on you needs, but in edgemesh, in order to solve service communication cross host, it require add hostPort in pod template.
In the feature of cross lan communication, we add

[2021-08-18 13:19] #32 closed

[2021-08-18 16:12] Poorunga opened #44 "Demo: cross-edge-cloud communication between pods"
KubeEdge community meeting Aug 18th, 2021 (Europe Time)

Today my topic is **EdgeMesh: Cross-edge-cloud communication between pods demo**. And I am here to make a brief summary of what was said at the meeting.

### My Cluster Environment:
![image](https://user-images.githubusercontent.com/43004096/129934286-3f4cc88d-6771-43bc-ad04-9744bb7d7eac.png)

k8s-master is a k8s control-plane and also a k8s

[2021-08-19 06:16] ZBoIsHere commented on #42
`
dig pedestrian-tracking-l1-edge-svc.default
;; Warning: Message parser reports malformed message packet.

; <<>> DiG 9.16.1-Ubuntu <<>> pedestrian-tracking-l1-edge-svc.default
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 30930
;; flags: qr rd ad; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1
;; WARNING: recursion requested but not available

;; QU

[2021-08-19 06:34] vcozzolino commented on #42
I still have the problem. The thing about the different IPs is just because I destroyed and recreated the deployments, it's normal.

Now I'm trying with the latest version of edgemesh, I can get a little bit further but now I have another problem and I'm pretty sure that it's a bug:
[code]

Edgemesh is generating a malformed connection string because it concatenates hostname and IP in the destinat

[2021-08-19 06:47] ZBoIsHere commented on #42
does you build edgemesh image from the latest master code? this bug fixed yesterday

[2021-08-19 06:57] ZBoIsHere commented on #42
/assign

[2021-08-19 10:12] vcozzolino commented on #42
After some digging with @ZBoIsHere, we found the solution to the problem (this applies **only** to the master branch of edgemesh, **not** release-1.7).

For edgemesh to work properly, the kubeconfig files need to be loaded during the bootup phase of both the server and agent. However, adding the following:
[code]
to the `edgemesh-server` (`kubectl edit cm edgemesh-server -n kubeedge`) and `edgemes

[2021-08-20 01:44] Poorunga opened #47 "Secret cannot be updated when edgemesh-agent is started"
**What happened**:
I used the list-watch capability provided by edgecore. And when I try to update the secret, I receive an error log:
[code]

**Anything else we need to know?**:
This problem has been solved, you can refer to https://github.com/kubeedge/kubeedge/issues/3041

**Environment**:
- EdgeMesh version: https://github.com/kubeedge/edgemesh/tree/50147ea8c610d634b6a164bd702a172a4230dabe
- Ku

[2021-08-20 07:03] ZBoIsHere commented on #42
@vcozzolino great work, I reproduce this problem on my host.

[2021-08-20 07:37] vcozzolino commented on #42
I created a PR to fix the deployment and configmap YAML files for server and agent #48

[2021-08-20 07:50] ZBoIsHere commented on #42
@vcozzolino awesome, thanks for your PR

[2021-08-20 08:53] vcozzolino opened #49 "Hardcoded edgemesh-server port"
**What happened**:
Changing the port of the edgemesh-server in the YAML file does not affect the port on which the pod will listen to. It will always listen on port `10004` because it's hardcoded -> [check here](https://github.com/kubeedge/edgemesh/blob/966f3b02fe10e5a615a834a76c7982e44c9ed1c2/server/cmd/edgemesh-server/app/config/config.go#L70).

**What you expected to happen**:
Changing the port

[2021-08-20 09:17] ZBoIsHere commented on #49
@vcozzolino hi, bro, it's not hardcoded, it's default value, you can defined another value in edgemesh-server configmap

[2021-08-20 09:18] ZBoIsHere commented on #49
![image](https://user-images.githubusercontent.com/44860970/130211215-1cab2cdd-217e-4707-b78e-6dc38473c8ce.png)
like that

[2021-08-20 10:25] vcozzolino commented on #49
You are right. I thought that the change should be made in the deployment.yaml for the field `containerPort` because the configmap.yaml has no explicit `listenPort` field.

[code]

Maybe listenPort should be added with the default value to the configmap.yaml.

[2021-08-20 10:25] #49 closed

[2021-08-21 05:04] EnfangCui opened #55 "Test edgemesh on two nodes failed"
OS: ubuntu 18.04.4 LTS
KubeEdge version: v1.7.1
EdgeMesh version: main branch
K8S version:1.9.0

**Problem: curl service URL on both edge node are failed.**

I have three nodes, one as a cloud node and two as edge nodes:
Cloud node: i-cpc3wtjy
Edge nodes: enode1, enode2

Install:
curl 127.0.0.1:10550/api/v1/services on both edge node are OK
Deploy edgemesh-server is done,  public IP is set to node

[2021-08-21 05:06] Poorunga commented on #55
I think the problem lies in:
[code]

You can refer to: https://github.com/kubeedge/edgemesh/issues/47

[2021-08-21 06:11] EnfangCui commented on #55
I find in issue #47 that I need to change ContentType  to application/json. Which file need to change?
I changed contentType  of build/agent/kubernetes/edgemesh-agent/03-configmap.yaml, is it right?
[code]

[2021-08-23 01:31] Poorunga commented on #55
Right

Can you use the `nslookup` command on enode2 to see the DNS results, maybe we can analyze the problem from it.

[2021-08-23 05:53] EnfangCui commented on #55
I get results like this:
[code]

[2021-08-23 06:32] Poorunga commented on #55
I try to execute `nslookup` in my busybox-edge pod:
[code]

I try to execute `nslookup` on my edgenode host:
[code]

The edgemesh-agent logs in both cases are:
[code]

File `/etc/resolv.conf` is in the pod and on the host:
[code]

DNS resolution has been successful, I think. You can see:

Maybe you can try `curl pedestrian-search-reidworker-svc.[namespace]:[port]` and tell me the result or show th

[2021-08-23 08:36] Poorunga commented on #47
/assign

[2021-08-23 08:37] Poorunga commented on #55
/kind bug

[2021-08-23 08:37] Poorunga commented on #55
/assign

[2021-08-23 08:38] Poorunga commented on #30
/assign

[2021-08-23 08:39] Poorunga commented on #31
/assign

[2021-08-24 15:37] Poorunga opened #59 "Failed to watch xxx: failed to list xxx net/http: TLS handshake timeout"
**What happened**:

When I deployed `edgemesh-agent-cloud`, I found that it did not work properly. And when I execute `docker logs -f <edgemesh_container_id>`:
[code]

The log of edgemesh-agent-cloud will print a lot of `net/http: TLS handshake timeout`.

**Why?**

This may be due to the residual iptables or  ip route rules.

1. Iptables rules remain like:
[code]

PREROUTING chain and OUTPUT chain

[2021-08-24 15:38] Poorunga commented on #59
/assign

[2021-08-24 15:39] Poorunga commented on #59
The latest edgemesh-agent and can guarantee that these things will not happen. 👏

[2021-08-25 02:59] EnfangCui commented on #55
Thank you for your help. Today I tried the latest main branch of edgemesh.
 And I used the test case kubectl apply -f examples/tcp-echo-service.yaml.  (namespace: default, replicas: 2)

I found that my  **File /etc/resolv.conf:**  is different from yours. Does it have an impact？

**Problem:**
[code]

**nslookup:**
[code]

**File /etc/resolv.conf:**
[code]

**Other logs:

kubectl get pods -n kubeed

[2021-08-25 03:20] Poorunga commented on #55
edgemesh-agent will write a nameserver record to file `/etc/resolv.conf`, which will affect your DNS requests, like:
[code]

You don’t need to build the image yourself, and we recommend using the latest edgemesh-agent.

[2021-08-25 09:15] vcozzolino commented on #43
Is there any progress on this feature? I would like to have two pods on the same host and access them using a loadbalancer but the hostPort requirement is giving me trouble.

[2021-08-25 10:41] Poorunga commented on #43
@vcozzolino Coming soon 🐱‍🏍

[2021-08-28 06:54] saiyan86 opened #64 "Typo in README"
**What happened**:
In README.md

```offen``` supposed to be ```often```.
**What you expected to happen**:
No typo.

**How to reproduce it (as minimally and precisely as possible)**:
Read it

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summ

[2021-08-30 01:08] #64 closed

[2021-08-30 01:31] Poorunga commented on #47
fix PR #58

/close

[2021-08-30 01:31] #47 closed

[2021-08-30 02:38] Poorunga commented on #59
fix PR #63

/close

[2021-08-30 02:38] #59 closed

[2021-08-30 09:06] #34 closed

[2021-09-01 09:44] yz271544 opened #67 "For user explicit specify which services do not need to be hijacked by edgemesh"
Hi,  Consider adding a label (proxyby=edgemesh) to the service to support the user's declaration of which services do not need to be hijacked by edgemesh.

https://github.com/kubeedge/edgemesh/pull/66#issuecomment-908964875

in the `kubeedge/edgemesh/agent/pkg/proxy/iptables.go`, i try use the `LabelSelector: "proxyby!=edgemesh"`, can filtered services of the not use this label.
[code]

but, i fin

[2021-09-01 12:33] Poorunga commented on #67
I don't think we need to do this.

we can try:
[code]

Finally, add a reminder in the edgemesh README: we do not support headless service.

[2021-09-02 06:39] yz271544 commented on #67
I tested it, if I ignore the headless service, the routing of these services is still edgemesh, which may increase some workload.

so I submitted a new pr #68 , and set the endpoints ip of these headless services without `proxyby=edgemesh` to `RETURN`, let them go kube-proxy.

[2021-09-02 07:22] first-sight12 opened #69 "edgemesh-agent always pending"
**What happened**:
When edgemesh is deployed, edgemesh agent is always in pending state

[code]

Edge node to view edgecore status
![image](https://user-images.githubusercontent.com/88825053/131803622-be604c9a-1423-4366-9cb7-22e875842c6d.png)

![image](https://user-images.githubusercontent.com/88825053/131803569-a1af20fa-43f9-4c3e-a0cb-b2f69818a7e5.png)

**What you expected to happen**:

I hope to

[2021-09-02 07:50] Poorunga commented on #69
/assign

[2021-09-02 07:53] Poorunga commented on #69
This seems to be a KubeEdge bug, and someone has already raised it, you can refer to:
https://github.com/kubeedge/kubeedge/issues/3056
https://github.com/kubeedge/kubeedge/issues/3045
https://github.com/kubeedge/kubeedge/issues/3019

[2021-09-03 03:14] ZBoIsHere commented on #42
/close

[2021-09-03 03:14] #42 closed

[2021-09-03 03:16] ZBoIsHere commented on #24
/close

[2021-09-03 03:16] #24 closed

[2021-09-06 07:29] #67 closed

[2021-09-07 03:32] yz271544 opened #71 "When refreshing iptables, there is a risk of communication interruption between the two services that are communicating"
**What happened**:
When refreshing iptables, there is a risk of communication interruption between the two services that are communicating.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloud

[2021-09-07 07:42] vcozzolino opened #73 "Apache Kafka and Edgemesh"
OS: ubuntu 20.04.4 LTS
KubeEdge version: v1.7.1
EdgeMesh version: v1.7.0
K8S version:1.9.0

My cluster is:
[code]

I'm running an Apache Kafka broker in the cloud node and I wanted to have a second one running on the edge node. I deployed it successfully but I receive some errors from the edgemesh-agent when the broker tries to connect to zookeeper:

[code]

Any ideas on this issue? Maybe the prox

[2021-09-07 08:55] Poorunga commented on #71
/assign

[2021-09-07 09:05] Poorunga commented on #73
/assign

[2021-09-07 09:06] Poorunga commented on #73
Can you provide information about the service? use kubectl edit svc xxx

[2021-09-07 09:25] Poorunga opened #74 "handle l4 proxy err : lb: service emojivoto.emoji-svc has no instances"
**What happened**:
I tried to deploy [emojivoto](https://github.com/BuoyantIO/emojivoto) to test edgemesh. First, I modified the [emojivoto yaml file](https://github.com/BuoyantIO/emojivoto/tree/main/kustomize/deployment) because edgemesh does not support grpc:
[code]
(As same as voting-svc)

Then I try to access this emoji-svc but failed:
[code]

**Anything else we need to know?**:
edgemesh-agent

[2021-09-07 09:26] Poorunga commented on #74
/assign

[2021-09-07 10:05] lynxcat opened #77 "1.6.2 edgemeshAgentCloud doesn't work well"
![image](https://user-images.githubusercontent.com/2222701/132326420-37a8cc9b-0a41-4554-887e-3961bae4bdff.png)
k8s version v1.20.4
kubeedge version 1.6.2
os centos 7.9

[2021-09-07 10:38] lynxcat commented on #77
my k8s cluster uses coredns

[code]

[2021-09-07 11:43] Poorunga commented on #77
/assign

[2021-09-07 11:46] Poorunga commented on #77
/cc @yz271544

I think this pr #66 has fixed the problem, right?

[2021-09-08 01:47] Poorunga commented on #77
@lynxcat  I push a new image, you can try again:
[code]

[2021-09-08 01:52] lynxcat commented on #77
@Poorunga Thanks. Now it has been successful.

[2021-09-08 01:52] #77 closed

[2021-09-08 03:45] lynxcat opened #79 "The default ports of edgemesh-server and edgeStream conflict"
The The default ports of edgemesh-server and edgeStream conflict.

Environment:
- EdgeMesh version:1.8.0
- Kubernetes version (use `kubectl version`):1.20.4
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):1.6.2

[code]

[2021-09-08 06:21] ZBoIsHere commented on #79
Yes, the default port value of edge Stream and edgemesh-server should be different. we will fix it soon.
you can modify the config of edgeStream or edgemesh-server. In edgeStream, the port value is defined in file "/etc/kubeedge/config/cloudcore.yaml", In edgemesh-server, the value is defined in configmap "edgemesh-server" in kubeedge namespace.

[2021-09-08 06:21] ZBoIsHere commented on #79
/assign

[2021-09-08 06:46] lynxcat commented on #79
thanks.
if i modify the config of edgemesh-server.  do i need to change anything else ?

[2021-09-08 08:49] siguoyicl opened #82 "edgemesh-agent-cloud cannnot work nomally"
**What happened**:
when I deploy edgemesh follow the README, the daemonset.app of edgemesh-agent-cloud cannot work normally. It shows DESIRED 0， it is different from README.

**What you expected to happen**:
edgemesh-agent-cloud work nomally
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version: v1.8.0
- Kubernet

[2021-09-08 08:54] Poorunga commented on #82
/assign

[2021-09-08 08:57] Poorunga commented on #82
Please check the node taint-and-toleration, you can refer to https://kubernetes.io/zh/docs/concepts/scheduling-eviction/taint-and-toleration/.

[2021-09-08 08:58] Poorunga commented on #82
@lynxcat Have you encountered the same problem and can you provide your solution?

[2021-09-08 09:01] siguoyicl commented on #82
@Poorunga I deployed edgemesh-agent-edge as well as edgemesh-agent-cloud, it work normally. So I do not know where is the problem.

[2021-09-08 09:41] lynxcat commented on #82
@siguoyicl You can try to check whether this file ( "edgemesh/build/agent/kubernetes/edgemesh-agent/06-configmap-cloud.yaml") is consistent with your local virtual bridge. the default value of configmap-cloud is cni0.

[2021-09-08 11:49] stingshen opened #84 "edgecore doesn't report node ephemeral storage"
**What would you like to be added/modified**:

edgecore reports ephemeral storage which is the behavior of kubelet

![{bcc7d7d2-f0aa-4c2e-88ed-14371762e5d3}](https://user-images.githubusercontent.com/6214067/132504209-3a68a71a-8a75-4383-bd32-ec13ee6cebd3.png)

**Why is this needed**:

To keep parity with kubelet

[2021-09-08 12:01] Poorunga commented on #84
I can’t understand the content, please provide more description and introduction.

[2021-09-09 01:13] siguoyicl commented on #82
@Poorunga @lynxcat According to my understanding, edgemesh-agent-cloud should run on cloud nodes and edgemesh-agent-edge should run on edge nodes. Am I right? It seems impossible to schedule edgemesh-agent-cloud to cloud nodes

[2021-09-09 01:21] Poorunga commented on #82
@siguoyicl Yes, you are right.

DESIRED 0 represents that K8s believes that no node is worth scheduling. Are your cloud nodes normal, or they are tainted?

[2021-09-09 01:32] siguoyicl commented on #82
@Poorunga In my condition, I have a cloud node called ke-cloud, two edge nodes called  ke-edge1 and ke-edge2, now edgemesh-agent-edge has scheduled to edge nodes successfully, edgemesh-agent-cloud cannot be scheduled normally. I have confirmed that the Taints of cloud node is **node-role.kubernetes.io/master:NoSchedule**, so whether this is the cause of this problem.

[2021-09-09 01:41] Poorunga commented on #82
If ke-cloud is a K8s master node, you need remove it's taint.

You can try `kubectl taint node ke-cloud node-role.kubernetes.io/master-`

[2021-09-09 03:31] stingshen commented on #84
Sorry, the issue should be filed to kubeedge repo.

[2021-09-09 03:31] #84 closed

[2021-09-09 03:40] siguoyicl commented on #82
@Poorunga Problem solved, thanks. I have a suggestion that maybe this detail can be added into README.

[2021-09-09 03:45] #82 closed

[2021-09-09 03:46] siguoyicl commented on #82
edgemesh-agent-cloud has scheduled to cloud node successfully by remove cloud node‘s taint

[2021-09-09 03:47] Poorunga commented on #82
OK

[2021-09-09 07:08] vcozzolino commented on #73
This is the Apache Kafka service YAML for the edge node:

[code]

[2021-09-09 12:06] Poorunga commented on #73
EdgeMesh only supports `ClusterIP` type services

[2021-09-10 06:13] vcozzolino commented on #73
Oh, I see. I will change the service type and try again.

[2021-09-11 02:10] Poorunga commented on #73
By the way, service ports must be named. The key/value pairs of port name must have the following syntax: name: `<protocol>[-<suffix>]`.

[code]

[2021-09-13 07:01] vcozzolino commented on #73
Just had the chance to test it, now it works or at least I don't see the error anymore. Thanks!

[2021-09-14 06:14] siguoyicl opened #85 "edgemesh-agent-cloud work unnormally in cloud node"
**What happened**:
I have three nodes, one for cloud node called ke-cloud, two for edge nodes called ke-edge1 and ke-edge2. I have deployed edgemesh-agent-cloud and scheduled to ke-cloud successfully, but it's status is CrashLoopBackOff. The container logs shows that
F0914 06:11:11.697742       1 server.go:56] run edgemesh-agent failed: [
  register module edgeproxy error: get proxy listen ip err:

[2021-09-14 06:19] #85 closed

[2021-09-15 03:04] #71 closed

[2021-09-15 06:19] Poorunga commented on #74
fix #81
/close

[2021-09-15 06:19] #74 closed

[2021-09-15 08:07] khalid-jobs opened #87 "CI e2e improvement"
In the current CI, if the creation of a pod fails, the creation request is not sent again, and the e2e test will failed. It needs to be optimized to add a retry if the creation of a pod fails.
https://github.com/kubeedge/edgemesh/runs/3607557974?check_suite_focus=true

[2021-09-15 08:08] khalid-jobs commented on #87
/kind/good-first-issue

[2021-09-15 08:09] khalid-jobs commented on #87
/good-first-issue

[2021-09-16 03:43] llhuii opened #89 "Add one line command to deploy latest version of EdgeMesh"
**What would you like to be added/modified**:
Add one line command to deploy latest version of EdgeMesh

**Why is this needed**:
It can enhance user experience.

[2021-09-16 13:11] 18664599806 opened #90 "安装edgemesh后，服务域名解析失败"
**What happened**:
安装edgemesh后，在中心集群的节点上POD内无法解析域名（使用服务的Cluster-IP可正常访问服务）
**What you expected to happen**:
在中心集群的节点上POD内能正常解析域名
**How to reproduce it (as minimally and precisely as possible)**:
正常安装edgemesh后，出现此现象
**Anything else we need to know?**:

**Environment**:
- EdgeMesh version:  kubeedge/edgemesh-agent:latest
- Kubernetes version (use `kubectl version`): 1.21.3
- KubeEdge version(e.g. `c

[2021-09-16 15:24] Poorunga commented on #90
云上的edgemesh-agent一般会关闭edgedns模块。
你可以先检查一下在不启动edgemesh的时候，pod内域名解析是否正常。

[2021-09-16 15:24] Poorunga commented on #90
/assgin @Poorunga

[2021-09-16 15:25] Poorunga commented on #90
/assign

[2021-09-16 15:25] Poorunga commented on #90
云上的edgemesh-agent一般会关闭edgedns模块。
你可以先检查一下在不启动edgemesh的时候，pod内域名解析是否正常。

[2021-09-16 15:26] Poorunga commented on #89
fine

[2021-09-16 15:26] Poorunga commented on #89
/assign

[2021-09-16 15:27] Poorunga commented on #89
Adopt your suggestion

[2021-09-16 15:27] Poorunga commented on #89
We will try to use `helm` first.

[2021-09-17 01:38] 18664599806 commented on #90
在部署edgemesh之前，确认域名解析是正常的。 因为是刚重新安装的环境，重新安装的原因是之前有个NPU节点的ascend-device-plugin访问kubernetes的服务有问题，重新安装后解决。有专门确认域名访问正常。

[2021-09-17 01:52] Poorunga commented on #90
好的，可否使用 `kubectl get all -n kubeedge` 看一下edgemesh的部署情况？

[2021-09-17 11:24] s099064146 opened #92 "EdgeMesh-agent deployment failure on Raspberry Pi 4 (ARM based CPU)"
**What happened**:

edgemesh-agent cannot be deployed on Raspberry Pi 4.

[code]
Check docker container through ```docker logs```
[code]

**What you expected to happen**:

EdgeMesh deployment complete without any error

[code]

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy a k8s cluster through ```kubeadm```
2. Deploy a KubeEdge cluster ([Binary Method](https://kubeed

[2021-09-18 00:56] s099064146 commented on #92
Additional note:
KubeEdge v1.8.1 has the very same problem.

- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):

    cloudcore on k8s master node

[code]

    The intel CPU based PC

[code]

    The ARM CPU based Raspberry Pi 4
[code]

Error Message:
[code]

[code]

[2021-09-18 02:18] khalid-jobs commented on #92
The images of kubeedge docker hub are all amd64, and there is not arm version.
we will support later.

[2021-09-18 02:19] khalid-jobs commented on #92
/good-first-issue

[2021-09-18 02:21] khalid-jobs commented on #92
/assign

[2021-09-18 02:44] s099064146 commented on #92
Thus, may I ask how to fix this problem?
I mean how could I compile an arm version image of kubeedge?

[2021-09-18 03:37] khalid-jobs commented on #92
Maybe we can refer to https://github.com/kubeedge/kubeedge/blob/master/Makefile#L166 to support multi arch for EdgeMesh. But we need some time to do this work. If you just need an arm version for EdgeMesh, may be you can try `CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o agent-arm ./agent/cmd/edgemesh-agent/agent.go` to build edgemesh-agent binary.

[2021-09-18 03:40] s099064146 commented on #92
Okay, I understand. Let me try it. Thank you for your help!

[2021-09-18 06:56] lynxcat opened #93 "the edge's ​list-watch can't get destinationrule"
edge log:
![image](https://user-images.githubusercontent.com/2222701/133879322-7b647369-2098-4c62-bb9f-2e36a8361589.png)
list-watch can't get DestinationRule

Cloud:
![image](https://user-images.githubusercontent.com/2222701/133879358-7530833a-6c91-433d-a828-e3ed2c4881d9.png)

**Environment**:
- EdgeMesh version: 1.8
- Kubernetes version : v1.20.4
- KubeEdge version: 1.7.2(run in container)

[2021-09-18 07:09] khalid-jobs commented on #92
your are welcome. And please let us know how the things is going. And also welcome to file a pull request for this feature.

[2021-09-18 08:15] 18664599806 commented on #90
问题已解决，跟edgemesh-agent的ConfigMap中的配置相关。
问题原因：本集群使用的K8S网络插件式calico，POD IP是通过calico创建的网桥接口tunl0分配IP，但06-configmap-cloud.yaml中配置的listenInterface项使用的docker0.

修复措施：
1. 修改配置：kubectl edit cm edgemesh-agent-cloud-cfg -n kubeedge，修改其中的listenInterface配置项为tunl0接口（使用POD实际分配IP的接口）
2. 重启edgemesh-agent
删除agent：kubectl  delete -f build/agent/kubernetes/edgemesh-agent/07-daemonset-cloud.yaml
重新创建agent：kubectl appl

[2021-09-18 08:16] Poorunga commented on #93
/assign

[2021-09-18 08:18] Poorunga commented on #93
Can you successfully obtain data on the edge node by `curl http://localhost:8080/apis/networking.istio.io/v1alpha3/destinationrules`?

[2021-09-18 08:18] Poorunga commented on #90
/close

[2021-09-18 08:18] #90 closed

[2021-09-18 08:19] s099064146 commented on #92
May I ask how to use the binary? Where should I modify the source of docker image?
Thank you very much!

[2021-09-18 08:21] Poorunga commented on #90
good

[2021-09-18 08:36] lynxcat commented on #93
No, no data can be obtained at the edge.
[code]
it is success in the cloud and other interfaces are also success.

[code]

[2021-09-18 08:46] lynxcat commented on #93
@Poorunga
In the cloud, I can get data normally.

[code]

[2021-09-22 01:42] khalid-jobs commented on #92
we do not try to build the arm version yet. I will try do the job and feedback here

[2021-09-22 02:26] lynxcat commented on #93
The problem has been solved with the help of @Poorunga

When we looked at the logs in the cloud, we found that the account i used did not have permissions, which led to the return of empty data.
![image](https://user-images.githubusercontent.com/2222701/134273563-91c479a7-fa43-4548-bd0a-dea6d3033def.png)

When I add the corresponding permissions to the account.

[code]
 the Agent can work normally

[2021-09-22 02:26] #93 closed

[2021-09-22 02:40] s099064146 commented on #92
Thank you for your help!

[2021-09-22 03:41] lynxcat commented on #79
edge-agent can't modify the port that connect to edgemesh-server.

[code]
![917b7dc3a6904e99e12a6977a75b94c](https://user-images.githubusercontent.com/2222701/134279956-c6c6374a-db87-492a-98b6-364c526bff1e.png)

[2021-09-22 03:50] Poorunga commented on #79
@lynxcat

Have you changed the configuration of 05-configmap?

https://github.com/kubeedge/edgemesh/blob/main/build/server/edgemesh/05-configmap.yaml:
[code]

[2021-09-22 07:09] lynxcat commented on #79
thanks. everything is ok now.

[2021-09-22 07:09] #79 closed

[2021-09-23 15:39] Poorunga commented on #73
/close

[2021-09-23 15:39] #73 closed

[2021-09-26 08:54] khalid-jobs opened #95 "Security for EdgeMesh"
**What would you like to be added/modified**:
Add security for EdgeMesh

**Why is this needed**:
EdgeMesh's services form a communication network to provide data communication functions for other services. The system may be invaded by other services, or communication data may be intercepted and cracked.

[2021-09-26 08:57] khalid-jobs commented on #95
We divide EdgeMesh's security into three layers, identity authentication, connection access, and communication encryption, among which identity authentication is to solve the problem of who the communication peer is. Admission control is to determine access rights based on identity information. Communication encryption is to solve the problem of plain text of information.
In terms of identity auth

[2021-09-26 09:11] khalid-jobs commented on #95
/assign

[2021-09-27 09:23] 18664599806 opened #97 "When deploy service, the service cannot be accessed until serveral minutes."
**What happened**:
When I deploy a ClusterIP service that is not proxied by edgemesh, the service is not available until serveral minutes.

**What you expected to happen**:
The service is available just when I deploy a new service that is not proxied by edgemesh.

**How to reproduce it (as minimally and precisely as possible)**:
1)  install edgemesh normally
2)  deploy a ClusterIP service labeled

[2021-09-27 09:35] Poorunga commented on #97
/assign

[2021-09-27 16:27] seveirbian opened #98 "More Explicit Intro"
**What would you like to be added/modified**:

Change "At the edge node, close edgeMesh module, open metaServer module, and restart edgecore" to "At the edge node, close edgeMesh module if it exists, open metaServer module, and restart edgecore" or some what.
![image](https://user-images.githubusercontent.com/33503641/134947412-1f9ad02f-4982-45d0-a440-cd89a852635d.png)

**Why is this needed**:

Si

[2021-09-27 16:38] seveirbian opened #99 "Make the expression unified"
**What would you like to be added/modified**:

Make the expression unified.
![image](https://user-images.githubusercontent.com/33503641/134949957-81fb9670-6d57-44f9-9397-d880e3abce6c.png)

**Why is this needed**:
A unified expression makes user more comfortable.

[2021-09-27 16:57] seveirbian opened #100 "Add notification"
**What would you like to be added/modified**:

When is deploy edgemesh-server, it always shows a pending status. And I finally find that the default configuration in deployment.yaml requests the edgemesh-server to be deployed to a node named "cloud-node", but i do not have it. I know I need to modify this value to my cloud node name, but I think it will be better to add a notification.
![image](ht

[2021-09-27 16:58] seveirbian commented on #100
![image](https://user-images.githubusercontent.com/33503641/134953094-210b03e8-d1d4-4008-8a12-502fc2e1b3f1.png)

[2021-09-28 01:38] seveirbian opened #101 "HTTP use case needs to create kubeedge-test namespace manually"
When I use http use case, I found that I need to create kubeedge-test namespace manually which I think should add to examples/hostname.yaml.
![image](https://user-images.githubusercontent.com/33503641/135008140-67b31f38-4b94-4740-8ac0-db87c5a4ca27.png)

[2021-09-28 01:59] seveirbian commented on #100
/kind bug

[2021-09-28 02:05] seveirbian opened #102 "Wrong Service Name in Usecase HTTP"
In HTTP Usecase, README asks me to use "hostname-lb-svc" to call the service, but actually the service in examples/hostname.yaml has a name of "hostname-svc".
![image](https://user-images.githubusercontent.com/33503641/135010408-f99ed08e-d1a0-446d-acb3-3f92f9b553b4.png)
![image](https://user-images.githubusercontent.com/33503641/135010505-48985ae1-9d73-4906-b497-5fb7e9da7ea4.png)

[2021-09-28 02:13] seveirbian opened #103 "Wrong Websocket Usecase"
README asks me to use examples/websocket-pod-svc.yaml to create websocket server, but there is no websocket-pod-svc.yaml in example folder, and only websocket.yaml there.
![image](https://user-images.githubusercontent.com/33503641/135011151-5b886b40-2743-460c-b653-ca6a61bde1a7.png)
![image](https://user-images.githubusercontent.com/33503641/135011186-34736c03-1072-4fe0-8594-d5688b334437.png)

[2021-09-28 02:53] seveirbian opened #104 "No cloudzone namespace"
This problem is the same as #101
![image](https://user-images.githubusercontent.com/33503641/135014778-fffce428-5213-4b84-b4ab-9162d2e304ee.png)

[2021-09-28 02:55] seveirbian commented on #104
both cloudzone and edgezone are missing.

[2021-09-28 06:31] 18664599806 opened #105 "The service port name restriction should be removed"
**What would you like to be added/modified**:
In current edgemesh version , the service port name has the following restriction: "Service ports must be named. The key/value pairs of port name must have the following syntax: name: <protocol>[-<suffix>]"

The restriction should be removed.

**Why is this needed**:
This problem is easily triggered. As a result, services cannot be accessed accross clo

[2021-09-28 07:17] seveirbian opened #106 "Missing ENV"
When I deploy edgemesh gateway, an error occured.
![image](https://user-images.githubusercontent.com/33503641/135040101-55a8cd9b-5746-40ab-97e7-946069db1844.png)

And the error is like:
![image](https://user-images.githubusercontent.com/33503641/135040160-dce9d470-d3a7-4bcf-b689-fc02c50201b2.png)

I think "build/agent/kubernetes/edgemesh-gateway/04-deployment.yaml" miss the corresponding ENV.

[2021-09-28 08:06] Poorunga commented on #105
/assign

[2021-09-28 08:13] seveirbian opened #107 "Wrong configuration"
I think this value should not be "serve_hostname:latest", but "k8s.gcr.io/serve_hostname:latest".

![image](https://user-images.githubusercontent.com/33503641/135049268-bd32c381-3034-4f75-bc88-128a80e3ccf2.png)

[2021-09-28 09:20] seveirbian opened #108 "edgemesh-gateway needs to open tunnel ability"
**What happened**:

edgemesh-gateway can only handles the request once, and the next it crashed.
![image](https://user-images.githubusercontent.com/33503641/135060008-c5e3dfa2-2650-4076-932d-5373e7bcbe47.png)

**What you expected to happen**:

edgemesh-gateway should work well.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2021-09-28 09:21] seveirbian commented on #108
After I enable gateway's tunnel, this problem gets fixed.
![image](https://user-images.githubusercontent.com/33503641/135060401-ccfefc91-05de-48cd-8471-a29b86eb8608.png)

[2021-10-08 03:17] 844700118 opened #111 "How to configure listenInterface and subNet?"
**How to configure listenInterface and subNet?**

EdgeMesh version: release-1.8

Kubernetes version (use kubectl version): 1.19

KubeEdge version(e.g. cloudcore --version and edgecore --version): 1.8

**1. cloud node**
  [root@localhost ~]#  ifconfig

    calibdd26de4518: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1440
      inet6 fe80::ecee:eeff:feee:eeee  prefixlen 64  scopeid 0x20<link>

[2021-10-08 03:44] 844700118 opened #112 "After restarting cloudcore and edgecore, error: TLSClientConnect error remote error: tls: bad certificate"
**How to configure listenInterface and subNet?**

EdgeMesh version: release-1.8

Kubernetes version (use kubectl version): 1.19

KubeEdge version(e.g. cloudcore --version and edgecore --version): 1.8

**1. cloud node**

	[root@localhost edgemesh-1.8.0]#        keadm gettoken

	87d95a2054014568915eb7b3e1483e40abaad705649a30c70251048d230510c6.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2MzM3NTA0

[2021-10-08 08:10] 844700118 opened #114 "After edge node install edgemesh-agent, access to public network becomes very slow!"
**After edge node install edgemesh-agent, access to public network becomes very slow!**

EdgeMesh version: release-1.8

Kubernetes version (use kubectl version): 1.19

KubeEdge version(e.g. cloudcore --version and edgecore --version): 1.8

**1. edge node**
  [root@localhost ~]#  time curl https://www.baidu.com

    <html> <head>......</head> </html>
	real    0m5.667s
	user    0m0.051s
	sys     0m0

[2021-10-08 08:11] #111 closed, assigned to Poorunga

[2021-10-08 09:57] 844700118 commented on #114
kubectl logs -f -n kubeedge edgemesh-agent-edge-98c4s
**service reverse clusterIP error: service "www" not found**
日志里报上面这个错误

[2021-10-08 09:59] #112 closed, assigned to Poorunga

[2021-10-08 11:08] 844700118 opened #115 "edge access edge is normal, but edge and cloud access to each other is abnormal!"
**edge access edge is normal, but edge and cloud access to each other is abnormal!**

EdgeMesh version: release-1.8

Kubernetes version (use kubectl version): 1.19

KubeEdge version(e.g. cloudcore --version and edgecore --version): 1.8

**1. cloud node**

    [root@localhost ~]#  kubectl get pod -o wide -A
    NAMESPACE     NAME                                      READY   STATUS       RESTARTS

[2021-10-08 12:01] Poorunga commented on #114
EdgeMesh DNS module cannot be resolved or is handed over to the host for resolution. By the way, can you copy the complete log?

[2021-10-09 01:26] 844700118 commented on #114
[root@kubeedge-129 kubeedge_bak]#  curl www.baidu.com

<!DOCTYPE html>
<html> <head><meta http-equiv=content-type content=text/html;charset=utf-8><meta http-equiv=X-UA-Compatible content=IE=Edge><meta content=always name=referrer><link rel=stylesheet type=text/css href=http://s1.bdstatic.com/r/www/cache/bdorz/baidu.min.css><title>百度一下，你就知道</title></head> <body link=#0000cc> <div id=wrapper> <div i

[2021-10-09 01:48] Poorunga commented on #115
Can the cloud access edge succeed?

[2021-10-09 01:50] 844700118 commented on #115
[root@localhost ~]#  kubectl exec -it tcp-echo-edge sh
telnet tcp-echo-cloud-svc.default.svc.cluster.local 2701

blocking no response ......, edge  can not access cloud .

[2021-10-09 02:00] Poorunga commented on #115
/assign

[2021-10-09 02:49] 844700118 commented on #115
cloud node need install edgemesh-agent ?

[2021-10-09 02:51] Poorunga commented on #115
Yes, apply 06-configmap-cloud.yaml and 07-daemonset-cloud.yaml to install edgemesh-agent-cloud.

[2021-10-09 03:16] 844700118 commented on #115
https://raw.githubusercontent.com/kubeedge/edgemesh/main/build/agent/kubernetes/edgemesh-agent/07-daemonset-edge.yaml
This does not can install to cloud Nodes.

  nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/edge
                    operator: Exists

[2021-10-09 03:18] Poorunga commented on #115
why?

[2021-10-09 03:32] 844700118 commented on #115
[root@k8s-master edgemesh-1.8.0]# kubectl apply -f /root/edgemesh-1.8.0/build/agent/kubernetes/edgemesh-agent/07-daemonset-cloud.yaml
daemonset.apps/edgemesh-agent-cloud created

[root@k8s-master edgemesh-1.8.0]# kubectl get pod -o wide -A
NAMESPACE     NAME                                      READY   STATUS       RESTARTS   AGE     IP              NODE           NOMINATED NODE   READINESS GATES

[2021-10-09 04:54] 844700118 commented on #115
I found the reason. Thank you very much,
@Poorunga

[2021-10-09 07:26] 844700118 opened #116 "coredns in edge node fail , unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST"
EdgeMesh version: release-1.8

Kubernetes version (use kubectl version): 1.19

KubeEdge version(e.g. cloudcore --version and edgecore --version): 1.8

**coredns in edge node fail !**

    [root@k8s-master edgemesh-1.8.0]#    kubectl logs -n kube-system  coredns-6c76c8bb89-trblr
	  plugin/kubernetes: unable to load in-cluster configuration, KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must b

[2021-10-09 08:55] Poorunga commented on #116
Maybe you can configure the node affinity of codedns so that they do not schedule to edge nodes.

[2021-10-09 11:17] #116 closed

[2021-10-10 05:24] 844700118 commented on #114
**1.cloud node**

	[root@k8s-master ~]#  cat /etc/resolv.conf
		nameserver 10.1.235.192
		nameserver 223.5.5.5
		nameserver 114.114.114.114

	[root@k8s-master ~]# route
		Kernel IP routing table
		Destination     Gateway         Genmask         Flags Metric Ref    Use Iface
		default         192.168.1.1     0.0.0.0         UG    100    0        0 ens192
		10.1.235.192    0.0.0.0         255.255.25

[2021-10-10 05:47] Poorunga commented on #114
EdgeMesh DNS module cannot be resolved or is handed over to the host for resolution.

[2021-10-10 06:29] 844700118 commented on #115
[root@k8s-master ~]# kubectl describe pod -n kube-system coredns-565fc5c9d8-8qw94

      ......
      Warning  Unhealthy  15m (x2853 over 18h)    kubelet  (combined from similar events): Liveness probe failed: Get "http://10.1.235.195:8080/health": EOF
      Warning  BackOff    5m53s (x3130 over 18h)  kubelet  Back-off restarting failed container
      Warning  Unhealthy  54s (x985 over 18h)     k

[2021-10-10 06:37] 844700118 commented on #115
No, it's a master node.

[root@k8s-master ~]# kubectl get pod -A -o wide |grep dns
     kube-system   coredns-565fc5c9d8-8qw94                  0/1     Running   265        19h    10.1.235.195    k8s-master     <none>           <none>

[2021-10-10 06:41] Poorunga commented on #115
1. `kubectl get all -n kube-system` then print all logs for me.
2. `iptables -t nat -nvL` then print all logs for me.

[2021-10-10 06:45] 844700118 commented on #115
[root@k8s-master ~]#  kubectl get all -n kube-system

	NAME                                          READY   STATUS             RESTARTS   AGE
	pod/calico-kube-controllers-bcc6f659f-z4s89   1/1     Running            0          23h
	pod/calico-node-4mjp7                         1/1     Running            0          19h
	pod/coredns-565fc5c9d8-8qw94                  0/1     CrashLoopBackOff   265

[2021-10-10 06:53] 844700118 commented on #115
edge node access cloud node success,
edge node access edge node success,
cloud  node access cloud  node success,
but cloud  node access edge node fail,

[2021-10-10 06:57] 844700118 commented on #115
[root@k8s-master ~]#  kubectl logs -f -n kubeedge edgemesh-agent-cloud-pdfhw
	2021/10/09 11:30:42 INFO: Install client plugin, protocol: rest
	2021/10/09 11:30:42 INFO: Installed service discovery plugin: edge
	I1009 11:30:42.361342       1 server.go:54] Version: 1.8.0-dirty
	I1009 11:30:42.361373       1 server.go:88] [1] New informers manager
	W1009 11:30:42.361389       1 client_config.go:608]

[2021-10-10 09:33] Poorunga commented on #115
@844700118
kubeadm init --kubernetes-version=v1.18.20 --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=192.168.0.229

10.244.0.0/16 is pod-network-cidr
If you don't specify a k8s cluster ip cidr, 10.96.0.0/12 is default value.

[2021-10-10 09:34] 844700118 commented on #115
Edgemesh's cross-subnet communication problem has been solved for 2 weeks. I got the guidance of Poorunga these days and made rapid progress. Thank Poorunga very much.
@Poorunga

[2021-10-10 09:35] 844700118 commented on #115
I'll try and reinstall the K8s. thanks.

[2021-10-12 02:58] 844700118 commented on #115
reate a few virtual machines locally for testing, I try this method.

[2021-10-12 03:18] 844700118 commented on #115
1.edge access cloud

	[root@kubeedge-129 ~]#  telnet tcp-echo-cloud-svc.default.svc.cluster.local 2701
		Trying 10.1.146.68...
		telnet: connect to address 10.1.146.68: Connection timed out

	[root@kubeedge-129 ~]# tcpdump -i any -s 0 tcp port 2701 -n -nn -tttt -l -X -v
		tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
		listening on any, link-type LINUX_SLL (Linux cooke

[2021-10-12 03:25] 844700118 commented on #115
1.edge access cloud

	[root@kubeedge-129 ~]#  telnet tcp-echo-cloud-svc.default.svc.cluster.local 2701
		Trying 10.1.146.68...
		telnet: connect to address 10.1.146.68: Connection timed out

	[root@kubeedge-129 ~]# tcpdump -i any -s 0 tcp port 2701 -n -nn -tttt -l -v
		2021-10-12 11:20:45.374207 IP 192.168.1.81.37293 > 10.233.235.204.2701: Flags [S], seq 1222960843, win 29200, options [mss 1460,sa

[2021-10-12 04:08] 844700118 commented on #115
edge does not transfer from the mesh server, but directly accesses the pod ip, 192.168.1.81.56769> 10.233.235.204.2701, it must be Unreasonable.

On the edge node, how to debug and output the content of the mesh server communication response.

[2021-10-12 07:33] 844700118 commented on #115
[root@k8s-master edgemesh-agent]#     tcpdump -i any -s 0 tcp port 10004 -n -nn -tttt -l

    2021-10-12 15:30:09.166357 IP 192.168.1.228.10004 > 192.168.1.81.10006: Flags [P.], seq 4232330628:4232330658, ack 2936954257, win 263, options [nop,nop,TS val 1127456316 ecr 1300099192], length 30
    2021-10-12 15:30:09.166375 IP 127.0.0.1.10004 > 127.0.0.1.10006: Flags [P.], seq 2085096476:2085096506,

[2021-10-13 02:15] Poorunga commented on #115
I can't see what's wrong, this is my configuration, maybe you can refer to it.

[code]

[code]

[2021-10-13 03:59] 844700118 opened #125 "via relay forwarding or holes punch fail"
EdgeMesh version: release-1.8
Kubernetes version (use kubectl version): 1.19
KubeEdge version(e.g. cloudcore --version and edgecore --version): 1.8
cloud node
	ip: 192.168.1.228
	0.0.0.0:10004   edgemesh-serv
	0.0.0.0:10006   edgemesh-agent

cloud edge
	ip: 192.168.1.81
	0.0.0.0:10006   edgemesh-agent

**1.my issues**

	cloud access edge is normal,
	cloud access edge is cloud,
	edge access edge is

[2021-10-13 08:00] Poorunga commented on #125
edgemesh使用libp2p技术进行数据传输：
在两个应用进行通信的时候，edgemesh-agent会尝试使用libp2p进行NAT打洞。打洞成功时两个edgemesh-agent建立直连，打洞失败时，使用edgemesh-server做中继服务器转发流量，保障应用间的通信不断。

打洞成功的流量路径： 应用A -> edgemesh-agent-A -> edgemesh-agent-B -> 应用B
打洞失败的流量路径： 应用A -> edgemesh-agent-A -> edgemesh-server -> edgemesh-agent-B -> 应用B

打洞成功率受到NAT设备影响：
锥形：
 - 完全锥形NAT
 - 限制锥形NAT
 - 端口限制锥形NAT
对称型：
 - 对称NAT
 **（从上到下：穿透性下降，安全性上升）**

[2021-10-13 11:28] 844700118 commented on #125
edge node(172.17.0.1:14499) --> edgemesh-agent(172.17.0.1:10006) --> edgemesh-agent(192.168. 1.228:10006) --> tcp-echo-cloud-svc(10.1.146.68)
如果能这样通信, 也行啊, 问题是现在  edge node(172.17.0.1:14499)  直连 --> tcp-echo-cloud-svc(10.1.146.68)

[2021-10-14 08:56] Poorunga commented on #125
尝试自己编译代码和生成镜像。

make agentimage 可以快速生成一个edgmesh-agent镜像

[2021-10-15 01:51] Poorunga opened #132 "Enhance the ease of use of EdgeMesh"
**What would you like to be added/modified**:

- [x] Remove docker0, cni0 network interface dependency —— #123
- [x] Remove the process of manually configuring the subNet by the user —— #126
- [x] Unify the deployment form of edgemesh-agent —— #130
- [x] Auto fetch the PublicIP for edgemesh-server —— #135
- [x] helm one-step deployment —— #136
- [x] Remove the restriction that service.Port.Name mu

[2021-10-15 07:26] kason-huang opened #134 "Auto fetch the PublicIP for edgemesh-server"
**What would you like to be added/modified**:
Currently, edgemesh-server need a publicIP for libp2p. In order to enhance the ease of use of EdgeMesh, we can try to fetch the publicIP by sending a http request to `ifconfig.me` If the field is not provided
**Why is this needed**:
 Enhance the ease of use of EdgeMesh https://github.com/kubeedge/edgemesh/issues/132

[2021-10-15 11:02] yoseihouyn commented on #92
I have tried to build an arm64 image by the Dockerfile of  "build/agent/Dockerfile", but it doesn't work(though build the image successfully). And i tried to run the executable file "edgemesh-agent" in container, the error is "Segmentation fault".

[2021-10-18 02:21] khalid-jobs commented on #134
/assign

[2021-10-19 02:53] #134 closed, assigned to kason-huang

[2021-10-20 03:23] khalid-jobs opened #138 "Support ARM Architecture"
**What would you like to be added/modified**:
Support ARM architecture for the EdgeMesh

**Related Issue**:
#92

[2021-10-20 03:34] khalid-jobs commented on #138
A non-code solution:
1. If you has the target os machine and the machine can tolerate to build from source, then just follow the install doc.
2. Else using docker buildx to build sedna images: the platform args of docker-buildx is `linux/arm/v7` or `linux/arm64` for `Raspberry Pi` depending on the Pi version, `linux/arm64` for `Arm64 server`.

A code solution:   Add the cross-build support to Make

[2021-10-21 01:28] khalid-jobs opened #139 "Support to automatically recognizes configuration file changes"
**What would you like to be added/modified**:
Support EdgeMesh to automatically recognizes configuration file changes, so when we update the configuration file, the EdgeMesh service can update without restart.

[2021-10-21 01:50] lynxcat opened #140 "When I restart my edge node, some pods of that node will fail"
What happened:

When I restart my edge node, domain name resolution in the cluster will fail in the some pods of that node.

The pod started earlier than edgemesh-agent will fail, and others will be normal.

Their DNS server addresses are different.

Environment:
- EdgeMesh version: 1.8
- Kubernetes version (use `kubectl version`): 1.20.4
- KubeEdge version(e.g. `cloudcore --version` and `edgecore

[2021-10-22 03:56] lynxcat opened #141 "Support SSH proxy between cloud and edges."
What would you like to be added:
Support SSH proxy between cloud and edges. In this way, I can log in to the edge server in the cloud server

Why is this needed:
Many edge nodes are in the Intranet environment without public IP. Management is very inconvenient, such as changing configuration, pulling images. If we have this function, we can better manage edge servers in the cloud.

[2021-10-25 01:48] #140 closed, assigned to nobody

[2021-10-27 06:47] pengbinbin1 opened #145 "can not find the service "kube-dns""
when  deploy edgemesh on my server i got the error "cannot find the service kube-dns",so i review the code and find that in the iptables module, the function "creatIgnoreRules" will list the service "kube-dns",this service is not deployed on my server,and why we need this service?

[2021-10-29 03:04] khalid-jobs opened #154 "EdgeMesh-Server use NodePort to deploy"
**What would you like to be added/modified**:
EdgeMesh-Server uses nodeport to deploy, so the edgemesh-server can deploy in different cloud node.

**Why is this needed**:

[2021-10-29 11:12] pengbinbin1 opened #155 "can not generate the iptables rules"
I deploy edmesh-agent-edge on my edge server,and the log is like the image below,but there are no iptables rules generate about the edgemesh . the port 53 is not listening .
![Uploading 123.jpg…]()

[2021-10-30 01:17] Poorunga commented on #155
kubectl apply -f build/crds/istio/

[2021-10-30 14:45] pengbinbin1 commented on #155
I have executed the command “kubectl apply -f build/crds/istio/”. I deployed the edgemesh-agent-cloud  on the cloud nodoe and the  logs are normal, but the iptables rules about EDGE-MESH are still not generated . On the edge node ,i deployed the edgemesh-agent-edge ,the log is the same like the image above, and I can not understand what is the connection between CRDs and iptables rules.  When i ex

[2021-10-31 06:42] Poorunga commented on #40
/close

[2021-10-31 06:42] #40 closed

[2021-10-31 06:43] Poorunga commented on #155
Is your OS centos8? You can refer to https://github.com/kubeedge/edgemesh/issues/30

[2021-10-31 06:48] Poorunga commented on #155
/assign

[2021-11-01 02:33] Poorunga commented on #98
KubeEdge only removed this configuration in version 1.8.0, so I will change it to:

(If your KubeEdge < 1.8.0) At the edge node, close edgeMesh module, open metaServer module...

[2021-11-01 03:49] Poorunga commented on #98
/close

[2021-11-01 03:50] #98 closed

[2021-11-01 03:50] Poorunga commented on #99
/close

[2021-11-01 03:50] #99 closed

[2021-11-01 03:50] Poorunga commented on #100
/close

[2021-11-01 03:50] #100 closed

[2021-11-01 03:50] Poorunga commented on #101
/close

[2021-11-01 03:50] #101 closed

[2021-11-01 03:50] Poorunga commented on #102
/close

[2021-11-01 03:50] #102 closed

[2021-11-01 03:51] Poorunga commented on #103
/close

[2021-11-01 03:51] #103 closed

[2021-11-01 03:51] Poorunga commented on #104
/close

[2021-11-01 03:51] #104 closed

[2021-11-01 03:51] Poorunga commented on #106
/close

[2021-11-01 03:51] #106 closed

[2021-11-01 03:51] Poorunga commented on #108
/close

[2021-11-01 03:51] #108 closed

[2021-11-01 03:55] Poorunga commented on #145
/close

[2021-11-01 03:55] #145 closed

[2021-11-01 06:01] pengbinbin1 commented on #155
My OS is centos8, i have deployed the kubeedge 1.7 in another server , but the OS version is same. In the server where i deployed the kubeedge 1.7 , i can use command iptables to see the iptables rules about EDGE-MESH

[2021-11-01 06:26] Poorunga commented on #155
The old version of edgemesh code is written in kubeedge and runs as a process. It will directly configure the ipatbles rules of your host, so you can be seen directly on the host. The new version of edgemesh is extracted from kubeedge as a separate module and runs as a container. If you are using centos8, the iptables rules are only visible in the container. Why is there such a situation please re

[2021-11-01 06:56] khalid-jobs commented on #154
NodePort may cause the edgemsh's latency unacceptable.
Close the issue firstly.

[2021-11-01 06:56] #154 closed

[2021-11-01 06:57] pengbinbin1 commented on #155
Thank you very much! I can see the iptbles rules in the container. But i have another question,in my edge node,why the /etc/resolve.conf is empty,and no process listening the port 53? I have configed the DNS module .

[2021-11-01 07:47] Poorunga commented on #155
[code]

[2021-11-01 08:09] pengbinbin1 commented on #155
the log out is like the image below, The edgemesh-agent-edge image is pulled from dockerhub,the version is 1.8.0 and I find that the log about version is 1.7.2
![1234](https://user-images.githubusercontent.com/28950491/139641185-d849b3a5-06f1-478d-a779-ccf2537fe4df.jpg)

[2021-11-01 08:15] Poorunga commented on #155
Is the image ID correct?
[code]

**0229a8131577** is image ID

[2021-11-01 08:21] pengbinbin1 commented on #155
YES,the image ID is **0229a8131577**

[2021-11-01 08:24] Poorunga commented on #155
I don't think this will cause any problems.

Maybe these errors are the cause of the problem: Failed to watch xxx...

Is edge list-watch normal? try `curl 127.0.0.1:10550/api/v1/services`

[2021-11-01 08:42] #95 closed

[2021-11-01 08:43] pengbinbin1 commented on #155
![0211101164246](https://user-images.githubusercontent.com/28950491/139645373-2cc20261-2426-4b2b-a2b4-f090231e5bd8.jpg)

[2021-11-01 08:51] Poorunga commented on #155
Will the list-watch request be slow? Will it be longer than 5s?

[2021-11-01 11:30] pengbinbin1 commented on #155
First,the list-watch is quickely,it is not longer than 1s. And  i checkout the cloudcore log ,the log is like the image below. The cloudcore image is v1.8.0 from dockerhub, image ID is **a1417a4b5c05**,and why the iptables excutable can not found?
![微信图片_20211101192244](https://user-images.githubusercontent.com/28950491/139664664-e87f6013-577e-4ed4-a611-af11a2b2d6c2.jpg)

[2021-11-01 13:18] Poorunga commented on #155
Someone encountered the same problem as you, and we have solved it, please refer to: https://github.com/kubeedge/edgemesh/issues/93

**The main thing is to modify the serviceaccount of cloudcore**

[2021-11-01 14:36] pengbinbin1 commented on #155
OK，thank you very much, i will try it tommrow. And you mean if the cloudcore can start normaly, then the edgemesh-agent-edge can run normaly?

[2021-11-01 14:55] Poorunga commented on #155
The edge list-watch relies on cloudcore's dynamicController. You only need to reconfigure the clusterrole of cloudcore, and then restart cloudcore.

[code]

[2021-11-02 08:21] pengbinbin1 commented on #155
Thank you very much,now the 53 port is listening by edgemesh-ag on my edge node,but when i curl myservice uese servicename, the dns module in edgemesh-agent logs can not found my service,and i found the cloudcore has some error logs,the log is like the blow image

[2021-11-02 08:21] pengbinbin1 commented on #155
![微信图片_20211102155924](https://user-images.githubusercontent.com/28950491/139810613-c553ebd3-b5f5-4de5-ba24-e897b8b0e366.jpg)

[2021-11-02 09:07] pengbinbin1 commented on #155
I have found some error logs from edgecore "failed to list obj from cloud"
![微信图片_20211102170719](https://user-images.githubusercontent.com/28950491/139817775-87b52286-1ad1-4345-8646-5f9a6c9101b0.jpg)

[2021-11-02 09:10] Poorunga commented on #155
Have you edited cloudcore clusterrole, and restart it?

[2021-11-02 09:17] pengbinbin1 commented on #155
Yes, I have edited cloudcore clusterrole and restart the cloucore.

[2021-11-02 09:24] khalid-jobs opened #162 "support push docker images for multi architectures"
**What would you like to be added/modified**:
In order to use one deployment config to deploy edgemsh-agent in different arcarchitectures, we should use `docker buildx push` https://yeasy.gitbook.io/docker_practice/buildx/multi-arch-images
**Why is this needed**:

[2021-11-02 11:16] davedavedavid opened #163 "create dummy device edgemesh0 err: operation not supported"
**What happened**:
kubeedge/edgemesh-agent run failed：
run edgemesh-agent failed: create dummy device edgemesh0 err: operation not supported
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
device：atlas500

uname -a
Linux a500-124 4.19.36-vhulk1907.1.0.h1017.eulerosv2r8.aarch64 #1 SMP Sat Mar 27 10:04:38 UTC 20

[2021-11-02 11:27] Poorunga commented on #155
Is the image you use kubeedge/edgemesh-agent:latest?

[2021-11-02 11:38] Poorunga commented on #163
/assign

look like you OS can create dummy device

[2021-11-02 12:21] pengbinbin1 commented on #155
Yes, I have edited cloudcore clusterrole and restart the cloucore.

I will try the latest one

[2021-11-02 12:31] Poorunga commented on #155
If you want to use latest, you need delete edgemesh serviceaccount, clusterrole, clusterrolebind, configmap, daemonset, deployment, secret, then re-create them.

[code]

[2021-11-02 12:39] pengbinbin1 commented on #155
And i have to cheange the version to least? I used v1.8.0 agemesh-agent now,the error log is like the image
![12345](https://user-images.githubusercontent.com/28950491/139848085-7f498b1d-fdbc-40c5-8769-a57a4670bc42.jpg)

[2021-11-02 13:27] Poorunga commented on #155
This is not an error, your edgemesh-agent is running normally

[2021-11-02 14:17] pengbinbin1 commented on #155
But when i curl my service on the edge node use the service name ,it logs can not resolve the servicename.And the edgemesh-agent logs "mysvc1" not found

[2021-11-03 01:25] Poorunga commented on #155
Try to directly access the cluster IP of the service, example:
[code]

[2021-11-03 08:16] pengbinbin1 commented on #155
Thanks for your patience and support, now my edgemesh is running normally,and i can curl my service use servicename,thank you very much

[2021-11-03 09:05] davedavedavid commented on #163
kubeedge/edgemesh-agent running successful on A500

[2021-11-03 09:05] #163 closed

[2021-11-03 09:17] Poorunga commented on #155
Congratulations~👍

[2021-11-03 09:25] davedavedavid opened #166 "edgemesh-server inner ip process problem"
**What happened**:
anticipation：
pulic ip ：10.44.115.153
inner ip ：1.1.1.153
install：helm install edgemesh --set server.publicIP=10.44.115.153 build/helm/edgemesh
actual results：
tunnel.go:14] Tunnel server addr : /ip4/10.44.115.153/tcp/20004/p2p/QmQ7CWWuw4aPj82uHwK248suTMoYdLzvsyL9qn3D5995YB
tunnel.go:14] Tunnel server addr : /ip4/127.0.0.1/tcp/20004/p2p/QmQ7CWWuw4aPj82uHwK248suTMoYdLzvsyL9qn3D59

[2021-11-03 12:01] Poorunga commented on #166
/assign @khalid-jobs

[2021-11-04 12:17] yz271544 opened #168 "pull in external services through "endpoints -> service" for mapper in the edge node"
**What would you like to be added/modified**:
pull in external services through "endpoints -> service" for mapper in the edge node.

eg:
1. endpoint-edge1.yaml
[code]

2. service-edge1.yaml
[code]

**Why is this needed**:
I hope that through the "endpoints -> service" method,  provide the function of introducing external service traffic for the mapper running on the edge node, so that external ser

[2021-11-04 15:48] Poorunga commented on #168
/assign

[2021-11-09 09:31] king-jingxiang opened #173 "edgemesh causes service connect failed"
**What happened**:
deploy edgemesh, the edge svc connect successed.
[code]
but, other svc connect failed
[code]
uninstall edgemesh, other svc connect successed
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version:
[code]
- Kubernetes version (use `kubectl version`):
[code

[2021-11-09 12:34] king-jingxiang commented on #173
the reason is `proxy.go:68` split unreasonable, please fix it.
[code]
the svc spec is
[code]
the edgemesh agent error logs
[code]
when change svc spec ports name is `tcp-nginx`, the connect successed.

[2021-11-10 02:06] khalid-jobs commented on #173
Because the `protocol` only supports `tcp`, `udp` and  `sctp`, but edgemesh needs to support `http` and other application protocol. So we follow the istio's rule [link](https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/#explicit-protocol-selection), and may be we can use `appProtocol` to do the things, but it need the kubernetes' version is 1.18+

[2021-11-10 07:14] king-jingxiang commented on #173
1、`http`、`https`或其它的协议都当做普通的tcp流量处理不可以吗？我这边修改了一下代码测试目前好像没什么问题，而通过name获取protocol会有一些问题，比如operator生成的`service.spec.port.name`，不符合`protocol-name`的命名规范就会通信受限。
2、有没有什么方式可以设置部分svc流量通过`edgemesh`转发，比如云边和边边通信的流量，部分svc流量还是通过k8s默认的走`iptables`，比如云端集群内服务互访的流量。

[2021-11-10 07:23] khalid-jobs commented on #173
1. Maybe we can try to fetch the protocol from the name, and if we fail , then we fetch the value from `protocol`. The protocol has a default value `TCP`.
2. For the second question, you can try to use [Hybrid-NAT](https://edgemesh.netlify.app/advanced/hybirdnat.html)

[2021-11-10 07:28] khalid-jobs commented on #173
And the reason we support application layer protocol (such as `http` protocol) is that we want to support more feature for the traffic, such as load balance strategy for application layer protocol.

[2021-11-10 07:49] king-jingxiang commented on #173
I get it, thanks.

[2021-11-10 08:21] khalid-jobs commented on #173
And would you like to pull a request for the protocol  fetching logic?

[2021-11-10 08:24] king-jingxiang commented on #173
ok, let me pull a request to fix it.

[2021-11-10 08:27] king-jingxiang commented on #173
And the `Hybrid-NAT` `noproxy: edgemesh` label have considered change to `proxy: edgemesh`. Only used to set up service that need to use edgemesh?

[2021-11-10 09:14] khalid-jobs commented on #173
Actually, the edgemesh  as the data plane component of the KubeEdge cluster, we think that the default proxy software should be edgemesh in kubeedge cluster.

[2021-11-10 10:16] zyliu0402 opened #176 "Can't run edgemesh without deploying flannel/calico ahead"
**What happened**: In the introduction, edgemesh is introduced as a replacement of other cni plugin like flannel or calico. However, during edgemesh deployment, the coredns modules are always showing wrong STATUS - "ContainerCreating", which is result of can't find the correct conf file. Now, to deploy edgemesh successfully,  after “_kubeadm init_”，I firstly "kubectl apply -f flannel.yaml" to inst

[2021-11-11 01:26] khalid-jobs commented on #176
The edgemesh provides simple service discovery and traffic proxy functions for applications in edge computing cluster.  K8s requires that all nodes can access each other. On edge clusters, cloud nodes generally cannot directly access edge nodes, and CNI plugins cannot work. Edgemesh is to solve the application communication on the edge node. EdgeMesh will take care of the network which cni plugin(

[2021-11-11 01:26] khalid-jobs commented on #176
/assign

[2021-11-11 01:51] zyliu0402 commented on #176
So，we need flannel/calico to achieve the communicaion between cloud and edge , and need edgemesh to take care of the communication between edges?

[2021-11-11 03:35] khalid-jobs commented on #176
The flannel/calico only can achive the communicatin between cloud node and cloud node. The edgemesh will take care of the communication between cloud and edge,  also between edge and edge

[2021-11-11 03:42] seveirbian opened #177 "Export Service at edge node with NodePort Service"
**What would you like to be added/modified**:

Export Service at edge node with NodePort Service.

**Why is this needed**:

In such a situation, users need to export a service at edge for outside apps (like mobile apps) to use.

[2021-11-11 03:59] zyliu0402 commented on #176
But why only deploy edgemesh can not run the coredns modules?

[2021-11-11 06:12] khalid-jobs commented on #176
What do you mean "But why only deploy edgemesh can not run the coredns modules" ?

[2021-11-11 06:44] king-jingxiang commented on #173
还有一个问题是`iptables.go:194`,这里赋值是一个指针类型，这么赋值有问题，会修改之前插入的数据，现象就是插入iptables表数据丢失，我就在这个pr里面一起修改了啊。
[code]
edgemesh-agent logs
[code]

[2021-11-11 06:54] king-jingxiang commented on #173
还有Kubeedge部署在k8s之上，edgemesh作为默认的数据通道会对集群内其它服务造成影响，在大多数情况下通常是一个k8s集群，而不是多集群的方案，集群内会有很多的云上业务，如果使用edgemesh，则云上业务都需要修改，添加noproxy=edgemesh的label，可能但大多数情况下不愿意这么处理，我觉得kube-proxy依然应当作为svc默认的数据通道，使用edgemesh可以通过label的方式开启。这个是否可以考虑一下。

[2021-11-11 07:08] king-jingxiang commented on #173
再补充一个问题，如何k8s部署时使用的是ipvs，edgemesh是否还可以正常工作

[2021-11-11 10:04] zyliu0402 commented on #176
I have resolve this problem. Let me explain in more detail. As the kubeedge as well as edgemesh installation in github do not include the k8s deployment.,we need to follow other guides to install k8s before. When we install k8s, in "kubeadm init" procedure, the argument "--pod-network-cidr=10.244.0.0/16" should be follow as well (almost in every guides). This argument decides that the coredns modu

[2021-11-11 11:53] Poorunga commented on #173
这个与iptables和ipvs的优先级有关系，我们暂时还没有测试过。等测试过后会告知您

[2021-11-11 12:02] Poorunga commented on #173
这确实是一个有争议的话题。有些用户具有大量只跑在边缘上的应用，他们只使用edgemesh做应用间的通信（他们并不想在仅有一点点内存的边缘节点上部署kube-proxy和cni，因为很浪费资源 部署也很麻烦，他们只需要边缘应用能够简单的通信，所以他们选择了edgemesh）。在这种情况下，如果按你所说的，那么他们边上所有的业务都要修改，他们也不太愿意。

@yz271544 作为此特性的owner，您有什么看法呢？

[2021-11-16 05:23] zhu733756 opened #179 "Can we upgrade istio-related CRDs to a stable version like v1?"
As mentioned in the title,  currently,  the istio-related CRDs in the helm package are  with unstable versions.

The istio official has supported v1 version, see
https://github.com/istio/istio/blob/bd50200e9be9170d375d5843365eaf629afa77b0/manifests/charts/base/crds/crd-all.gen.yaml#L97

Since Kubernetes v1.22+, the APIs of the CRDs with an unstable version have been removed.  See https://kubernete

[2021-11-16 05:25] zhu733756 commented on #179
/assign

[2021-11-16 05:25] zhu733756 commented on #179
/cc

[2021-11-16 06:49] Poorunga commented on #179
/assign

ok

[2021-11-16 09:34] davedavedavid opened #181 "edgemesh-agent cannot access to the K8s service created newly"
**What happened**:
![image](https://user-images.githubusercontent.com/87642892/141958762-41bf6c62-a3a1-4a6c-bba4-30626ff1e281.png)
![image](https://user-images.githubusercontent.com/87642892/141958907-17c02bcc-d7fe-4926-8c5d-32ee9973be22.png)
edgemesh-agent cannot  access the newly created service.
would recover if restart edgecore.
![image](https://user-images.githubusercontent.com/87642892/14195

[2021-11-16 12:05] Poorunga commented on #181
/assign

[2021-11-16 12:18] Poorunga commented on #181
Every time the service: yolo-v5-aggregation is modified, the domain name cannot be resolved(yolo-v5-aggregation not found) and clusterip cannot be resolved. Only yolo-v5-aggregation will appear.

[2021-11-17 01:37] 916264367 opened #182 "I deployed edgemesh according to the tutorial, but an error occurred"
**What happened**:
![image](https://user-images.githubusercontent.com/51771785/142092319-e723958c-a159-4159-8427-2b07edfcadaa.png)

**What you expected to happen**:
The tutorial tells me that I need to modify the values of "publicip" and "nodeName" tags in 05-configmap.yaml and 06-deployment.yaml.(build/server/edgemesh/)
V1.8.1 kubeedge can automatically identify the public IP, so I didn't modify

[2021-11-17 03:01] khalid-jobs commented on #182
Can you paste the log of the `edgemesh-agent`? Try `docker logs -f <container-id>` in edge-node-1

[2021-11-17 03:37] Poorunga commented on #107
/close

[2021-11-17 03:37] #107 closed

[2021-11-17 03:39] Poorunga commented on #44
/close

[2021-11-17 03:39] #44 closed

[2021-11-17 03:39] Poorunga commented on #89
/close

[2021-11-17 03:40] #89 closed

[2021-11-17 03:40] Poorunga commented on #97
/close

[2021-11-17 03:40] #97 closed

[2021-11-17 03:41] Poorunga commented on #105
fix in pr #175

[2021-11-17 03:41] Poorunga commented on #105
/close

[2021-11-17 03:41] #105 closed

[2021-11-17 03:46] Poorunga commented on #168
At present, all services need a nodeName, but some custom endpoints+services do not have a nodeName and need to deal with this situation.

[2021-11-17 07:29] 93425129 commented on #114
We use mesh just want to find the service in cluster, when the outside of cluster, such as our external domain, the private harbor repo, we want to forward the /etc/hosts or upstream dns.
But the dns module in the edgemesh-agent can not lookup the external domain's ip, or forward to other dns.
just try twice, used 10s,  logs like this:
E1117 07:19:21.323516       1 dns.go:70] service reverse clust

[2021-11-17 08:16] Poorunga commented on #114
@93425129  OK we are fixing this problem

[2021-11-17 08:30] #7 closed

[2021-11-17 08:31] muxuelan commented on #7
Done

[2021-11-17 08:31] muxuelan commented on #6
Done

[2021-11-17 08:31] #6 closed

[2021-11-17 10:42] Poorunga commented on #162
/close

[2021-11-17 10:42] #162 closed

[2021-11-18 07:24] vickiyan opened #185 "Edgemesh-agent cannot connect to Edgemesh-server tunnel server"
**What happened**:
edgemesh-agent  cannot  establish connection with edgemesh-server successfully. error is as below:
![366867407289700629](https://user-images.githubusercontent.com/8022093/142369189-63a6e135-54cc-4da4-a270-6aba5de73076.jpg)

**What you expected to happen**:
edgemesh-agent can establish connection successfully.
**How to reproduce it (as minimally and precisely as possible)**:
kube

[2021-11-19 03:36] zhu733756 commented on #179
Thanks！

[2021-11-19 03:36] #179 closed

[2021-11-19 06:02] #155 closed

[2021-11-21 09:54] vickiyan commented on #185
感觉和下面的问题有点像
https://github.com/libp2p/go-libp2p/issues/968

[2021-11-22 01:26] khalid-jobs commented on #185
Do you try to connect 30.23.5.58:40001 in edgemesh-agent container?

[2021-11-22 01:50] khalid-jobs commented on #185
/assign

[2021-11-22 01:50] khalid-jobs commented on #182
/assign

[2021-11-22 01:52] Poorunga commented on #17
/close

[2021-11-22 01:52] #17 closed

[2021-11-22 01:52] Poorunga commented on #69
/close

[2021-11-22 01:52] #69 closed

[2021-11-22 01:53] Poorunga commented on #132
/close

[2021-11-22 01:53] #132 closed

[2021-11-22 01:57] Poorunga commented on #141
refer to PR #189

[2021-11-22 01:58] khalid-jobs commented on #176
@zyliu0402 Do you have any problem with this issue? If not, you can close this issue.

[2021-11-22 02:01] khalid-jobs commented on #166
We need to support multi advertise address for edgemesh and figure out how the libp2p fetch the ip

[2021-11-22 02:01] khalid-jobs commented on #166
/kind feature

[2021-11-22 02:17] #141 closed

[2021-11-22 02:46] #173 closed

[2021-11-22 03:05] #176 closed

[2021-11-22 07:57] dqzgkyh opened #194 "There is an error when i deployed edgemesh according to the tutorial"
**What happened**:

![图片](https://user-images.githubusercontent.com/58615473/142822266-803ae21e-469e-48c4-b495-6baa8fc8da74.png)

![图片](https://user-images.githubusercontent.com/58615473/142823910-5b2b20e5-767d-4ed7-9e84-a0323d2d13b7.png)
容器就没有日志；The container has no logs

**Anything else we need to know?**:

利用helm安装的，但是agent一直运行失败，并且对应的pod容器是没有日志的。也就是说，一运行就退出，没有任何有效的日志
Installed using helm, but

[2021-11-22 14:57] Poorunga commented on #194
可以使用docker ps -a | grep edgemesh-agent获取容器id，再使用docker logs <edgemesh-agent-container-id>查看日志信息。（即使因Error而退出的容器，也是可以看日志的）

pr #184 已经支持多架构构建edgemesh镜像了，而且我们已经制作了arm64的镜像并上传至dockerhub仓库中。所以你只需要在你的arm64的设备上使用 docker pull kubeedge/edgemesh-agent:latest 就可以获得最新的arm64架构的edgemesh-agent镜像了。

[2021-11-22 14:57] Poorunga commented on #194
/assign

[2021-11-23 03:22] 916264367 commented on #182
hello. After I tried again and again, Now only one pod is running. Edgemesh-agent is missing
![image](https://user-images.githubusercontent.com/51771785/142966853-67a2b895-6143-4d27-9b68-d36dafbd731e.png)

[2021-11-23 03:24] 916264367 commented on #182
so the log cannot be found in the edge-node-1

[2021-11-23 04:43] Poorunga commented on #182
use `kubectl get daemonset -n kubbedge` to see your edgemesh-agent DESIRE.

[2021-11-23 06:14] 916264367 commented on #182
![image](https://user-images.githubusercontent.com/51771785/142978459-d8afc85d-07d2-4306-adc4-17ac2a319db6.png)

[2021-11-23 06:17] 916264367 commented on #182
What does this picture show

[2021-11-23 06:17] Poorunga commented on #182
You can see edgemesh-agent DESIRED is 0.

See if you have configured node tolerance or taint.

https://kubernetes.io/zh/docs/concepts/scheduling-eviction/taint-and-toleration/

[2021-11-23 07:19] 916264367 commented on #182
I changed the version of Kubeedge to 1.8.0 and it was resolved

[2021-11-23 07:20] 916264367 commented on #182
![image](https://user-images.githubusercontent.com/51771785/142984216-b1bfc40e-019b-451b-b79d-4f7f670fa546.png)
I don’t know why, but thank you

[2021-11-23 10:53] nuckydong opened #200 "边缘端edgemesh-agent启动失败"
**What happened**:  边缘侧启动edegemesh-agent失败
![1637664690](https://user-images.githubusercontent.com/19926347/143011439-3cd4b5db-b260-4597-bc27-fd2d0024e0a1.png)
kubectl logs 没有任何日志
docker logs 也没有日志输出

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version: 1.8
- Kubernetes version

[2021-11-23 11:02] Poorunga commented on #200
请问你的edgenode-1是arm64的设备吗？

[2021-11-23 13:22] dqzgkyh commented on #194
是的，下图是类似的操作，手动获取边缘节点所有的容器，然后打印指定容器的日志，什么日志都没有（不过这是使用的上一版的arm64架构的镜像，**使用最新的镜像再次进行部署就可以成功运行了**）
![图片](https://user-images.githubusercontent.com/58615473/143030052-6cbaffde-029e-4684-85cd-99bcf60a9785.png)

使用最新的镜像之后，arm64架构的镜像就可以成功运行了（没运行的那个是arm32架构，没运行属实正常）
![图片](https://user-images.githubusercontent.com/58615473/143031190-fc221797-256c-4102-abbc-ac494096c6de.png)

![图片](https://user-images.github

[2021-11-23 13:48] dqzgkyh commented on #194
但是官网给的测试用例无法运行，日志里面显示的是 `exec user process caused: exec format error`。这个错误实际上就是之前不支持arm64架构会报的错。
![图片](https://user-images.githubusercontent.com/58615473/143035844-e39bcc76-7b74-4afb-bce4-421ba8aa7d22.png)

我明天再试试其他的镜像，再配合 service 进行测试

[2021-11-24 01:24] khalid-jobs commented on #182
so, if you use kubeedge 1.8.0, the edgemesh works fine, right?

[2021-11-24 01:24] Poorunga commented on #194
目前edgemesh只有 amd64 和 arm64两个架构的镜像

[2021-11-24 01:51] nuckydong commented on #200
对 arm64的设备

[2021-11-24 01:53] Poorunga commented on #200
之前的arm64镜像有点问题，昨晚修复了，你可以重新部署edgemesh试试。

最新的edgemesh-agent的arm64 imageID： 6b8a8e3466ba

[2021-11-24 02:19] nuckydong commented on #200
好的 我试一试 谢谢

[2021-11-24 02:31] Poorunga commented on #200
/assign

[2021-11-24 03:01] JensenJian opened #201 "Docker pull fail in intranet env"
**What happened**:
Currently, I am using edge mesh in the intranet.  when I try to use the docker pull, it shows:

FATA[0000] pulling image: rpc error: code = Unknown desc = failed to pull and unpack image "docker.io/kubeedge/edgemesh-agent:latest": failed to resolve reference "docker.io/kubeedge/edgemesh-agent:latest": failed to do request: Head "https://registry-1.docker.io/v2/kubeedge/edgemesh-

[2021-11-24 04:59] nuckydong commented on #200
好了 感谢

[2021-11-24 04:59] #200 closed

[2021-11-24 06:23] khalid-jobs commented on #194
arm32的可以试试自己编译，`PLATFORMS` 添加 `linux/arm/v7`, https://github.com/kubeedge/edgemesh/blob/main/Makefile#L28

[2021-11-24 06:25] Poorunga commented on #201
Your proxy ip 10.96.217.1 and k8s clusterIP are in conflict.

[2021-11-25 02:34] lynxcat opened #204 "Add a socks5 proxy to support cloud SSH login to the edge"
**What would you like to be added/modified**:

Add a socks5 proxy to support cloud SSH login to the edge

**Why is this needed**:

**Design ideas**:
![image](https://user-images.githubusercontent.com/2222701/143366550-23b1ae83-3f65-4d98-b4c0-e147187945dc.png)

PR: [supoprt socks5 proxy](https://github.com/kubeedge/edgemesh/pull/189)

Chinese document:  [中文文档](https://www.processon.com/view/link/61

[2021-11-25 03:23] Poorunga commented on #204
/cc @kevin-wangzefeng

[2021-11-25 03:23] Poorunga commented on #204
/cc @fisherxu

[2021-11-25 09:01] dqzgkyh commented on #194
好的。再次感谢。

[2021-11-25 09:01] #194 closed

[2021-11-27 08:05] Poorunga opened #215 "edgemesh-agent built docker images in ARM64 will encounter a segment fault"
**What happened**:
edgemesh-agent build docker images in ARM64 will encounter a segment fault.

**What you expected to happen**:
edgemesh-agent running normally.

**How to reproduce it (as minimally and precisely as possible)**:
Build edgemesh-agent image in arm64 environment, use `make agentimage` then `docker run xxx`

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version: 1.8

[2021-11-27 08:05] Poorunga commented on #215
/cc @llhuii @khalid-jobs

[2021-11-27 08:05] Poorunga commented on #215
/assign

[2021-11-29 08:29] llhuii commented on #215
A golang program using golang plugin built by alpine image in ARM64 would be segment fault , I have created [an issue]( https://github.com/docker-library/golang/issues/402) in golang docker library.

`edgemesh-agent` => [`go-chassis`](https://github.com/go-chassis/go-chassis/blob/master/pkg/goplugin/plugin_enable.go) => `golang plugin`

[2021-11-30 09:39] Poorunga opened #220 "The edgedns module rewrites the host's /etc/resolv.conf, resulting in slower access"
**Working Principle of EdgeDNS**:

The edgedns is a submodule of edgemesh-agent, edgedns module will insert a nameserver into the /etc/resolv.conf file of the host, such as:

[code]

After edged(a edgecore submodule) pulls up the container, it will write the first three nameservers of /etc/resolv.conf into /etc/resolv.conf in the pod. DNS requests in the pod, such as 'svc-name.namespace.svc.cluste

[2021-11-30 09:40] Poorunga commented on #220
/assign

[2021-11-30 09:49] llhuii opened #221 "Add script to enable kubeedge Local Server instead of `vim`"
**What would you like to be added/modified**:

Edgemesh requires [Kubeedge Local Server](https://edgemesh.netlify.app/guide/getting-started.html#manual-installation), which requires cloudcore/edgecore reconfigure and restart.

I want to add automation script to enable this requirement instead of `login the edge node and then vim`

**Why is this needed**:
The users can easily copy and paste the scr

[2021-12-01 03:04] khalid-jobs commented on #182
/close

[2021-12-01 03:04] #182 closed

[2021-12-01 03:10] khalid-jobs commented on #166
It seems that the listener addr is depends on https://github.com/kubeedge/edgemesh/blob/main/server/pkg/tunnel/module.go#L68, if we use `0.0.0.0`, the edgemesh-server will listen on all ip in the host. And the https://github.com/kubeedge/edgemesh/blob/main/server/pkg/tunnel/tunnel.go#L13 will only fetch the loopback address and the globalUnicast address which also the can be fetch from `routing.Ro

[2021-12-01 03:18] khalid-jobs commented on #166
How to Solve These Problems
- [x] deduplicate the edgemesh-server address. https://github.com/kubeedge/edgemesh/pull/195
- [ ] EdgeMesh-Server provide `advertise address` configuration rather than publicIP, so the user can config the ips according their network.

[2021-12-01 03:23] khalid-jobs commented on #221
/assign

[2021-12-01 09:33] khalid-jobs commented on #221
All discussions are based on the scenario of installing kubeedge using binary ranther than container.
**CloudCore configuration automation**
1.  we can provide a shell file for users to run on the machine which cloudcore is running on. And the shell file will finish the cloudcore configuration and restart cloudcore

**EdgeCore confiruation automation**
1. I would like to use a k8s job to deploy a

[2021-12-02 01:50] lynxcat commented on #221
@khalid-jobs Maybe we can solve the problem in this way.

[code]
[code]

My own test
[code]

I didn't test it in kubeedge, but I think this idea should work

[2021-12-02 02:34] pengbinbin1 opened #224 "why not use the map ipBySvc ?"
When a service is added,the proxy controller will store the service's cluster IP into the map ipBySvc,the key is serviceName.namespace. In the dns module,when we request use the servicename.namespace,dns resolve the domain by the function APIConn.GetSvcIP,but why do not get clusterIP by the map ipBySvc?

[2021-12-02 06:31] khalid-jobs commented on #221
What docker and os version do you test? On my machine, I could not success and get the errror "Failed to connect to bus: No data available"
[code]
My docker and os version:

[code]
[code]

[2021-12-02 06:50] lynxcat commented on #221
this my docker and os version.

[code]

[code]

[code]

[code]

[2021-12-02 07:19] Poorunga commented on #224
Each module can only use its own controller

[2021-12-02 07:26] lynxcat commented on #221
I upgraded the kernel to 5. X, which is also effective

[code]

[code]

[2021-12-03 00:54] llhuii commented on #221
see https://stackoverflow.com/a/52125630 for systemctl host service in container

[2021-12-03 01:11] llhuii commented on #221
If edgecore is supposed to be managed by systemd, we can just pkill edgecore by sharing host pid namespace

[2021-12-03 01:28] llhuii commented on #221
Another thing: K8S Job can't make the specified script executed on every edge node, we need to do something hack with DaemonSet or use openkruise BroadcastJob something

[2021-12-03 01:30] llhuii commented on #221
one docker liner: `docker run -v /:/host --privileged --rm -i busybox:latest chroot /host systemctl restart edgecore`

[2021-12-03 01:35] khalid-jobs commented on #221
I will use the pod.spec.hostPID to share the host PID and try to do the task.
[code]

[2021-12-03 02:17] lynxcat commented on #221
Well, I'm looking forward to this feature

[2021-12-05 08:35] yz271544 opened #227 "edgemesh利用iptables劫持流量时遇到的问题分析"
本篇旨在学习介绍edgemesh通信原理，和运维过程中出现问题的排查过程，过程较为艰辛，中年不容易，贡献分享，不喜勿喷！

## 概念

1. 云边通信：云端容器，通过serviceName/clusterIP，访问边缘容器；
2. 边云通信：相对上面而言，反过来，边缘容器，通过serviceName/clusterIP，访问云端容器；
3. 边边通信：边缘主机上的容器，通过serviceName/clusterIP，访问该边缘主机或其他边缘主机的容器；

## edgemesh架构

kubeedge相比kubernetes，主要的提供了跨子网构建集群的方案；其最强大的特点就是让kubernetes不在局限于一个物理机房之内；集群中的主机节点可以在不同的私有局域网内。

不同私有网络之下的主机要进行相互通信，最主要的就是受限于防火墙NAT形态：

- 全锥形NAT

- 受限锥形NAT

[2021-12-06 03:28] Poorunga commented on #227
Good job, thank you for your work.
And we will continue to pay attention to this issue.

[2021-12-07 02:56] 916264367 opened #229 "pod/edgemesh-agent-7crgk error"
**What happened**:
that is cloud:
![image](https://user-images.githubusercontent.com/51771785/144957301-c8ef016f-7d20-411b-9c59-6a312df50b0d.png)
that is edge:
![image](https://user-images.githubusercontent.com/51771785/144957398-04724d3d-fc26-4073-9bc2-3f70bfcbc84b.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2021-12-07 03:04] khalid-jobs commented on #229
How do you install the edgemesh?

[2021-12-07 03:10] 916264367 commented on #229
This tutorial I refer to https://edgemesh.netlify.app/guide/getting-started.html#dependencies

[2021-12-07 03:13] 916264367 commented on #229
Manual Installation

[2021-12-07 03:13] 916264367 commented on #229
This tutorial I refer to https://edgemesh.netlify.app/guide/getting-started.html#dependencies

Manual Installation

[2021-12-07 06:30] ZBoIsHere opened #230 "EdgeMesh-Gateway need to be deployed in cloudnode"
**What would you like to be added/modified**:
edgemesh-gateway can deploy in cloud node
**Why is this needed**:
we want access gateway from not only edge side but also cloud side

[2021-12-07 06:43] khalid-jobs commented on #229
It seems that the edgemesh-agent do not get the <ApiServer-url>. Please let us see you configmap for edgemesh-agent. Try `kubectl get cm edgemesh-agent-cfg -n kubeedge -o yaml`

[2021-12-07 07:38] 916264367 commented on #229
![image](https://user-images.githubusercontent.com/51771785/144986573-6910b16b-cdc5-4296-a510-1ce4e6a19304.png)
![image](https://user-images.githubusercontent.com/51771785/144986646-09c98096-6335-42b1-9a68-b57062607c8f.png)

[2021-12-07 08:20] Poorunga commented on #229
把 configmap/edgemesh-agent-cfg 删掉再重新创建

[2021-12-07 08:24] khalid-jobs commented on #229
推荐直接使用helm安装，估计可能时你之前edgmesh的configmap版本导致部署有问题。目前master分支的内容时与helm里面的保持一致的。或者你可以手动把KubeAPIConfig的配置删除。

[2021-12-08 02:28] kason-huang opened #232 "Enhance Observability For EdgeMesh"
**What would you like to be added/modified**:
Enahnce observability(metrics, trace, logs) for EdgeMesh
**Why is this needed**:
Service observability is an important ability of the software system.  At present, EdgeMesh does not do any work for observability, and the operations staff of EdgeMesh cannot know the service status.  At the current stage, we want to support metrics monitor and then gradu

[2021-12-08 03:33] llhuii commented on #221
For edgecore:
[code]

Tested in https://github.com/kubeedge/sedna/pull/253

[2021-12-08 06:39] Poorunga commented on #38
/close

fix in pr #113

[2021-12-08 06:39] #38 closed

[2021-12-08 06:39] Poorunga commented on #39
/close

fix in pr #113

[2021-12-08 06:40] #39 closed

[2021-12-08 06:43] Poorunga commented on #181
/close

edgecore list-watch will receive a lot of delete service events cause: yolo-v5-aggregation not found
issue move to https://github.com/kubeedge/kubeedge/issues/3445

[2021-12-08 06:43] #181 closed

[2021-12-08 06:57] ZBoIsHere opened #234 "hostname app in examples only support x86, need support arm"
**What would you like to be added/modified**:
hostname app support arm64 arch
**Why is this needed**:
Robots are usually arm architecture

[2021-12-08 07:04] ZBoIsHere opened #235 "EdgeMesh-Server support HA"
**What would you like to be added/modified**:
EdgeMesh-Server support HA
**Why is this needed**:
EdgeMesh-Server only support single instance mode,Easy to cause a single point of failure

[2021-12-08 07:08] ZBoIsHere opened #236 "EdgeMesh-Agent support turn off hole punching option"
**What would you like to be added/modified**:
EdgeMesh-Agent support turn off hole punching option
**Why is this needed**:
robot usually use wireless, such as 4G, 5G, wifi and so on, the nat type of wireless always symmetrical nat which not support hole punching, in this situation, the user can turn off hole punch option to reduce unnecessary attempts

[2021-12-08 07:45] ZBoIsHere opened #237 "EdgeMesh support the configuration of the maximum number of retries when call microservice"
**What would you like to be added/modified**:
EdgeMesh support the configuration of the maximum retries times when call microservice
**Why is this needed**:
When accessing microservices, the request often fails for some reasons, so it needs to be retried. In microservice governance, the logic of retry should be completed by the microservice governance framework, namely EdgeMesh, so EdgeMesh is req

[2021-12-08 08:41] ZBoIsHere opened #239 "EdgeMesh support QUIC protocol proxy"
**What would you like to be added/modified**:
EdgeMesh support QUIC protocol proxy
**Why is this needed**:
Data from robot need to transfer to cloud continuously, so we want to use quic protocol for mulplex this connection

[2021-12-08 09:23] ZBoIsHere opened #240 "EdgeMesh support timeout when call microservices"
**What would you like to be added/modified**:
EdgeMesh support timeout when call microservices
**Why is this needed**:
When accessing microservices, the request often meet timeout for some reasons. In microservice governance, the logic of retry should be completed by the microservice governance framework, namely EdgeMesh, so EdgeMesh is required to configure the microservice timeout

[2021-12-08 12:37] srnbckr commented on #220
This seems to break the DNS functionality of pods spawned by KubeEdge Sedna: For "normal" pods started with i.e. kubectl, the edged service writes the correct nameserver in the /etc/resolv.conf of the pod, but Sedna pods started by i.e. a FederatedLearningJob crd don't get the update in /etc/resolv.conf and therefore can't reach cloud services.

[2021-12-09 01:44] Poorunga commented on #220
@srnbckr  FederatedLearningJob use hostNetwork, so you need config your job yaml like "dnsPolicy: ClusterFirstWithHostNet"

You can refer to: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-policy

[2021-12-10 06:50] lgy1027 opened #241 "deploy agent and gateway error::watch *v1alpha3.DestinationRule: failed to list *v1alpha3.DestinationRule"
Version
k8s: 1.9.8
kubeedge: 1.8.2
edgemesh: latest

An error message is displayed when the Agent and gateway are deployed
[code]
[code]

[2021-12-10 07:05] lgy1027 commented on #241
Metric reported an error when I deployed the agent
[code]

[2021-12-10 08:11] Poorunga commented on #241
Your edge list-watch seems to be a bit problematic.

Try `curl http://127.0.0.1:10550/api/v1/services` in your edge node. If the response is very slow, or the return is empty, maybe there is a problem.

[2021-12-14 01:07] lgy1027 commented on #241
[root@edge ~]# curl http://127.0.0.1:10550/api/v1/services | jq
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 15447    0 15447    0     0  2093k      0 --:--:-- --:--:-- --:--:-- 2154k
{
  "apiVersion": "v1",
  "items": [
    {
      "apiVersion": "v1",
      "kind": "Service",

[2021-12-14 01:19] Poorunga commented on #241
I1210 06:41:25.357285       1 trace.go:205] Trace[356726732]: "Reflector ListAndWatch" name:istio.io/client-go/pkg/informers/externalversions/factory.gen.go:116 (10-Dec-2021 06:41:15.355) (total time: 10001ms):

It seems that ListAndWatch takes 10s. Is the response of the local apiserver very slow?

[2021-12-14 01:43] lgy1027 commented on #241
Applications can also be deployed to the Edge, and logs can be seen. However, an error occurs during agent deployment and the MetiRCs cannot be used，Helm deployment and manual deployment were tried

[2021-12-14 02:02] Poorunga commented on #241
According to your error log, there may be a problem with kubeedge's list-watch function.

[2021-12-14 02:02] Poorunga commented on #241
Is your cloudcore deployed using containers?

[2021-12-14 02:19] lgy1027 commented on #241
Does kubeedge have an exchange group?

[2021-12-14 02:23] lgy1027 commented on #241
Another problem is that after deploying edgemesh, metrics cannot work
[code]

[2021-12-14 02:28] Poorunga commented on #241
edgemesh provides some examples(https://edgemesh.netlify.app/zh/guide/test-case.html), do they work properly?

[2021-12-14 02:29] Poorunga commented on #241
https://github.com/kubeedge/kubeedge#contact

[2021-12-14 02:32] lgy1027 commented on #241
Test passed
Currently only metrics can’t work normally, just uninstall the agent side of edgemesh.

[2021-12-14 02:43] Poorunga commented on #241
Try to curl metrics service's clusterIP， then show me edgemesh-agent logs

[2021-12-14 02:57] lgy1027 commented on #241
[code]
agent log

[code]

[2021-12-14 03:01] lgy1027 commented on #241
Query after uninstalling edgemesh
[code]

[2021-12-14 03:09] lgy1027 commented on #241
Sorry, it is ok now, just redeploy Edgemesh, it is probably the error caused by the previous permission setting
[code]

[2021-12-14 03:09] #241 closed

[2021-12-14 06:51] lgy1027 opened #244 "There is a chance that cloud side communication will fail"
Half the chance of success in cloud communication test
https://edgemesh.netlify.app/zh/guide/test-case.html#%E8%B7%A8%E8%BE%B9%E4%BA%91%E9%80%9A%E4%BF%A1

Cloud access edge
[code]
agent log:
[code]

Edge access cloud
[code]
Log
[code]

[2021-12-14 06:53] Poorunga commented on #244
yep, this example has some problem, we are troubleshooting.

[2021-12-17 06:22] Poorunga commented on #114
bug fixed in PR #245

[2021-12-17 06:23] Poorunga commented on #220
bug fixed in PR #245

[2021-12-17 06:23] #220 closed

[2021-12-17 06:25] khalid-jobs commented on #166
/close

[2021-12-17 06:25] #166 closed

[2021-12-17 06:29] Poorunga commented on #114
/close

[2021-12-17 06:29] #114 closed

[2021-12-17 06:34] Poorunga commented on #215
pr #245 uses the golang:1.17 image as the new compiled image, so this problem no longer exists.

[2021-12-17 06:34] #215 closed

[2021-12-20 15:04] Poorunga commented on #125
/close

[2021-12-20 15:04] #125 closed

[2021-12-21 01:50] Poorunga commented on #230
fix in pr #250
/close

[2021-12-21 01:50] #230 closed

[2021-12-21 03:41] lgy1027 opened #252 "The edgemesh-agent of the edge node reports an error"
When I deployed the agent, the agent of the edge node reported an error as follows. What is the reason?
[code]

[2021-12-21 08:51] Poorunga commented on #252
Try to add namespaces RBAC to cloudcore serviceaccount.

[2021-12-21 08:59] Poorunga commented on #252
It seems that the clusterrole of edgemesh-agent needs to add namespaces. I'm going to fix this problem right away.

[2021-12-21 09:02] Poorunga commented on #252
/assign

[2021-12-21 09:57] lgy1027 commented on #252
Added, no effect

[2021-12-21 10:11] Poorunga commented on #252
the clusterrole of edgemesh-agent needs to add namespaces

[2021-12-22 01:27] lgy1027 commented on #252
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-agent
  labels:
    k8s-app: kubeedge
    kubeedge: edgemesh-agent
rules:
  - apiGroups: [""]
    resources: ["pods", "endpoints","namespaces"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["secrets", "services", "configmaps"]
    verbs: ["get", "list", "watch", "create", "upd

[2021-12-22 01:28] #204 closed

[2021-12-22 06:10] pi-bit commented on #252
What version of kubenertes and kubeedge did you use? I used k8s 1.21.0 and kubeedge 1.9.1 and meet the same errors when deploy edgemesh agent.

[2021-12-22 08:31] lgy1027 commented on #252
k8s：1.19.8
kubeedge：1.8.2
edgemesh：images  latest

[2021-12-22 08:31] lgy1027 commented on #252
k8s：1.19.8
kubeedge：1.8.2
edgemesh：images latest

[2021-12-22 11:28] Poorunga commented on #168
fix in PR #254

/close

[2021-12-22 11:28] #168 closed

[2021-12-22 11:55] Poorunga commented on #252
fix this issue in PR #256

[2021-12-23 01:17] lgy1027 commented on #252
When I deploy the helm package of the main branch, I still report an error
[code]

[2021-12-23 02:27] Poorunga commented on #252
Is this edgemesh-agent on the cloud or edgemesh-agent on the edge?

[2021-12-23 02:57] Poorunga commented on #252
I see the clusterrole of cloudcore in: https://github.com/kubeedge/kubeedge/blob/master/build/cloud/03-clusterrole.yaml

should "list" be added in "namespaces"?
[code]

[2021-12-23 08:49] lgy1027 commented on #252
This kind of operation is fine

[2021-12-23 09:35] Poorunga commented on #252
@lgy1027 Do you mean that after modifying 03-clusterrole.yaml above, edgemesh will run normally?

[2021-12-25 01:23] Poorunga commented on #234
fix in PR #260

/close

[2021-12-25 01:23] #234 closed

[2021-12-28 01:15] lgy1027 commented on #252
yes

[2021-12-28 02:49] Poorunga commented on #252
Great, and maybe we can close this issue.

[2021-12-28 07:27] Poorunga commented on #236
fix in PR #264

/close

[2021-12-28 07:27] #236 closed

[2021-12-28 07:28] pi-bit commented on #252
Hi, when did you modify 03.clusterrole.yaml? before running keadm init or what? And I didn't see this file in my system, can you show me its directory? Thank you!!!

[2021-12-28 07:40] Poorunga commented on #252
@pi-bit  Try to `kubectl get clusterrole | grep cloudcore` and `kubectl edit clusterrole cloudcore`.

[2021-12-28 09:02] pi-bit commented on #252
I tried kubectl edit clusterrole cloudcore but it gets below errors.
![image](https://user-images.githubusercontent.com/57105389/147547739-4da4035f-a6f0-46eb-bf79-f402139f9ac4.png)
So I create a file name 03.clusterrole.yaml with above content, then kubectl apply -f 03.clusterrole.yaml? Is it oke to do that?
Then I deploy edgemesh-agent again and all pods go to this errors. (Its works normal befor

[2021-12-28 09:12] Poorunga commented on #252
@pi-bit  Is your cloudcore startup method a container or process?

[2021-12-28 09:41] pi-bit commented on #252
I used container to start up cloudcore.
Edgemesh used to work normally with k8s 1.21.0 and kubeedge 1.8.1, but now I can't init the keadm 1.8.1 version anymore. just keadm 1.9.1 init is fine. So I think kubeege 1.9.1 is not compatible with edgemesh?

[2021-12-28 09:52] Poorunga commented on #252
How did you install cloudcore and why your kubeedge cluster does not have the clusterrule of cloudcore?

I don't think so.  According to issue kubeedge/kubeedge#3489, it may be a kubeedge bug.

[2021-12-29 01:42] pi-bit commented on #252
https://kkh913.github.io/kubernetes/kubeedge-(2)-installation-on-ubuntu-/
I follow this instruction to install cloudcore (keadm). Sorry for korean's blog.

[2021-12-29 02:09] Poorunga commented on #252
It's OK, but I am not sure whether it has expired.

If you use a container to install cloudcore, you can refer to https://github.com/kubeedge/kubeedge/tree/master/build/cloud.

PS: KubeEdge official document: https://kubeedge.io/en/

[2022-01-11 10:50] Poorunga commented on #252
fix in pr: https://github.com/kubeedge/kubeedge/pull/3533

/close

[2022-01-11 10:50] #252 closed

[2022-01-17 03:29] Poorunga commented on #239
目前我们机器人团队主要有以下几个云边数据传输的场景：

[2022-01-17 03:44] suwu commented on #239
Our team mainly has the following scenarios of cloud-side data transmission that may use the quic protocol:
1. The roboagent on the edge needs to communicate with the datacollect on the cloud. The communication content includes data collection, trajectory upload, etc. At present, we use the long connection method of websocket to communicate. **(This is the most suitable scenario to use quic instea

[2022-01-17 06:41] Poorunga commented on #239
Currently, the path for edgemesh to proxy traffic is as follows:
1. Successful hole-punching: podA->edgemesh-agentA->edgemesh-agentB->podB.
2. Failed to hole-punching: podA->edgemesh-agentA->edgemesh-server->edgemesh-agentB->podB.

We call this network link between podA and podB the `edgemesh proxy tunnel`, Current edgemesh proxy tunnel uses the tcp protocol by default.

Therefore, edgemesh needs

[2022-01-18 08:41] markretallack opened #276 "EdgeMesh causing addition non-edge pods to be pulled to edge and run"
**What happened**:

When deploying the edgemesh, the device running the edgecore starts to "pull" and run pods that should not be running on the edge (nodeSelector prevents them).

**What you expected to happen**:

Pods with nodeSelector set for "cloud" to only be run on the cloud.

**How to reproduce it (as minimally and precisely as possible)**:

Deploy CloudCore, edgecore and then deploy edgeme

[2022-01-18 08:50] Poorunga commented on #276
What is your KubeEdge version?

[2022-01-18 08:54] markretallack commented on #276
Its from the head of kubeedge from last week, so 1.9+

https://github.com/kubeedge/kubeedge/tree/f457f96aa05b770070db24df54990a9c2993232a

[2022-01-18 09:07] markretallack commented on #276
Thanks, do not know how I managed to miss that issue in the kubeedge repo.

Mark

[2022-01-19 07:25] Poorunga commented on #276
/close

[2022-01-19 07:25] #276 closed

[2022-01-25 07:29] WintonChan opened #277 "Edgemesh need support Daemonset"
**What would you like to be added/modified**:

We hope that edgemesh can support Daemonset

**Why is this needed**:

In some scenarios，it need deploy a pod in every edge node and comunicate between cloud and edge. But edgemesh does not support headless service now.

[2022-01-26 03:04] WLBF opened #278 "CNI Support Cross-Subnet Pod Communication"
**What would you like to be added/modified**:
Support cross-subnet pod communication

**Why is this needed**:
It's common that cloud node can not reach edge node behind NAT. So It is a very important capability to allow pods to communicate across subnets. For example, prometheus stack adapt scrape model to pull data from exporters running on the nodes, It's barely possible using prometheus stack m

[2022-01-26 08:29] pengbinbin1 opened #279 "where is the offical image？"
I have serarched the image about edgemesn-agent on the dockerio.com,but i got a 404 ,where can i get the image

[2022-01-26 08:30] Poorunga commented on #279
docker pull kubeedge/edgemesh-agent:<tag>

[2022-01-26 08:35] pengbinbin1 commented on #279
i want the version about arm

[2022-01-26 08:49] pengbinbin1 commented on #279
And where is the difference between v1.8.0 and v1.8.0-48-gc8b6721?

[2022-01-26 09:31] Poorunga commented on #279
docker pull kubeedge/edgemesh-agent:<tag> in arm64 machine you will get a arm64 edgemesh-agent image

[2022-01-26 09:32] Poorunga commented on #279
v1.8.0-48-gc8b6721 is a test image don't use it

[2022-01-26 09:49] pengbinbin1 commented on #279
On the docker hub,the v1.8.0 do not have the arm version,are you sure i can get the v1.8.0 arm image on the  arm64 machine?

[2022-01-26 09:56] Poorunga commented on #279
You can get the v1.9.0 and latest arm64 image on the arm64 machine?
If you need an arm64 image of v1.8.0, I can build it for you

[2022-01-26 09:59] pengbinbin1 commented on #279
Yes i  need an arm64 image of v1.8.0, can you build it for me,thank you very much.

[2022-01-26 10:17] Poorunga commented on #279
Now you can try docker pull kubeedge/edgemesh-agent:v1.8.0

[2022-01-26 10:23] pengbinbin1 commented on #279
ok ,thank you !

[2022-01-27 06:53] #279 closed

[2022-01-27 06:57] Poorunga commented on #277
Requesting a headless service will return a list of pod ips, which are then load balanced by the application itself.
However, currently edgemesh does not support cross-edge cloud communication at the pod level.

[2022-01-28 02:13] WintonChan commented on #277
Will edgemesh support pod it

[2022-01-28 02:27] Poorunga commented on #277
Yes, edgemesh support for pod ip communication is planned. However, the exact plan is still very much up for discussion. I'm going to talk about what we're going to do:
1. edgemesh support cni plugin(such as flannel, calico). This ensures that each pod has a unique IP address.
2. edgemesh supports cross-subnet transport at the pod IP level

However, if the pod uses hostNetwork mode, the problem is

[2022-01-28 02:29] Poorunga commented on #278
Yes, edgemesh support for pod ip communication is planned. However, the exact plan is still very much up for discussion.

**what problem do we need to solve**:
- edgemesh supports cni plugin(such as flannel, calico). This ensures that each pod has a unique IP address
- edgemesh supports cross-subnet traffic transport at the pod IP level

However, if the pod uses hostNetwork mode, the problem is mo

[2022-02-08 08:09] yoseihouyn opened #286 "Hybrid-NAT failed, EDGE-MESH chain is not in the right order, cloud pod can not access edge service."
**What happened**:
Restart k8s node, sometimes EDGE-MESH chain is after KUBE-SERVICES chain(edgemesh-agent is started before kube-proxy), cloud pod can not access edge service:

# iptables -t nat -L PREROUTING
Chain PREROUTING (policy ACCEPT)
target     prot opt source               destination
cali-PREROUTING  all  --  anywhere             anywhere             /* cali:6gwbT8clXdHdC1b1 */
KUBE-SER

[2022-02-08 08:32] Poorunga commented on #286
Currently, you can only keep the EDGE-MESH chain in front of KUBE-SERVICES by deleting the chain and then recreating the edgemesh.

[code]
3 means the EDGE-MESH chain is in 3rd place

[2022-02-08 09:05] Poorunga commented on #286
When the KUBE-SERVICES chain exists, kube-proxy will not rebuild the KUBE-SERVICES chain. Rebuilding the KUBE-SERVICES chain will insert the first place in the system root chain (such as OUTPUT, PREROUTING). edgemesh also uses the same logic as kube-proxy to handle ipatbles chains.
Let's make an assumption: if kube-proxy and edgemesh rebuild their own chains and insert them into the first one ever

[2022-02-09 01:35] Poorunga commented on #239
EdgeMesh tunnel support quic transport in PR #281

[2022-02-09 02:35] yoseihouyn commented on #286
As per my understanding, Maybe we fix this issue by using init-container to check the readiness of kube-proxy container.
In the cloud node, maybe we can use the following comand to check:
`$(curl -k -o /dev/null -s -w %{http_code} https://10.96.0.1:443/api/v1/namespaces/default/services/kubernetes) == 200`
if kube-proxy and cni plugin is running, it will be success.

Another way is check the order

[2022-02-09 02:47] yoseihouyn commented on #286
calico CNI plugin use the second method to keep cali-PREROUTING chain always in the 1st order.

[2022-02-09 03:09] Poorunga commented on #286
I am more worried about whether edgemesh will always have various problems when inserting the EDGE-MESH chain into the 1st order. However, it is fine to ensure that EDGE-MESH is placed in front of the KUBE-SERVICES chain.

According to the method you proposed above, it is possible to ensure that EDGE-MESH is placed in front of the KUBE-SERVICES chain. Are you willing to solve this problem?

[2022-02-09 10:11] yoseihouyn commented on #286
Updated  05-daemonset.yaml file in the helm chart, and now it works fine...
The code as below:

`      initContainers:
        - name: prerequisite
          image: {{ .Values.initImage }}
          command: ['sh', '-c', '[ -f /etc/kubeedge/config/edgecore.yaml ] || [ -n "$(nc -v -z {{ .Values.kubernetesSvcIp }} 443 2>&1|grep open)" ]']
          volumeMounts:
            - name: edgecore-conf

[2022-02-09 10:20] yoseihouyn commented on #286
Let me find how to contribute codes to this project....

[2022-02-11 03:01] wuminsure opened #288 "edgemesh agent not work because of Observed a panic: "invalid memory address or nil pointer dereference""
**What happened**:

I install the edgemesh by helm,but the edgemesh agent is not wok,but the log not tell me what happend.the log is:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

I see the code of the error happend area,

[code]

it seem the *istioapi.DestinationRule not exist,I see the helm code of installing edgemesh ,it only install some crd of istio.

**Anything

[2022-02-11 03:44] Poorunga commented on #288
Can you try: kubectl get crds, then show me logs?

[2022-02-11 05:31] wuminsure commented on #288
[code]

[2022-02-11 06:33] Poorunga commented on #288
Has your cluster already created some DestinationRule resources? Use `kubectl get dr --all-namespaces` to get them. BTW, this nil pointer dereference problem is indeed an issue.

[2022-02-11 09:39] Poorunga commented on #288
OK, I will to fix this bug.

[2022-02-11 09:42] Poorunga opened #289 "Test load balancing under large-scale requests"
**What would you like to be added/modified**:
Test load balancing under large-scale requests

**Why is this needed**:
Some users report edgemesh load imbalance

[2022-02-11 09:43] Poorunga opened #290 "Update enableHolePunch helm charts and docs"
**What would you like to be added/modified**:
Update enableHolePunch helm charts and docs

**Why is this needed**:
Now we can't use helm disable/enable hole punching

[2022-02-14 11:22] Poorunga opened #291 "edgemesh auto-relay failed"
**What happened**:
edgemesh auto-relay failed

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

[2022-02-16 02:07] Poorunga opened #292 "Modify the labels of services filtered by edgemesh"
**What would you like to be added/modified**:
Because the filter label of kube-proxy is `service.kubernetes.io/service-proxy-name`, in order to unify the format, the filter label of edgemesh is changed to: `service.edgemesh.kubeedge.io/service-proxy-name`

[2022-02-16 12:19] vikarna opened #293 "coredns readiness probe failed after installing edgemesh"
HI, Below is the describe for the coredns pod. I have used kubeedge.

  Type     Reason     Age                  From     Message
  ----     ------     ----                 ----     -------
  Normal   Created    28m                  kubelet  Created container coredns
  Warning  Unhealthy  28m                  kubelet  Readiness probe failed: Get "http://10.40.69.200:8181/ready": read tcp 192.168.1

[2022-02-16 13:46] Poorunga commented on #293
show me `kubectl get all -n kube-system -owide`

[2022-02-17 02:40] Poorunga opened #294 "coredns is heavy in edge, replace with node-local dns cache"
**What would you like to be added/modified**:
coredns is heavy in edge, edgedns consider replace with node-local dns cache.

**Why is this needed**:

[2022-02-17 07:47] Poorunga opened #296 "add udp demo in document"
**What would you like to be added/modified**:
add udp demo in document

**Why is this needed**:

[2022-02-17 12:55] Poorunga opened #297 "Verify edgemesh config file when edgemesh starts"
**What would you like to be added/modified**:
Verify edgemesh config file when edgemesh starts

**Why is this needed**:

[2022-02-17 13:18] Poorunga commented on #293
Try `curl` again and show me edgemesh logs using `docker logs <edgemesh-container-id>`

[2022-02-17 13:48] vikarna commented on #293
docker logs edgemesh-agent
From Master
I0217 12:54:30.205430       1 handler.go:58] l4 proxy get tcpserver address: kworker1:172.17.0.8:9376
I0217 12:55:42.371370       1 proxy.go:42] clusterIP: 10.40.231.78, servicePort: 12345
I0217 12:55:42.371783       1 log.go:184] DEBUG: add [2] handlers for chain [tcp]
I0217 12:55:42.371964       1 handler.go:58] l4 proxy get tcpserver address: kworker1:172.

[2022-02-17 14:34] Poorunga commented on #293
[code]
Are your pod running normal?

[2022-02-17 14:50] vikarna commented on #293
Yes. I am not seeing any restarts. Do you suspect any iptables problem?

[2022-02-17 14:56] Poorunga commented on #293
It doesn't look like an iptables problem, because the traffic is correctly forwarded to the kworker.

Try `kubectl get pod ` to see your pod running status.

[2022-02-17 15:00] vikarna commented on #293
root@kmaster1:~# kubectl get pod hostname-edge-84cb45ccf4-88mxv
NAME                             READY   STATUS    RESTARTS   AGE
hostname-edge-84cb45ccf4-88mxv   1/1     Running   1          4h53m

I see the same ip for the two worker nodes below. Is this normal?

kubeedge      edgemesh-agent-75q64                      1/1     Running   2          143m    192.168.15.135   kworker1   <none>

[2022-02-17 15:00] Poorunga commented on #293
On my edge node, accessing pods through curl:
[code]

It is able to return something instead of `Connection refused`

[2022-02-17 15:03] vikarna commented on #293
Nope

root@kmaster1:~# kubectl get nodes -o wide
NAME       STATUS   ROLES                  AGE     VERSION                   INTERNAL-IP      EXTERNAL-IP   OS-IMAGE             KERNEL-VERSION     CONTAINER-RUNTIME
kmaster1   Ready    control-plane,master   28h     v1.20.15                  192.168.15.136   <none>        Ubuntu 20.04.3 LTS   5.4.0-99-generic   docker://19.3.15
kworker1   Ready

[2022-02-17 15:05] Poorunga commented on #293
This is very strange, edgemesh-agent is started using hostnetwork and will keep the same ip as the host...

[2022-02-17 15:08] vikarna commented on #293
Let me delete and create again

[2022-02-17 15:17] Poorunga commented on #293
You can try to deploy the hostname application directly without installing edgemesh. Then access it through curl podip:port in kworker. We need to rule this out first.

[2022-02-18 07:29] ZBoIsHere commented on #240
@Poorunga 微服务超时访问失败的能力，有计划提供支持吗？

[2022-02-19 08:27] Poorunga commented on #237
微服务在源端建立连接的失败重试机制：
https://github.com/kubeedge/edgemesh/blob/main/third_party/forked/kubernetes/pkg/proxy/userspace/proxysocket.go#L91-L118
[code]

微服务在目的端建立代理连接的失败重试机制：
https://github.com/kubeedge/edgemesh/blob/main/agent/pkg/tunnel/proxy/proxy.go#L94-L125
[code]

每次拨号失败，都会休眠几秒，再重新拨号，超过最大重试次数后失败。这是否是您想要的微服务访问失败重试的能力呢？

[2022-02-21 02:24] Poorunga commented on #294
done in #298

/close

[2022-02-21 02:24] #294 closed

[2022-02-21 15:00] Poorunga commented on #291
fixed in PR #301

/close

[2022-02-23 11:39] Poorunga commented on #290
fix in #302

/close

[2022-02-23 11:39] #290 closed

[2022-02-23 11:41] Poorunga commented on #177
fix this issue in PR #295

/close

[2022-02-23 11:41] #177 closed

[2022-02-23 11:41] Poorunga commented on #201
fix in this issue #295

/close

[2022-02-23 11:41] #201 closed

[2022-02-23 11:48] Poorunga commented on #224
/close

[2022-02-23 11:48] #224 closed

[2022-02-23 11:54] Poorunga commented on #296
fix in PR #306

[2022-02-23 11:54] Poorunga commented on #296
fix in PR #306

/close

[2022-02-23 11:55] #296 closed

[2022-02-23 12:42] Poorunga commented on #292
fix in PR #307

/close

[2022-02-23 12:42] #292 closed

[2022-02-24 14:58] abhinavjha126 commented on #293
@Poorunga
I am also facing the same issue
I have tried with and without edgemesh ,without edgemesh pods are working well and are not restarting.
Pods are restarting as soon as i deploy Edgemesh.
Dont know whats the issue and i also noticed that all edge nodes are having same ip.
What reason it could be??
![Screenshot 2022-02-24 at 7 36 47 PM](https://user-images.githubusercontent.com/85448474/1555

[2022-02-25 02:05] Poorunga commented on #293
@vikarna @abhinavjha126 Is your kubeedge version v1.9.0+?

Maybe it's because of this bug: https://github.com/kubeedge/kubeedge/issues/3489

Try rolling back the version of kubeedge to v1.8.2 to test again.

[2022-02-25 02:12] Poorunga commented on #288
fix in PR #295

/close

[2022-02-25 02:12] #288 closed

[2022-02-25 02:26] Poorunga commented on #289
fix in PR #309

[2022-02-25 02:28] Poorunga commented on #289
/close

[2022-02-25 02:28] #289 closed

[2022-02-25 06:19] abhinavjha126 commented on #293
@Poorunga my kubeedge version is 1.9.1
Is it for that reason we are facing issue??
Does kubeedge  v1.8.2 require golang??

[2022-02-25 06:52] Poorunga commented on #293
@abhinavjha126

You can install or not install the cni plugin. kubeedge and edgemesh don't care and are compatible with them.

A known kubeedge bug: https://github.com/kubeedge/kubeedge/issues/3489. The problem is caused by someone doing a list-watch of the pod. (edgemesh will list-watch pod then it tigger this bug...)

It is best to follow the official documentation of kubeedge: https://kubeedge.

[2022-02-25 07:07] Poorunga commented on #293
https://github.com/kubeedge/kubeedge/issues/3489 this bug is fixed in https://github.com/kubeedge/kubeedge/pull/3606

[2022-02-25 07:19] abhinavjha126 commented on #293
@Poorunga I will try kubeedge v1.8.2 and let u know whether pods are still restarting or not

[2022-02-28 13:06] abhinavjha126 commented on #293
@Poorunga I downgraded the version to v1.8.1 and it's working quiet nicely.Now pods are not restarting.Thanks a lot.
Can i get some advanced test cases to run on this???
Suppose if i shutdown 1 edge node then will all pods running on that node work???

[2022-02-28 14:06] abhinavjha126 commented on #293
@Poorunga I stopped one of the two nodes to test and when i restarted that node its not getting ready.What could be the reason??
And pod also got stuck in termination

![29db76d3-a0c8-49e5-9aa5-6bd86a807039](https://user-images.githubusercontent.com/85448474/155996709-532f5802-f161-47e4-a30b-d429bfa15054.jpg)

[2022-02-28 15:27] abhinavjha126 commented on #293
@Poorunga Is there any command or file path to enable or disable autonomy??
Please provide

[2022-03-01 01:26] Poorunga commented on #293
@abhinavjha126  This is a feature that is enabled by default.

[2022-03-01 04:17] abhinavjha126 commented on #293
@Poorunga What if i want to disable that feature..There will be some file from where i can disable that

[2022-03-01 06:29] pengbinbin1 opened #314 "if a service have more than one port, only one of the port can be used"
**What happened**:
I created a service on my server with 2 ports ,but when i curl the service with the port, only one of the 2 ports can be accessed,another one can not be accessed

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version:
- v.1.8.0
- Kubernetes version (use `kubect

[2022-03-01 07:52] Poorunga commented on #314
release-1.9 has fix this issue: https://github.com/kubeedge/edgemesh/blob/release-1.9/agent/pkg/chassis/registry/registry.go#L98-L115

You can patch it by yourself or upgrade edgemesh version.

[2022-03-01 08:28] pengbinbin1 commented on #314
OK， thank you

[2022-03-01 08:50] Poorunga commented on #293
@abhinavjha126  After learning some information about kubeedge, I found that the edge autonomy function cannot be turned off.

[2022-03-01 12:42] abhinavjha126 commented on #293
@Poorunga Thanks a lot.
Last query from my side
I want to check pod status when connection is unsable/break between core and edge.
What should i do or which ports should i stop to cut the connection between core and edge???

[2022-03-01 14:16] Poorunga commented on #229
/close

[2022-03-01 14:16] #229 closed

[2022-03-02 11:52] Poorunga commented on #30
fix in PR #316

[2022-03-02 11:52] Poorunga commented on #30
/close

[2022-03-02 11:52] #30 closed

[2022-03-02 12:05] Poorunga commented on #293
@abhinavjha126
I can't provide any answer, maybe you can move the question to: https://github.com/kubeedge/kubeedge/issues

[2022-03-03 01:49] pengbinbin1 commented on #314
I hvae patch it to edgemesh-agent v1.8.0 and i have build the image by the Dockerfile in edgemesh, but how can i build the image based arm?

[2022-03-03 12:03] vikarna opened #317 "Pods/Service inaccessible when connection between cloud node and edge node is down"
**What happened**:
Node not ready and pods went to pending state
**What you expected to happen**:
after breaking the connection between  cloud and  edge node, the pods and services should work normally
 **How to reproduce it (as minimally and precisely as possible)**:
Block the connection between cloud and edge node
**Anything else we need to know?**:

**Environment**:
- EdgeMesh version:  1.8.1
-

[2022-03-03 12:14] Poorunga commented on #293
/close

[2022-03-03 12:14] #293 closed

[2022-03-03 12:16] Poorunga commented on #314
make IMAGE_REPO=<your dockerhub name> IMAGE_TAG=latest push-all

[2022-03-03 12:17] Poorunga commented on #317
Print some edgemesh-agent logs

[2022-03-03 14:25] pengbinbin1 commented on #314
My branch is v1.8.0 .I  have checked the makefile in v1.8.0 and can not find the "push all".

[2022-03-03 14:26] pengbinbin1 commented on #314
And i want to build the arm64 image on my x86 server

[2022-03-03 14:29] Poorunga commented on #314
You can checkout branch to `main`, then refer to the Makefile and Dockerfile and hack/*.sh files of main branch. These files also can work on branch v1.8.0.

[2022-03-03 16:36] abhinavjha126 commented on #317
@Poorunga Here is the screenshot of node state not ready and pods are also terminating
![terminating](https://user-images.githubusercontent.com/85448474/156608938-bf7d5f85-9808-472d-803c-b604a680ac60.jpeg)
Here are the logs of edgemesh-agent
![edgemesh agent log](https://user-images.githubusercontent.com/85448474/156609072-71964a9b-5ff9-4f0d-b98e-e625cee4afd0.jpeg)
Here is the observation which i

[2022-03-04 07:47] pengbinbin1 commented on #314
thanks

[2022-03-04 07:47] #314 closed

[2022-03-04 07:49] Poorunga commented on #317
At this stage edgemesh-agent needs to connect to edgemesh-server

[2022-03-04 09:10] vikarna commented on #317
Can we deploy multiple edgemesh server instead of only one?

[2022-03-04 11:00] pengbinbin1 opened #318 "which mod edit the resolve.conf in the pod?"
I have read the code on version v1.8.0.  I konw that the edgemesh-agent will change the /etc/resolve.conf in the pod, and it will affect the resolve.conf on the host。 But I can not find which mod edit the resolve.conf in another pod, just like my tomcat pod ,the detail of the resolve.conf in the tomcat pod is also "nameserver 172.17.0.1"

[2022-03-04 13:22] Poorunga commented on #318
edged (kubelet-lite) copies the first three nameservers of /etc/resolv.conf on the host to /etc/resolv.conf in the pod

[2022-03-04 13:23] Poorunga commented on #317
The high availability design of edgemesh-server is in progress...

[2022-03-04 14:27] pengbinbin1 commented on #318
ok ,so if the pod is created before the edgemesh-agent, then the  /etc/resolv.conf will be incorrect?

[2022-03-04 14:43] Poorunga commented on #318
Yes, so edgemesh > 1.8 has been fixed this bug.

[2022-03-05 07:39] pengbinbin1 commented on #318
ok,thank you

[2022-03-05 07:39] #318 closed

[2022-03-06 10:53] vikarna commented on #317
Thanks @Poorunga. When is the release expected?

Please close this issue.

[2022-03-08 06:22] Poorunga commented on #317
@vikarna  Maybe in v1.11

/close

[2022-03-08 06:22] #317 closed

[2022-03-08 11:05] sdghchj opened #320 "bug: every informer runs twice"
I am reading the source code, find that there is no need to traverse the informers to run, just [here](https://github.com/kubeedge/edgemesh/blob/62f6e4f145b81be872401e3b26323af16fa3a983/common/informers/informers.go#L85),
because every informer has a pointer copy in the SharedInformerFactory and when [runing the factory](https://github.com/kubeedge/edgemesh/blob/62f6e4f145b81be872401e3b26323af16fa

[2022-03-08 11:24] Poorunga commented on #320
Will this cause this warning log:
[code]

[2022-03-08 11:27] sdghchj commented on #320
I am not sure. I just reviewed the code, have not run it yet.

[2022-03-10 05:58] yz271544 opened #323 "edgemesh-gateway visit local host service failed"
**What happened**:
we start two mosquitto container on the edge node 10.202.63.170 and 10.202.63.171, and start edgemesh-gateway on the 10.202.63.170.

visit the gateway port from outside, we can connected the 171's server, but don't connect the 170's server.

**Environment**:
- EdgeMesh version: v1.10.0
- Kubernetes version (use `kubectl version`): v1.17.17
- KubeEdge version(e.g. `cloudcore --ve

[2022-03-10 14:50] zz952332446 opened #325 "edgemesh‘s pod can’t work on the edge"
### master
* network: public server with public ip
* k8s:1.21.0 ( installed with kubeadm)
* keadm: 1.8.2
[code]
* kubeedge: 1.8.2

* edgemesh: installed with HELM :
[code]
I config edgemesh according to [EdgeMesh](https://edgemesh.netlify.app/zh/guide/getting-started.html)

### agent
* net: Campus Network
* keadm: 1.8.2
* kubeedge: 1.8.2

### question
edgemesh's pod can work on the master, but on

[2022-03-11 02:59] Poorunga commented on #325
1. checkout edgecore.yaml, need set clusterDNS and clusterDomain, metaServer need enable: true
2. test local apiserver in edge node, like: curl 127.0.0.1:10550/api/v1/services
3. print some edgemesh-agent logs for me

[2022-03-11 04:27] zz952332446 commented on #325
Thanks,
1. I set clusterDNS as 169.254.96.16, metaServer is enabled
2. I can get response
3. I try edgemesh again, log from edgecore is:[image-20220311121740305](https://gitee.com/hhyyzzzzz/image/raw/master/image/image-20220311121740305.png)

I can't start containers about edgemesh even use`docker start`
![image-20220311121758876](https://gitee.com/hhyyzzzzz/image/raw/master/image/image-2022031112

[2022-03-11 04:43] Poorunga commented on #325
Try deploy other test pod to edge node? such as nginx image

[2022-03-11 06:07] zz952332446 commented on #325
master deploy other pod to the edge without edgemesh？（my master and my agent
are not under the same network）

[2022-03-11 06:14] Poorunga commented on #325
Try `kubectl apply -f https://github.com/kubeedge/kubeedge/raw/master/build/deployment.yaml`, then observe that nginx can run normally on the edge node.

[2022-03-14 00:59] zz952332446 commented on #325
I can't deploy it on the edge node, because I don't deploy flannel and kube-proxy on the edge.
I  add nodeAffinity according to [this doc](https://kubeedge.io/zh/docs/setup/keadm/) in order to make edgemesh work well

[2022-03-14 01:25] Poorunga commented on #325
You can run pods on your edge nodes without kube-proxy and any cni plugin.

[2022-03-14 02:25] #323 closed

[2022-03-16 16:08] vikarna opened #327 "edgemesh gateway unable to find the service in another namespace"
**What happened**:
kubectl logs -n kubeedge   edgemesh-gateway-6c649d89fb-sgcdf
E0316 15:23:06.652338       1 http.go:77] route by http request uri err: service bound to the destination default.zbl-internal-nginx-service.zbl does not exist, reason: service "zbl-internal-nginx-service.zbl" not found
E0316 15:45:35.721900       1 http.go:77] route by http request uri err: service bound to the destin

[2022-03-17 06:51] Poorunga commented on #320
/close

[2022-03-17 06:51] #320 closed

[2022-03-17 07:04] Poorunga commented on #327
Could you print your gateway yaml?

[2022-03-17 07:16] vikarna commented on #327
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: edgemesh-gateway
spec:
  selector:
    kubeedge: edgemesh-gateway
  servers:
    - hosts:
        - '*'
      port:
        name: http-0
        number: 23333
        protocol: HTTP

[2022-03-18 10:22] Poorunga commented on #327
Your gateway, virtualService, service need in the same k8s namespaces

[2022-03-19 03:09] Mrzx0925 opened #328 "ssh_exchange_identification: Connection closed by remote host"
Error using edgemesh ssh proxy
![image](https://user-images.githubusercontent.com/52132244/159104354-b6f83106-1747-4c26-9bd0-4ce550ab0a5b.png)
Cloud agent log
![image](https://user-images.githubusercontent.com/52132244/159104370-ad15d3f8-609e-415c-8a34-0addd2fce2f9.png)
edge agent log
![image](https://user-images.githubusercontent.com/52132244/159104421-539194bc-b845-4005-b7f8-aabcada698f8.png)
Ex

[2022-03-19 16:05] Poorunga commented on #328
Maybe you can check your sshd first, refer to: https://phoenixnap.com/kb/fix-connection-reset-by-peer-ssh-error

[2022-03-20 02:21] Mrzx0925 commented on #328
I can directly ssh in through the edge IP address, but not through the edgemesh proxy. I have modified the relevant configuration according to your link, but it still cannot.

[2022-03-21 02:24] Mrzx0925 commented on #328
NodeA and nodeB are under the same LAN, and there is no log under edgemesh-agentA and edgemesh-agentB directly using the ssh command

[2022-03-21 06:39] Mrzx0925 commented on #328
kubeeage verion 1.8.2,is the version correct?

[2022-03-21 07:07] Poorunga commented on #328
Can you deploy some edgemesh test cases to see if it works? Refer to: https://edgemesh.netlify.app/guide/test-case.html

kubeedge 1.8.2 is OK.

[2022-03-22 02:00] sdghchj commented on #327
May I ask why to constrain the namesapce of service to be the same as of the gateway?
This desgin results that the host field in the virtualService can only be filled with a serviceName and a FQDN will fail.

[2022-03-22 06:03] abhinavjha126 opened #329 "Is HTTP'S and gRPC supported by edgemesh???"
Hi i am using KubeEdge v1. 8.1.
On top of that i am using Edgemesh. Please tell whether this setup supports HTTPS and gRPC??

[2022-03-22 08:58] vcozzolino commented on #185
I have a similar problem with edgemesh v1.8.0.

I have a cluster with 4 edge nodes and 1 cloud node. In my case, only the `edgemesh-agent` running on the **cloud node** is not able to connect to the `edgemesh-server` with the following error:

[code]

The edgemesh-agents running on the edge nodes can connect without issues.

[2022-03-22 09:06] Poorunga commented on #329
Yes. Because edgemesh supports tcp, and https and grpc are based on tcp, so edgemesh can support them.

[2022-03-22 10:47] abhinavjha126 commented on #329
@Poorunga Can you please share the file or configurations which we can edit/add to enable gRPC protocol.gRPC is important for our application,please help me in enabling it.

[2022-03-22 11:12] Poorunga commented on #329
1. create your grpc-app-deploment.yaml
2. create your grpc grpc-app-service.yaml, server.yaml may like:
[code]
3. create them
[code]
4. Now, you can access it by grpc-app-service's clusterIP or domain name.
5. Done!

[2022-03-23 01:44] sdghchj commented on #329
I found the gateway don't support https

[2022-03-23 06:21] hhstu opened #330 "Tunnel-Server 部署支持 ha 吗"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version:
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

    - Hardware configuration (

[2022-03-23 06:41] Poorunga commented on #329
I need some logs.

[2022-03-23 06:41] Poorunga commented on #330
EdgeMesh HA mode is in designed.

[2022-03-23 07:33] sdghchj commented on #329
Sorry, no logs.
I reviewed the code [here](https://github.com/kubeedge/edgemesh/blob/main/agent/pkg/gateway/manager/server.go#L165) and saw that it seems to surppot `https`, but the gateway server doesn't listen on TLS，and [here](https://github.com/kubeedge/edgemesh/blob/main/agent/pkg/chassis/protocol/http/http.go#L65), gateway tries to read the http request object, then serialize it to binary st

[2022-03-23 08:52] lynxcat commented on #328
If you can SSH from NodeA to NodeB, maybe you can test SSH from nodeA to nodeA, or go into the container edgemesh-agentA and use SSH to NodeA.

[2022-03-28 11:31] abhinavjha126 opened #332 "Wildcard Gateway not supporting (*.mydomain.com)"
Hi,
I am using Kubeedge v1.8.1 and using edgemesh on top of it.I am unable to give "WILDCARD GATEWAY".Its not working for me.
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: edgemesh-gateway
  namespace: zbl
spec:
  selector:
    kubeedge: edgemesh-gateway
  servers:
    - hosts:
        - '*.mydomain.com'
      port:
        name: http-0
        number: 12345
        prot

[2022-03-28 11:32] Prashantsaini25 commented on #329
@sdghchj Gateway support tls use
tls:
        cipherSuites:
          - 'TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA'
          - 'TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384'
          - 'TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256'
          - 'TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA'
          - 'TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256'
          - 'TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384'
          - 'TLS_ECDHE_ECDSA

[2022-03-28 13:27] Poorunga commented on #332
need your edgemesh-gateway logs

[2022-03-29 05:57] abhinavjha126 commented on #332
@Poorunga This is the log
2022-03-29T05:52:37.556126989+00:00 stderr F E0329 05:52:37.556110       1 server.go:133] get pb from conn err: no match virtual service
2022-03-29T05:52:38.859325747+00:00 stderr F I0329 05:52:38.859264       1 server.go:81] tls required
2022-03-29T05:52:38.859565574+00:00 stderr F E0329 05:52:38.859539       1 server.go:133] get pb from conn err: no match virtual servic

[2022-03-29 06:39] Poorunga commented on #332
[code]

Please show your gateway.yaml virtualService.yaml

[2022-03-29 06:48] Poorunga commented on #244
fix in #333

/close

[2022-03-29 06:48] #244 closed

[2022-03-30 05:23] abhinavjha126 commented on #332
**GATEWAY**
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  annotations:
  name: edgemesh-gateway
  namespace: abcd
spec:
  selector:
    kubeedge: edgemesh-gateway
  servers:
  - hosts:
    - ‘*.mydomain.com'
    port:
      name: http-0
      number: 80
      protocol: HTTPS

**VIRTUAL SERVICE**
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  annotation

[2022-03-30 13:38] abhinavjha126 commented on #332
@Poorunga
1 more query
How can i curl this in some other namespace

$ kubectl exec -it alpine-test -- sh
(in the container environment)
/ # curl hostname-svc:12345
hostname-edge-5c75d56dc4-rq57t

[2022-03-30 20:23] abhinavjha126 commented on #332
@Poorunga Please help

[2022-03-31 02:35] #330 closed

[2022-03-31 11:22] abhinavjha126 opened #335 "Unable to access URL!!"
I am using Kubeedge version v1.8.1
---------------------------------
**GATEWAY**
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: edgemesh-gateway
  namespace: abcd
spec:
  selector:
    kubeedge: edgemesh-gateway
  servers:
    - hosts:
        - ‘app.mydomain.com’
      port:
        name: http-0
        number: 80
        protocol: HTTP
---------------------------------

[2022-04-01 07:46] Poorunga commented on #335
You need a DNS for domain name resolution, or you can configure domain name to IP mapping in /etc/hosts.

[2022-04-01 09:30] Banghao-BYR opened #336 "Connection closed by foreign host"
测试edgemesh的时候云边通信案例，一直连接不上，请问怎么解决
<img width="614" alt="image" src="https://user-images.githubusercontent.com/71920251/161236660-d3c03f45-2668-4e9f-97bf-fa757e94510d.png">

[2022-04-01 10:16] abhinavjha126 commented on #335
@Poorunga I have this domain open as "http://app.mydomain.com/" . Can i open different url's like "http://app.mydomain.com/app", "http://app.mydomain.com/mongo" from this by making virtual service???

[2022-04-02 16:54] #336 closed

[2022-04-05 05:46] vikarna commented on #332
multiple virtual services are not working.

For example
gateway: *.abc.com
vs1: app.abc.com
vs2: test.abc.com
vs3: new.abc.com

Is this expected behavior?

[2022-04-05 10:03] abhinavjha126 commented on #332
@Poorunga Any solutions??

[2022-04-07 06:02] seven-07-11 opened #338 "edge node cannot access the service with clusterip"
kubernetes1.20
kubeedge1.8.2
edgemesh:last
kube-proxy and coredns not scheduling in edge node，edgemesh deployment successful

I can't access services through podip or service

[2022-04-07 06:08] seven-07-11 commented on #338
Can cloud services be accessed from edge nodes？How to configure it? How to configure? Is there a correct configuration tutorial

[2022-04-07 06:42] seven-07-11 commented on #338
![M%G5 MGHVNCMD(Q}UWAILTB](https://user-images.githubusercontent.com/62531302/162135698-2179082f-b219-469a-8fc6-17c45ac274b7.png) edgemesh-server log
![592IC25504XMC0_~G $PCNF](https://user-images.githubusercontent.com/62531302/162135837-bb452a4c-3e5a-4a6f-955c-cc2fb9b64cdb.png)cloudcore log
![image](https://user-images.githubusercontent.com/62531302/162136039-2aaf2632-42b7-4f4e-b01c-8eb6a8b05c0a.

[2022-04-07 06:59] Poorunga commented on #338
need some edgemesh-agent log

[2022-04-07 07:25] Poorunga commented on #338
edgemesh only support access services by clusterip or services DNS name.

[2022-04-07 10:58] seven-07-11 commented on #338
Sorry for my late reply, I access service through clusterip, but there was no response. There was no problem accessing in the cloud node
![image](https://user-images.githubusercontent.com/62531302/162166449-fe9bdd0e-6676-47aa-ba29-e5c9aa1883bf.png)

**edgemesh-agent-master log**
![3~T5Y5}BOXB)$ )X@@Q}3DR](https://user-images.githubusercontent.com/62531302/162183143-f4464488-189f-4726-8b65-78133a30

[2022-04-07 11:07] seven-07-11 commented on #338
I use binary to deploy kubeedge,
Using helm to deploy edgemesh, the configuration of edgemesh has not been modified after successful deployment. Do I need to modify it?Or Kube proxy and coredns?
![%Z(QOGD2Q4IJ(U4FA7(UNFF](https://user-images.githubusercontent.com/62531302/162185289-daad44ed-d52d-4d89-b7dc-4b4f12e00d5b.png)

[2022-04-07 11:24] seven-07-11 commented on #338
I also found a problem. When deleting the service endpoint, I can access the service through clusterip: curl (52) empty reply from server
However, when the endpoint exists, I can access the service directly through podid, but I cannot access the service through clusterip
![image](https://user-images.githubusercontent.com/62531302/162188188-063ae0c2-bab9-45d4-bc64-d874205385ad.png)

[2022-04-07 11:25] seven-07-11 commented on #338
I also found a problem. When deleting the service endpoint, I can access the service through clusterip: curl (52) empty reply from server
However, when the endpoint exists, I can access the service directly through podid, but I cannot access the service through clusterip
![image](https://user-images.githubusercontent.com/62531302/162188188-063ae0c2-bab9-45d4-bc64-d874205385ad.png)

[2022-04-07 11:33] Poorunga commented on #338
The service whose cluster ip is 10.96.0.1 is a very special service. This is a service automatically created by k8s to access the kube apiserver. It is also an external service, and if you want to access it at the edge, some additional configuration is required.

[2022-04-07 11:33] Poorunga commented on #338
Let's start with some simple services, you can refer to edgemesh's test case: https://edgemesh.netlify.app/guide/test-case.html

[2022-04-07 11:58] seven-07-11 commented on #338
I deployed the joint inference service of Sedna. Edge needs to access port 5000 of cloud, but it cannot be accessed through clusterip. DNS resolution is normal
In the service test case, I deployed TCP test, and the service endpoint was deployed on edge node
The pod in edge can be accessed, but the pod in cloud cannot

And cross-edge-cloud test failed, and no other services were tested. It is certa

[2022-04-08 06:08] Poorunga commented on #338
This is a k8s knowledge, if your pod is a host network, you need to configure dnsPolicy like `dnsPolicy: ClusterFirstWithHostNet `, Please refer to kubernetes docs: https://kubernetes.io/zh/docs/concepts/services-networking/dns-pod-service/#pod-s-dns -policy

And how to fix your problem:
[code]

[2022-04-13 05:54] neiba commented on #328
i got same problem in v1.10.0, and i found edgemesh close conn between 169.254.96.16:10800 and 169.254.96.16:57802 after ssh proxy connected. https://github.com/kubeedge/edgemesh/pull/342

[2022-04-14 09:06] #239 closed

[2022-04-14 09:07] Poorunga commented on #185
@vcozzolino Seems to be using a different version of edgemesh-agent. You can checkout every edgemesh-agent image ID.

[2022-04-15 05:00] sdghchj opened #343 "LoadbalancerEx with ConsistentHashStrategy may pick up a wrong endpoint."
The member `services` of LoadbalancerEx is a map, and stores data like below:
key is struct with three elements:   [NameSpace, ServiceName, ServicePortName](https://github.com/kubeedge/edgemesh/blob/main/third_party/forked/kubernetes/pkg/proxy/userspace/loadbalancer_ex.go#L279)
value string format: NodeName:PodName:PodIP:ServiceTargetPort

However, the map member `strategyMap` of LoadbalancerEx st

[2022-04-15 06:26] LOMOGO opened #344 "我无法通过官方文档中的测试用例，可能是我的环境有一些问题，我请求各位的帮助，谢谢。"
**What happened**:
我无法通过官方文档中的测试用例，可能是我的环境有一些问题，我请求各位的帮助，谢谢。
**Anything else we need to know?**:
通过 k8s 查看我的节点信息可以看到：我有这些节点其中 kmain 和 knode1 是 k8s 部署的主从节点，kenode2 是 kubeedge 所在的边缘节点。
[code]
我是使用 helm 来部署的 edgemesh，如下：
[code]
对于官网文档中的 http 测试用例，这些 pod 是可以正常跑起来的：
[code]
当我进入部署在 k8s 节点上的 `alpine-test` 环境中执行测试用例中的实例命令时会收到：
[code]
这是部署在 knode1 节点上的 edgemesh-agent 容器日志信息，它报了一些错误：
[code]
这是部署在 kenode2 节点

[2022-04-15 08:11] sdghchj commented on #344
The endpoint of service `hostname` runs on kenode2.
It seems a wrong endpoint to kmain was picked.

[2022-04-16 02:26] Poorunga commented on #343
I think whether the key contains a port or not will not affect the choice of endpoint. In this case consistent hashing will share the same hash ring.

[2022-04-16 02:34] Poorunga commented on #344
去掉 kmain 节点的污点，让edgemesh-agent也部署在kmain节点上，即可解决问题。
去掉 kmain 污点参考如下命令：
[code]

[2022-04-16 03:00] Poorunga commented on #343
Hope to discuss this issue with you at the kubeedge community meeting

[2022-04-16 08:59] LOMOGO commented on #344
抱歉我回复晚了，你的回复似乎很有帮助，可以给出更加细节的内容吗

[2022-04-16 09:06] LOMOGO commented on #344
谢谢您的回复，抱歉我回复的晚了一些。按照大哥的帮助提示，去除了 kmain 节点的污点，我重新用 helm 部署了 edgemesh。现在的 edgemesh-server 以及 edgemesh-agent 结构如下：
[code]
但当我再次运行第一个 http 测试用例的时候不再报`get kmain addr from api server err: %!w()"` 的错误，但是我发现部署在 knode1 节点上的 edgemesh-agent 汇报了这样的错误：
[code]
请问您可以再次帮助我吗，谢谢。

[2022-04-16 09:28] Poorunga commented on #344
看看所有edgemesh-agent的image ID, 必须保证他们都是一样的，使用 `docker images | grep edgemesh-agent` 查看

[2022-04-16 09:37] LOMOGO commented on #344
大哥太帅了，果然不同，问题出现在 kmain 节点上，他的 edgemesh-agent 的 image ID 是
[code]
而 knode1 和 kenode2 节点上的 edgemesh-agent image ID 都是：
[code]
请问我如何将这三个节点上的 edgemesh-agent 替换为同一个镜像，谢谢

[2022-04-16 09:39] LOMOGO commented on #344
我在 kmain 节点上手动拉取一下试试

[2022-04-16 09:41] Poorunga commented on #344
如果无法拉取到时间最新的 latest 镜像，可能是你的docker有问题。此时建议使用指定版本安装edgemesh：
[code]

[2022-04-16 09:45] LOMOGO commented on #344
谢谢哥的帮助，我去尝试解决一下。

[2022-04-16 10:07] LOMOGO commented on #344
哥说的没错，确实是 docker 方面的问题，我查看了镜像源，发现该镜像源中的镜像更新不及时，因此无法拉取到最新的 edgemesh-agent 镜像。我更换了镜像源之后解决了该问题，并通过了第一个测试用例。再次感谢您的帮助，我关闭该 issue 啦。谢谢！

[2022-04-16 13:25] #344 closed

[2022-04-18 05:26] abhinavjha126 opened #346 "Regarding accessing of HTTP and HTTPS Gateway simultaneously!!"
I am using Kubeedge version v1. 8.1.I am not able to add HTTP and HTTPS Gateway access together. What should I do??????

[2022-04-18 06:18] Poorunga commented on #346
If you don't provide some environment information, some yaml files of gateway,virtualservice, logs, etc, I won't be able to see any problem.

[2022-04-18 06:42] LOMOGO commented on #344
哥，您好，我是一位小白爱好者。‘请问您一个问题，希望请求您的帮助，假如以我当前的环境为例：我有一个 k8s master 节点`kmain` 、一个 k8s node 节点 `knode1` 以及一个边缘节点`kenode2`。我在`kmain` 节点上安装了 kubeedge cloudcore，在`kenode2` 节点上安装了 kubeedge edgecore。然后我通过 helm 在 knode1 节点上部署了 edgemesh-service(我不太清楚 edgemesh-service是部署到 k8s master 节点上更好，还是部署到 k8s node 节点上更好，请问哥 edgemesh-service 一般部署在哪个节点上？)、edgemesh-agent，与此同时 kenode2 上面也被部署上了 edgemesh-agent 、kmain 节点上由于去除了污点也部

[2022-04-18 14:33] abhinavjha126 commented on #346
@Poorunga This is my VIRTUAL SERVICE File

apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: edgemesh-gateway-svc
  namespace: zbl
spec:
  gateways:
  - edgemesh-gateway
  hosts:
  - '*.web.com'
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: nginx-custom
        port:
          number: 80

Please tell how can i add one more

[2022-04-19 03:04] Poorunga commented on #346
EdgeMesh only support one HttpRoute match now.

[2022-04-19 06:57] #343 closed

[2022-04-19 10:50] abhinavjha126 commented on #329
@Poorunga I installed grpc deployment and service through this command
kubectl run grpcserver --image=javierramos1/grpc_server --port=50051 --expose -n zbl

SERVICE FILE LOOKS LIKE THIS
![Screenshot 2022-04-19 at 4 14 11 PM](https://user-images.githubusercontent.com/85448474/163987728-08a4fbfc-eb6a-4681-9e6e-5d81a3a76c2d.png)

VIRTUAL SERVICE LOOKS LIKE THIS
<img width="286" alt="Screenshot 2022-0

[2022-04-19 11:34] abhinavjha126 commented on #329
How can i access this from outer world???I will have to make virtual service for that na?

[2022-04-20 01:39] Poorunga commented on #329
@abhinavjha126 Change the protocol from GRPC to TCP.

[2022-04-21 04:02] abhinavjha126 commented on #329
@Poorunga Thanku so much..Will try and tell u

[2022-04-25 06:51] abhinavjha126 opened #349 "How i can redirect from HTTP TO HTTPS in Nginx.conf????"
I am using KubeEdge v1.8.1.

My Nginx.conf looks like this

apiVersion: v1
kind: ConfigMap
metadata:
  name: confnginx
  namespace: default
data:
  nginx.conf: |
    user  nginx;
    worker_processes  1;
    error_log  /var/log/nginx/error.log warn;
    pid        /var/run/nginx.pid;
    events {
        worker_connections  1024;
    }
    http {
      include       /etc/nginx/mime.types;
      de

[2022-04-26 07:00] LOMOGO opened #350 "有关 github 页面中相同局域网之间的边缘节点的直接通信的原理的疑惑"
**Which jobs are failing**:

**Which test(s) are failing**:
当我阅读贵项目的 github 页面的文档描述中有一项描述让我感到疑惑，即在描述 edgemesh 的优势部分时有这样的描写：
[code]
您对边缘节点间通信分为了局域网和跨局域网，其中跨局域网的部分的通信原理我可以理解，但是我不理解局域网内的通信是直接通信这一描述。我对这直接通信的原理存在疑惑，即这些边缘节点之间是如何做到在没有类似 k8s 网络插件辅助的情况下实现直接通信的，原理是什么？如果把视野扩大一些，相同局域网中的不同节点（边云节点）间是如何通信的呢？
**Since when has it been failing**:

**Reason for failure**:

**Anything else we need to know**:
期待您的回复

[2022-04-26 09:08] Poorunga commented on #349
You can refer to: https://edgemesh.netlify.app/guide/edge-gateway.html#https-gateway

[2022-04-26 09:11] Poorunga commented on #350
直接通信的意思是，不需要打洞，两个edgemesh-agent本身就可以直接相连。

通过建立一个p2p数据隧道，可以参考：https://docs.libp2p.io/concepts/transport/

也是通过p2p数据隧道通信

[2022-04-26 09:22] LOMOGO commented on #350
谢谢您的回复，帮助我解决了这个疑惑。另外对于您的回复，我是不是也可以这样理解：即相同局域网下的 edgemesh-server 与 edgemesh-agent 之间也是不需要打洞直接相连的。

[2022-04-26 11:29] Poorunga commented on #350
是的

[2022-04-26 12:53] abhinavjha126 commented on #349
@Poorunga In that link http and https use are given separately....i want that http link is redirected to https...i want solution for that,please help

[2022-04-26 12:58] LOMOGO commented on #350
好的，再次谢谢您的回复

[2022-04-27 01:17] #350 closed

[2022-05-05 02:09] sdghchj commented on #346
A virtual service can only configure a single TCP service.

[2022-05-05 12:44] LOMOGO opened #351 "在 arm64 架构的平台上部署 edgemesh-agent，edgemesh-agent 部署错误，其日志报告 iptables...comment 未找到的错误"
**What happened**:
当我在 arm64 架构的平台上部署 edgemesh-agent 时， agent 部署失败，agent 的日志如下：
[code]
报告的错误似乎与 iptables 的特定功能相关
其部署的 arm64 机器上的 iptables 版本如下：
[code]
这个版本似乎和日志中的 iptables 不一致。
当我在该 arm64 机器上使用如下命令时其会报和上述日志中类似的错误：
[code]
**What you expected to happen**:
edgemesh-agent 在该 arm 机器上部署成功
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
对 iptables ..

[2022-05-07 19:24] vikarna opened #352 "websocket connection failing"
**What happened**:
Websocket connection fails over edgemesh-gw and vs
**What you expected to happen**:
websocket connection should get established
**How to reproduce it (as minimally and precisely as possible)**:
configure gw,vs,svc and pods for websocket usage
**Anything else we need to know?**:

########edgemesh gateway config############
apiVersion: networking.istio.io/v1beta1
kind: Gateway
met

[2022-05-09 16:00] abhinavjha126 commented on #329
@Poorunga
I am unable to access grpc .These are the files

**GATEWAY**

apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: edgemesh-gateway
  namespace: abcd
  spec:
  selector:
    kubeedge: edgemesh-gateway
  servers:
  - hosts:
    - ‘grpc-svc.web.com'
    port:
      name: grpc-0
      number: 9000
      protocol: TCP

**VIRTUAL SERVICE**

apiVersion: networking.istio.io/v

[2022-05-10 02:19] Poorunga commented on #351
目前来说，必须。

[2022-05-10 02:21] Poorunga commented on #352
Please provide edgemesh-agent logs.

[2022-05-10 04:08] vikarna commented on #352
#######edgemesh-gw#########
I0509 23:27:24.846112       1 http.go:137] destination svc is default.ws-svc
I0509 23:27:24.846250       1 log.go:184] DEBUG: add [2] handlers for chain [tcp]
I0509 23:27:24.846343       1 handler.go:58] l4 proxy get tcpserver address: worker:10.85.0.96:8080
I0509 23:27:24.866422       1 handler.go:108] l4 proxy start proxy data between tcpserver worker:10.85.0.96:8080

[2022-05-10 06:13] abhinavjha126 commented on #346
@Poorunga @sdghchj Can u please provide VirtualService for tcp protocol

[2022-05-10 06:26] abhinavjha126 commented on #346
Can u please send the virtualservice file

[2022-05-10 06:50] sdghchj commented on #346
[code]

[2022-05-10 07:44] Poorunga commented on #352
Need full edgemesh-agent log, when you use `./client --addr 192.168.64.18` command

[2022-05-10 07:57] vikarna commented on #352
I tried both with and without port.
/ # ./client --addr 192.168.64.18
connecting to ws://192.168.64.18/echo
read: websocket: close 1006 (abnormal closure): unexpected EOF
/ # ./client --addr 192.168.64.18:80
connecting to ws://192.168.64.18:80/echo
read: websocket: close 1006 (abnormal closure): unexpected EOF
/ #

Not much logs are seen. Everytime the last two lines are getting added.
#####Logs##

[2022-05-10 08:15] LOMOGO commented on #351
收到您的回复，感谢！

[2022-05-10 09:11] Poorunga opened #353 "EdgeMesh supports high availability architecture"
**Background**:

![image](https://user-images.githubusercontent.com/43004096/167587704-a63daf7b-1891-4dbc-8fa5-8924799587d4.png)

The current architecture of edgemesh is divided into two parts, edgemesh-agent and edgemesh-server. For edgemesh-server, its accusation are:
1. Assist two edgemesh-agents to exchange peer information and then try to punch holes.
2. Act as a relay server if the hole punc

[2022-05-10 09:11] Poorunga commented on #235
remove this issue to #353

/close

[2022-05-10 09:11] #235 closed

[2022-05-10 12:56] vikarna commented on #352
No, It's the node IP on which edgemesh gw is running. I have given the gw config above.

[2022-05-16 02:24] Aix6 commented on #338
May I have another question？
When I deploy the "Cloud access edge " test case, they are scheduled correctly. But when I try using the "Edge access cloud" test case, I get the error "telnet: bad address 'tcp-echo-cloud-svc.cloudzone'". What is the problem？

[2022-05-16 02:26] Aix6 commented on #353
May I ask other question？
When I deploy the "Cloud access edge " test case, they are scheduled correctly. But when I try using the "Edge access cloud" test case, I get the error "telnet: bad address 'tcp-echo-cloud-svc.cloudzone'". What is the problem？

[2022-05-17 02:30] WadeWuu opened #354 "edgemesh-agent is always pending."
I have one cloud node and seven edge nodes. I use the command to install the edgemesh.
helm install edgemesh \
--set server.nodeName=controller \
--set server.advertiseAddress="{192.168.66.45}" \
https://raw.githubusercontent.com/kubeedge/edgemesh/main/build/helm/edgemesh.tgz
controller is the cloud node name and 192.168.66.45 is the cloud node IP.
![image](https://user-images.githubusercontent.co

[2022-05-17 02:35] WadeWuu commented on #354
The log of edgemesh-agent on the controller node.
![image](https://user-images.githubusercontent.com/35893383/168716680-abf09cec-abc7-4785-a65e-38daeb35adf7.png)

[2022-05-17 02:39] WadeWuu commented on #354
The metrics-server ClusterIP is 10.111.112.155.
![image](https://user-images.githubusercontent.com/35893383/168717116-a0f8d818-3f51-45bd-a8e0-05013051d425.png)
It seems that edgemesh-agent can not find correct metrics-server ClusterIP.

[2022-05-18 08:22] #354 closed

[2022-05-23 03:34] hey-kong commented on #338
@Poorunga I have a similar problem, but it has nothing to do with joint inference service. I run this to deploy sedna:
[code]
[code]
edge node sedna local controller log:
[code]
edgemesh log:
[code]

[2022-05-23 07:50] 8183736 commented on #336
老哥怎么解决的

[2022-05-24 01:38] #351 closed

[2022-06-02 15:02] songxiang93 opened #355 "run lots of edgemesh-agent containerd in one edge node"
when I run damonset of edgemesh-agent, It is giving me a headache。
Each edge node runs 7 containers of edgemesh-agent just like this :
I use "crictl ps in the edge node":

CONTAINER IMAGE CREATED STATE NAME ATTEMPT POD ID
5dca92111b73b 9d055bb5d3ee9 8 minutes ago Running edgemesh-agent 0 a2f7b509d6df3
c62c19758aec9 9d055bb5d3ee9 8 minutes ago Running edgemesh-agent 0 ed0cb92149286
136d52205f522 9d

[2022-06-02 15:04] ppt93 commented on #355
![image](https://user-images.githubusercontent.com/106756188/171660082-755f2ec2-c6f2-41d4-81d6-9211a1bdfbb9.png)
![image](https://user-images.githubusercontent.com/106756188/171660299-96b17642-c16f-44d4-b1f9-1c3a4fbc71d3.png)
![image](https://user-images.githubusercontent.com/106756188/171660330-b8738ba8-6231-447b-bb99-462ee32b9b64.png)

[2022-06-11 04:55] JiaweiGithub opened #356 "Modify the deployment resource configuration，create a large number of edge pods"
**What happened**:
Modify the deployment resource configuration，create a large number of edge pods

**What you expected to happen**:
Create the correct number of edges

**How to reproduce it :
Change the configuration of the deployment, such as cpu, memory

**Anything else we need to know?**:
<img width="1071" alt="image" src="https://user-images.githubusercontent.com/8078735/173173209-3b8db3e5-ff

[2022-06-13 03:10] Poorunga commented on #356
Maybe a kubeedge bug, see issue: https://github.com/kubeedge/kubeedge/issues/3489

[2022-06-23 03:59] qa137 opened #359 "edgemesh gateway路由不稳定，总是随机指向其他目标服务"
edgemesh-gateway在多VirtualService情况，总是无法路由到指定服务。存在随机指向某一服务，且经常断开关闭。
<img width="910" alt="截屏2022-06-23 上午11 57 22" src="https://user-images.githubusercontent.com/3113623/175206084-363faf57-32f7-4874-b861-a12d65fc7bad.png">

[2022-06-23 06:53] mretallack opened #360 "TCP Echo Service Test (examples/tcp-echo-service.yaml) only works in default namespace"
**What happened**:

I have deployed the examples/tcp-echo-service.yaml test case.

When using the default namespace, it works. I can exec into the container running the tcp-echo and perform an nslookup on the service:

![Screenshot_2022-06-23_07-40-10](https://user-images.githubusercontent.com/5657057/175232317-63fd8991-b865-4e71-87ea-076e480654b4.png)

I can see edgemesh getting the DNS request:

[2022-06-23 07:56] Poorunga commented on #360
Can you provide the logs of all edgemesh-agent?

[2022-06-23 10:40] qa137 commented on #359
求助！部署edgemesh-gateway及相关server，gateway，VirtualService也配置正确后。在边缘端访问网关会出现一会儿能够连接，一会儿会找不到连接，或者链接到其他的服务地址。反正就是随机，很不稳定。我反复测试修改配置，始终无法解决

[2022-06-23 10:47] qa137 commented on #359
![1655981107689](https://user-images.githubusercontent.com/3113623/175281464-caf71ba5-5185-41e1-b266-f6147ba86e41.jpg)

[2022-06-23 10:47] qa137 commented on #359
<img width="1038" alt="截屏2022-06-23 下午6 47 13" src="https://user-images.githubusercontent.com/3113623/175281900-275a6f00-c1a5-483b-9763-ab6a6b25ece2.png">

[2022-06-24 09:23] 8183736 opened #361 "runtime error: invalid memory address or nil pointer dereference"
edgemesh-agent log:
root@ubuntu:~# docker logs -f 670d674efbdb
2022/06/24 17:12:22 INFO: Install client plugin, protocol: rest
2022/06/24 17:12:22 INFO: Installed service discovery plugin: edge
I0624 17:12:23.019276       1 server.go:55] Version: v1.10.0-12+597959bf325dbd-dirty
I0624 17:12:23.019337       1 server.go:89] [1] New informers manager
I0624 17:12:23.020340       1 server.go:96] [2] Pre

[2022-06-24 09:46] #359 closed

[2022-06-28 09:16] 8183736 commented on #336
用的啥版本，我发现重装后还是会出现这个报错，但是使用ssh隧道登录又OK

[2022-07-14 11:49] Poorunga commented on #361
Maybe a bug, we'll fix it

[2022-07-15 06:46] koulq commented on #173
你好，我这边也遇到类似的问题，edgemesh能否添加一个这样的配置，让使用者选择，对于云上业务多的，默认走云上的coredns和kube-proxy，对于边缘业务多的默认走edgemesh。

[2022-07-15 08:20] Poorunga commented on #173
@koulq 目前edgemesh-agent的DNS配置，默认在云上关闭，走云上coredns；默认在边缘开启，走edgemesh自己的dns。见：https://edgemesh.netlify.app/zh/reference/config-items.html#%E8%A1%A81-4-1-edgedns

 edgemesh支持使用service的label过滤不走edgemesh代理。见：https://edgemesh.netlify.app/zh/advanced/hybirdnat.html#%E7%9B%AE%E6%A0%87

[2022-07-15 08:41] koulq commented on #173
@Poorunga 你好，这两个配置我都知晓，我的意思是：1、关掉了云上的DNS配置，就无法实现跨边云了；2，通过label忽略一些service不走edgemesh，这个执行起来了稍微有点麻烦，因为对于部署云上业务和kubeedge共享一个集群的场景，云上业务都是已经部署好的，在进行修改有些不合适。有木有更好的解决办法，对于需要跨云边、边边访问的service走edgemesh（使用标签），默认的不走edgemesh

[2022-08-04 07:53] flyme001 opened #363 "Connect to server err: failed to dial(127.0.0.1:20004: connect: connection refused)"
k8s v1.21 kubeedge 1.9.2  edgemesh latest

[root@vm10 ~]# kubectl logs -f edgemesh-agent-4s9w7 -n kubeedge

2022/08/04 02:19:32 INFO: Install client plugin, protocol: rest
2022/08/04 02:19:32 INFO: Installed service discovery plugin: edge
I0804 02:19:32.427675       1 server.go:55] Version: v1.11.0-dirty
I0804 02:19:32.427704       1 server.go:89] [1] New informers manager
I0804 02:19:32.428300

[2022-08-04 08:03] flyme001 commented on #363
edgemesh demo 走了下
在edge上部署http 服务
[root@vm10 ~]# kubectl get pod  hostname-edge-84cb45ccf4-sxz54 -o wide
NAME                             READY   STATUS    RESTARTS   AGE   IP           NODE    NOMINATED NODE   READINESS GATES
hostname-edge-84cb45ccf4-sxz54   1/1     Running   0          57m   172.17.0.6   vm-42   <none>           <none>
[root@vm10 ~]# kubectl get svc hostname-svc
NAME           T

[2022-08-04 08:04] flyme001 commented on #363
看了下网上解决方案 rabc cloudcore 增加namespace 但是keadm 安装没有这个rabc

[2022-08-04 15:15] Poorunga commented on #363
edgemesh-server的advertiseAddress参数填写了吗？

[2022-08-11 15:39] shanchenggang opened #365 "Edgemesh-server pod roaming between k8s node and edge node"
**What happened**:
edgemesh-server-** pod on K8s node roaming between k8s node and edge, edgemesh-server-** pod on edge encountered Error.
**What you expected to happen**:
Deploy edgemesh on my k8s1.19.6 + kubeedge1.9.1 and test Service function.

**Environment**:
- EdgeMesh version:
- Kubernetes version (use `kubectl version`):1.19.6   one master + two k8s nodes + two edge nodes(Raspbettry Pi)
-

[2022-08-15 12:05] Poorunga commented on #365
This may be a known kubeedge issue. You can refer to: https://github.com/kubeedge/kubeedge/issues/3489

[2022-08-20 01:56] pengbinbin1 opened #367 "New membership request"
I have request to be a member about the kubeedge,can you agree +1 for me ? @Poorunga  https://github.com/kubeedge/community/issues/100

**What would you like to be added/modified**:

**Why is this needed**:

[2022-08-20 10:07] koulq opened #368 "edgeagent build fail"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- EdgeMesh version: 1.10.0
- Kubernetes version (use `kubectl version`):
- KubeEdge version(e.g. `cloudcore --version` and `edgecore --version`):
- <details><summary>Cloud nodes Environment:</summary>

    - Hardware configur

[2022-08-22 14:45] abhinavjha126 opened #369 "Monitoring solution for Edgemesh???"
Hi i am using Kubeedge v1.8.1.
Can you please suggest which monitoring solution is best for Kubedge+Edgemesh??

[2022-08-23 03:10] Poorunga commented on #368
need `go >= 1.17`

[2022-08-23 03:11] Poorunga commented on #367
done

[2022-08-23 03:11] #367 closed

[2022-08-23 03:13] Poorunga commented on #369
You can try to depolyment `Prometheus、Node_Exporter、PushGateway` in your kubeedge cluster.

[2022-08-23 07:34] shanchenggang commented on #365
i have looked up some issues: [https://github.com/kubeedge/kubeedge/issues/3489](url) , [https://github.com/kubeedge/kubeedge/pull/2808](url). It seems like that it has been solved in new version of Kubeedge. Subsequently, i try to install the latest KubeEdge version 1.11.1, but ecounter a new issue as follow:

![image](https://user-images.githubusercontent.com/46772842/186094037-2a102996-83bd-493

[2022-08-23 10:26] abhinavjha126 commented on #369
Node_Exporter,Alert-Manager pods are not able to schedule on edge.It shows error. Which alternative solution can i try??

[2022-08-29 01:34] shanchenggang commented on #365
Next, I tested Kubeedge V1.9.4, deployed Edgemesh, and found that edgemesh server and edgemesh agent worked fine.

![image](https://user-images.githubusercontent.com/46772842/187104280-3dab761b-0cd6-4c02-8c24-451f9e23f801.png)

Meanwhile, new problems have arisen.

We cannot get edgemesh agent's logs on Edge.
![image](https://user-images.githubusercontent.com/46772842/187104534-925dae94-e8ac-4935-

[2022-08-29 06:19] Poorunga commented on #365
This has nothing to do with edgemesh, you need to enable the stream function of kubeedge. You can refer to: https://kubeedge.io/en/docs/advanced/debug

Try to invoke your serivce by cluster ip like `telnet 10.68.153.163 6060` then show me some edgemesh-agent logs.

[2022-08-29 08:54] shanchenggang commented on #365
type 'docker logs 330a76652689' on edge node(192.168.0.164) and show edgemesh-agent logs as follows.
![image](https://user-images.githubusercontent.com/46772842/187156604-e8905401-e189-4364-8022-af8ac1643b30.png)
![image](https://user-images.githubusercontent.com/46772842/187157034-0bb6d523-feb5-4a37-b15a-04aea365254e.png)

Invoke the Service task-svc-1 by cluster ip (10.68.114.62:6060) in workflo

[2022-08-29 12:46] Poorunga commented on #365
Impotant Error Info: dail tcp 127.0.0.1:10550

You need to enable your edgecore metaServer config.

[2022-08-29 14:34] shanchenggang commented on #365
The log above is obtained after the edgecore metaServer config is enabled. In other words, the edgecore metaServer startup is not working.
![image](https://user-images.githubusercontent.com/46772842/187225581-00963dd6-37af-4633-8b46-56ae541fa53d.png)

[2022-08-30 07:26] Piwriw commented on #336
怎么解决的，重装还是这个问题

[2022-08-30 07:44] Poorunga commented on #365
You can submit an issue to kubeedge repo.

[2022-09-06 06:48] jason-i-vv opened #370 "Start stream server error listen tcp :10003: bind: address already in use"
**edgemesh and cloudcore use same port, which case a CrashLoopBackOff to cloudcore**:

**Can I use other ports that don't affect cloudcore**:

**deploy edgemesh by helm , then i got the cloudcore's CrashLoopBackOff**:

[code]

[2022-09-06 07:56] suojy opened #371 "Observed a panic: "invalid memory address or nil pointer dereference""
**What happened**:
edgemesh agent crashed and here is the log:
2022/09/06 15:41:40 INFO: Install client plugin, protocol: rest
2022/09/06 15:41:40 INFO: Installed service discovery plugin: edge
I0906 15:41:40.587035       1 server.go:55] Version: -dirty
I0906 15:41:40.587081       1 server.go:89] [1] New informers manager
I0906 15:41:40.587626       1 server.go:96] [2] Prepare agent to run
I0906 1

[2022-09-16 05:54] fridayhub opened #373 "edgemesh server AdvertiseAddress support dns"
**What would you like to be added/modified**:
edgemesh server AdvertiseAddress support dns

**Why is this needed**:
if edgemesh server behind the elb or have multi node, server need expose domain for agent.

[2022-09-17 03:22] Poorunga commented on #373
This is indeed a feature worth supporting.
At present, the modification method can be obtained from https://github.com/multiformats/go-multiaddr:
[code]

[2022-09-20 04:32] cheng-hunter opened #374 "coredns解析外部域名使用TCP和UDP协议转发至上游dns服务器"
**What would you like to be added/modified**:
**当前代码**
![img](https://raw.githubusercontent.com/cheng-hunter/image/main/image4.png)
**修改代码**
  forward . {{.UpstreamServers}} {
        prefer_udp
  }
附coredns部分代码1
![img](https://raw.githubusercontent.com/cheng-hunter/image/main/image5.png)
附coredns部分代码2
![img](https://raw.githubusercontent.com/cheng-hunter/image/main/image6.png)

**Why is this need

[2022-09-20 06:21] Poorunga commented on #374
这样的修改是可以的，你看能不能将你的修改提交成PR

[2022-09-20 06:38] Poorunga commented on #371
Can show your destinationrule yaml file?

[2022-09-20 06:40] Poorunga commented on #370
edgemesh doesn't listen on port 10003, maybe some other process?

[2022-09-26 08:52] zz952332446 opened #379 "Cross-Edge-Cloud communication between pods failed"
## version
kubeedge:1.8.2
edgemesh: edgemesh (installed by kubectl apply)
* kube-proxy has been banned on the edge

![image](https://user-images.githubusercontent.com/34162360/192232201-32067097-076b-4c00-941a-8b5bf6f4bc62.png)

![image](https://user-images.githubusercontent.com/34162360/192230048-dbed6234-91bc-412a-9d00-d18ae52ee922.png)

## issue
When I deploy the case according to [Cross-Edge-C

[2022-09-26 12:54] Poorunga commented on #379
How does the command you install with helm look like?

[2022-09-26 13:09] zz952332446 commented on #379
helm install edgemesh --set server.nodeName=master’s name --set server.publicIP=Public IP https://raw.githubusercontent.com/kubeedge/edgemesh/main/build/helm/edgemesh.tgz

[2022-09-26 13:23] zz952332446 commented on #379
![C3E4ED50-F364-417A-AF4A-A626B5D96D73](https://user-images.githubusercontent.com/34162360/192287787-cde7629e-8da7-49e8-994a-68eee44069c1.png)

[2022-09-26 14:01] Poorunga commented on #379
helm install --set agent.image=kubeedge/edgemesh-agent:v1.9.0

[2022-09-27 02:54] zz952332446 commented on #379
I solve this problem
first, I didn't notice that the installation of helm is diffenrent from the ago version
second,  in [manual installation](https://edgemesh.netlify.app/guide/#manual-installation) , I didn't set the relayNodes in build/agent/resources/04-configmap.yaml

Now, I use  [manual installation](https://edgemesh.netlify.app/guide/#manual-installation)  to set the edgemesh, and the Cross

[2022-09-27 03:03] #379 closed

[2022-10-08 09:11] xiaoxiongmao-liu opened #386 "Empty reply from server request svc by gateway"
**What happened**:
 Empty reply from server request svc by gateway
![image](https://user-images.githubusercontent.com/24889764/194699838-bdf8aac2-0047-4bf7-a510-2c41544f8173.png)
![image](https://user-images.githubusercontent.com/24889764/194699470-1b86fcf5-b0b0-4b9e-8ba7-04065cc7c855.png)

**What you expected to happen**:
except normal response
**How to reproduce it (as minimally and precisely as

[2022-10-09 03:27] #370 closed

[2022-10-09 06:16] Poorunga commented on #386
Can you show some edgemesh logs? When "Empty reply from server" occurs

[2022-10-10 03:00] #356 closed

[2022-10-10 06:16] bluven opened #387 "Cross-Edge-Cloud communication failed"
**What happened**:
The Cross-Edge-Cloud test case provided in https://edgemesh.netlify.app/guide/test-case.html failed to pass.

[code]

**What you expected to happen**:

Edge pods can access cloud service

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
The edgemesh-agent info:
[code]

The resolv.conf file in busybox-sleep-edge pod:
[code]

S

[2022-10-10 06:49] siredmar opened #388 ""Failed to ensure portal" running kind cluster"
**What happened**:
I'm trying to run edgemesh on a kind cluster. I have one  control-plane node and two workers.
I want `default-worker` to act as a relay server.

[code]

This is my values.yaml
[code]
When i deploy the helm chart using my values.yaml i get two pods on my worker nodes
[code]

However the logs show, that there is some errors

[code]

and the other pod

[code]

Moreover: When i depl

[2022-10-10 07:23] bluven commented on #387
Another problem occured: I test [HTTP ](https://edgemesh.netlify.app/guide/test-case.html#http)test case again, a connection reset error happened:
[code]

[2022-10-10 07:40] Poorunga commented on #388
This log does not affect EdgeMesh usage. This error log just because both kube-proxy and edgemesh handle nodePort-type services.

[2022-10-10 07:44] Poorunga commented on #388
Can you print some edgemesh-agent logs when you exec `nslookup xxx` command?

[2022-10-10 08:42] siredmar commented on #388
Sure,
[code]

[2022-10-10 08:48] Poorunga commented on #388
There are two ways to fix your problem, you can choose one:
1. deploy edgemesh-agent to your node(default-control-plane):
[code]

2. Filter kube-dns service and don't let edgemesh proxy it:
[code]

[2022-10-10 09:40] bluven commented on #387
Interesting, I created another node egde3 which is located in a different subnet and when I execute `telnet tcp-echo-cloud-svc.cloudzone 2701`, it worked.

Somehow, I still couldn't make `curl hostname-svc:12345` work on pods on edge3 node.

[2022-10-10 10:26] siredmar opened #389 "Ability to invert service filter to disabled by default, setting label to service proxies"
**What would you like to be added/modified**:
I'd like a feature added that enabled the user to set the label to a specific service to get handeled by edgemesh.
Right now, when edgemesh is deployed all services are intercepted by edgemesh. This leads to the situation where one has to patch several services NOT to be handeled by edgemesh.

**Why is this needed**:
If i have 20 services running that

[2022-10-10 10:27] siredmar commented on #388
@Poorunga thanks! I think the issue is solved by ignoring the kube-dns service.
I opened a new issue #389 that targets the original problem with the setup.

[2022-10-11 06:58] Poorunga commented on #387
Can you print some edgemesh-agent logs when you exec `curl hostname-svc:12345`?

[2022-10-11 06:59] Poorunga commented on #389
This is a controversial issue.
If someone have 20 services running that are edge only and 1 or 2 services that are cloud only, what to do with these users?

[2022-10-11 09:41] siredmar commented on #388
@Poorunga
I just provisioned a RPI device and see strange behavior when resolving to both service and external hosts

Here you see logs of nslookup on www.google.com from the issuing pod and edgecore running on that node
<details>
Alpine Pod:

[code]

edgemesh-agent:

[code]

</details>

Resolving to `echo-svc.local-service.svc.cluster.local` and `echo-svc.local-service.svc`

<details>
Alpine pod:

[2022-10-11 10:15] siredmar commented on #389
For better configuration i propose something like follows.

I'd offer this feature with a new configuration option:
1. There is an option that tells: invert the current label behavior.
I didn't find the perfect name for it yet. So let's call it `invertServiceFilter` for now.

1.1 **invertServiceFilter: false:** (default)
The current behavior. All non-labeled services are handeled via edgemesh

1.2

[2022-10-12 09:47] bluven commented on #387
@Poorunga

The log of edgemesh-agent from client pod side:
[code]

The edgemesh-agent log from hostname-edge pod side:
[code]

[2022-10-13 03:04] Poorunga commented on #388
Are you enabled the cacheDNS?

[2022-10-13 03:07] Poorunga commented on #387
Are your pod(172.17.0.2:9376) normal?

[2022-10-13 03:08] Poorunga commented on #386
You need deploy edgemesh-agent to node default-edge-node

[2022-10-13 09:02] bluven commented on #387
@Poorunga I cleared the old resources and do these examples again and found another problem.

First let me show you the pods information:
[code]
All pods are ready.

Then I execute `curl hostname-svc:12345` in alpine-test pod:
[code]

I want to know what would happen if I execute `curl hostname-svc:12345` on another pod, so I create net-tool-edge3 pod:
[code]
As you can see, both alpine-test and n

[2022-10-13 09:30] siredmar commented on #388
Yes, i enabled cacheDNS

[2022-10-13 10:59] siredmar commented on #388
# Overall setup
I try to describe what my current setup looks like.

I have a [kind](https://kind.sigs.k8s.io) running locally on my laptop. The IP Address is 192.168.1.42. I have a RPi device running in my local WIFI with the IP 192.168.1.100.

On my laptop i configured the iptables, that every access to 192.168.1.42 on several ports i use to forward to localhost.
I then run `kubectl port-forward

[2022-10-14 01:07] Poorunga commented on #388
If you enable the cacheDN, then you must proxy kube-dns.

[2022-10-14 05:25] siredmar commented on #388
@Poorunga is there any note in the docs? It seems to me that there are plenty of obstacles that might seem obvious to solve to some people, but aren't at all for others.

[2022-10-14 08:17] 916264367 opened #392 "Installation failed. Some nodes start successfully and some fail"
**What happened**:
The installation method of edgemesh seems to have changed.
I followed the tutorial at this URL to install “https://edgemesh.netlify.app/zh/”. I set the relayNodes in the 04-configmap.yaml file according to the tutorial:
![image](https://user-images.githubusercontent.com/51771785/195795670-897de09e-96f9-467b-b79f-2945f4d680ab.png)
But after installation some POD are not started a

[2022-10-14 10:08] xiaoxiongmao-liu commented on #386
I deployed two services ,while I deploy two VirtualService,get the result
![image](https://user-images.githubusercontent.com/24889764/195821552-12fbfcf1-768c-4127-babf-6d4dfa3a60c3.png)
while I deploy a VirtualService ,get the result
![image](https://user-images.githubusercontent.com/24889764/195821553-9dd40418-6d89-4558-a34b-83d1b3477ef0.png)

[2022-10-17 15:43] Poorunga commented on #392
use `docker logs xxx` print some edgemesh-agent log

[2022-10-17 15:45] Poorunga commented on #388
No, the documentation has no corresponding instructions. You're right, I'll add the documentation later.

[2022-10-18 02:50] 916264367 commented on #392
This is Docker's log
![image](https://user-images.githubusercontent.com/51771785/196324222-e163042b-5a75-4036-bc56-1ffcedeb8b13.png)
The errors in logs are the same regardless of the master node or edge node.

[2022-10-18 02:51] Poorunga commented on #392
please use edgemesh-agent v1.12.0

[2022-10-18 07:06] 916264367 commented on #392
It is working. Thank you very much!

[2022-10-18 09:54] x810366146 opened #393 "Version selection problem"
K8s version: 1.17
kubeedge version: 1.9.2
docker version: 18.06.3-ce
I would like to ask which version of edgemesh should I select?

[2022-10-18 14:44] qimiao1 commented on #392
hello, I hava encount this problem too. but it still not works by using edgemesh-agent v1.12.0. How can I fix it?